Repository WordPress/wordpress-playground, pull requests merged in 2023-06, with the labels that each got.

#484 PHP: Expose the content-type header as $_SERVER['CONTENT_TYPE'] instead of $_SERVER['HTTP_CONTENT_TYPE'] (and content-length, too)
  packages/php-wasm/node/src/test/php.spec.ts
  packages/php-wasm/universal/src/lib/base-php.ts
  packages/playground/blueprints/src/lib/steps/client-methods.ts
Labels: Bug, PHP.wasm

#486 Update pre-commit hook to only format uncommitted files
  .husky/pre-commit
  package.json
Labels: Enhancement, Developer Experience

#490 PHP: Add listFiles options to IsomorphicLocalPHP and WebPHPEndpoint
  packages/php-wasm/universal/src/lib/index.ts
  packages/php-wasm/universal/src/lib/universal-php.ts
  packages/php-wasm/web/src/lib/web-php-endpoint.ts
Labels: Enhancement, PHP.wasm

#491 Blueprints: Support zipped assets without top-level folder
  packages/playground/blueprints/src/lib/resources.ts
  packages/playground/blueprints/src/lib/steps/activate-plugin.ts
  packages/playground/blueprints/src/lib/steps/install-asset.ts
  packages/playground/blueprints/src/lib/steps/install-plugin.spec.ts
Labels: Bug, Blueprints

#485 Playground website: Cache busting for remote.html
  packages/playground/website/src/lib/config.ts
  packages/playground/website/src/lib/hooks.ts
  packages/playground/website/src/lib/types.d.ts
  packages/playground/website/vite.config.ts
Labels: Bug, Browser

#494 Meta: Inline CI linting with cache warmup
  .github/workflows/ci.yml
Labels: Enhancement, Meta

#516 GitHub Workflow: Deploy docs site on push to trunk
  .github/workflows/ci.yml
  package.json
Labels: Documentation, Meta

#521 Automated deployments to playground.wordpress.net
  .github/workflows/deploy-website.yml
  .gitignore
Labels: Enhancement, Meta

#522 Add automation for deploying npm packages
  .github/workflows/publish-npm-packages.yml
Labels: Meta

#528 Docs: add WordCamp contributor day page
  README.md
  packages/docs/site/docs/01-start-here/01-index.md
  packages/docs/site/docs/14-contributor-day/01-index.md
Labels: Documentation

#530 Docs: Add a video to WordCamp Contributor Day page
  packages/docs/site/docs/14-contributor-day/01-index.md
Labels: Documentation, Enhancement, Contributing

#511 Doc: Link to the Playground-tools repo in the main README
  README.md
Labels: Documentation

#546 Persistent Playground: Sync between MEMFS and OPFS
  packages/docs/site/docs/08-query-api/01-index.md
  packages/php-wasm/compile/build-assets/esm-suffix.js
  packages/php-wasm/util/src/lib/semaphore.spec.ts
  packages/php-wasm/util/src/lib/semaphore.ts
  packages/php-wasm/web/public/php_5_6.js
  packages/php-wasm/web/public/php_7_0.js
  packages/php-wasm/web/public/php_7_1.js
  packages/php-wasm/web/public/php_7_2.js
  packages/php-wasm/web/public/php_7_3.js
  packages/php-wasm/web/public/php_7_4.js
  packages/php-wasm/web/public/php_8_0.js
  packages/php-wasm/web/public/php_8_1.js
  packages/php-wasm/web/public/php_8_2.js
  packages/php-wasm/web/src/lib/api.ts
  packages/php-wasm/web/src/lib/web-php.ts
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/index.ts
  packages/playground/node/src/index.ts
  packages/playground/remote/src/lib/boot-playground-remote.ts
  packages/playground/remote/src/lib/synchronize-php-with-opfs.ts
  packages/playground/remote/src/lib/web-wordpress-patches/index.ts
  packages/playground/remote/src/lib/worker-thread.ts
  packages/playground/website/src/components/browser-chrome/style.module.css
  packages/playground/website/src/components/playground-viewport/index.tsx
  packages/playground/website/src/components/select/index.tsx
  packages/playground/website/src/components/select/style.module.css
  packages/playground/website/src/components/version-select/index.tsx
  packages/playground/website/src/lib/hooks.ts
  packages/playground/website/src/main.tsx
  packages/playground/website/src/style.module.css
Labels: Enhancement, Browser, PHP.wasm

#549 Add a joinPaths() utility function.
  packages/php-wasm/util/src/lib/join-paths.spec.ts
  packages/php-wasm/util/src/lib/join-paths.ts
Labels: Enhancement, PHP.wasm, Developer Experience

#565 Remove the `tsx` extension from TypeScript imports
  packages/docs/site/docs/09-blueprints-api/05-steps.md
  packages/docs/site/docs/09-blueprints-api/07-json-api-and-function-api.md
  packages/docs/site/project.json
  packages/docs/site/src/components/Blueprints/BlueprintExample.mdx
  packages/docs/site/src/components/BlueprintsAPI/BlueprintStep.tsx
  packages/docs/site/src/components/BlueprintsAPI/BlueprintStepDescription.tsx
  packages/docs/site/src/components/BlueprintsAPI/BlueprintStepFunctionExample.tsx
  packages/docs/site/src/components/BlueprintsAPI/BlueprintStepJsonExample.tsx
  packages/docs/site/src/components/BlueprintsAPI/BlueprintStepParameters.tsx
  packages/docs/site/src/components/BlueprintsAPI/BlueprintStepRunButton.tsx
  packages/docs/site/src/components/BlueprintsAPI/BlueprintStepTabbedExample.tsx
  packages/playground/website/index.html
  packages/playground/website/src/components/site-setup-button/index.tsx
Labels: Enhancement, Meta

#563 Blueprints: Validate using JSON schema
  package-lock.json
  package.json
  packages/docs/site/docs/09-blueprints-api/01-index.md
  packages/docs/site/docs/09-blueprints-api/02-using-blueprints.md
  packages/docs/site/docs/09-blueprints-api/03-data-format.md
  packages/playground/blueprints/bin/generate-schema.js
  packages/playground/blueprints/project.json
  packages/playground/blueprints/public/blueprint-schema.json
  packages/playground/blueprints/public/schema-readme.md
  packages/playground/blueprints/src/lib/compile.spec.ts
  packages/playground/blueprints/src/lib/compile.ts
  packages/playground/client/bin/generate-schema.js
  packages/playground/client/project.json
  packages/playground/website/project.json
Labels: Enhancement, Developer Experience, Blueprints

#561 [Web] Don't force-reload the Service Worker
  packages/php-wasm/web-service-worker/src/initialize-service-worker.ts
  packages/php-wasm/web/src/lib/register-service-worker.ts
  packages/playground/remote/service-worker.ts
  packages/playground/remote/src/lib/boot-playground-remote.ts
  packages/playground/remote/vite.config.ts
Labels: Bug, Browser, Service Worker

#568 Make unused variables an ESLint error, not just a warning
  .eslintrc.json
Labels: Enhancement, Developer Experience

#471 PHP: Replace Worker Threads with Web Workers
  packages/docs/site/docs/11-architecture/08-browser-concepts.md
  packages/docs/site/docs/11-architecture/09-browser-tab-orchestrates-execution.md
  packages/docs/site/docs/11-architecture/11-browser-php-worker-threads.md
  packages/php-wasm/web-service-worker/src/initialize-service-worker.ts
  packages/php-wasm/web/public/.htaccess
  packages/php-wasm/web/src/lib/index.ts
  packages/php-wasm/web/src/lib/register-service-worker.ts
  packages/php-wasm/web/src/lib/worker-thread/spawn-php-worker-thread.ts
  packages/playground/remote/iframe-worker.html
  packages/playground/remote/public/.htaccess
  packages/playground/remote/src/lib/boot-playground-remote.ts
  packages/playground/remote/vite.config.ts
Labels: Enhancement, PHP.wasm, Breaking change

#567 Remove the remotePlaygroundOrigin website setting
  packages/playground/website/src/lib/config.ts
  packages/playground/website/src/lib/hooks.ts
  packages/playground/website/vite.config.ts
Labels: Enhancement, Developer Experience

#573 Website: Add Nightly to WordPress version picker
  .github/workflows/refresh-wordpress.yml
  packages/playground/blueprints/src/lib/compile.ts
  packages/playground/remote/src/lib/get-wordpress-module.ts
  packages/playground/remote/src/lib/worker-thread.ts
  packages/playground/website/src/components/site-setup-button/index.tsx
Labels: Enhancement, Browser

#570 Report errors encountered during bootPlaygroundRemote()
  packages/php-wasm/universal/src/lib/load-php-runtime.ts
  packages/php-wasm/web/src/lib/api.ts
  packages/php-wasm/web/src/lib/worker-thread/spawn-php-worker-thread.ts
  packages/playground/compile-wordpress/Dockerfile
  packages/playground/compile-wordpress/build-assets/esm-prefix.js
  packages/playground/compile-wordpress/build-assets/esm-suffix.js
  packages/playground/remote/remote.html
  packages/playground/remote/src/lib/boot-playground-remote.ts
  packages/playground/remote/src/lib/worker-thread.ts
Labels: Enhancement, Browser

#577 Embed support with third-party cookies disabled
  packages/playground/client/src/index.ts
  packages/playground/remote/remote.html
Labels: Enhancement, Browser

#548 playground.wordpress.net: Support mounting local files
  packages/docs/site/docs/08-query-api/01-index.md
  packages/playground/remote/src/lib/boot-playground-remote.ts
  packages/playground/remote/src/lib/opfs/bind-opfs.ts
  packages/playground/remote/src/lib/opfs/journal-memfs-to-opfs.ts
  packages/playground/remote/src/lib/opfs/opfs-memfs.ts
  packages/playground/remote/src/lib/opfs/types.ts
  packages/playground/remote/src/lib/playground-client.ts
  packages/playground/remote/src/lib/worker-thread.ts
  packages/playground/website/src/components/browser-chrome/index.tsx
  packages/playground/website/src/components/button/index.tsx
  packages/playground/website/src/components/button/style.module.css
  packages/playground/website/src/components/export-button/index.tsx
  packages/playground/website/src/components/import-button/index.tsx
  packages/playground/website/src/components/import-form/index.tsx
  packages/playground/website/src/components/modal/index.tsx
  packages/playground/website/src/components/modal/style.module.css
  packages/playground/website/src/components/playground-configuration-group/form.tsx
  packages/playground/website/src/components/playground-configuration-group/idb-opfs.ts
  packages/playground/website/src/components/playground-configuration-group/index.tsx
  packages/playground/website/src/components/playground-configuration-group/opfs-button.tsx
  packages/playground/website/src/components/playground-configuration-group/playground-available-in-opfs.ts
  packages/playground/website/src/components/playground-configuration-group/reload-with-new-configuration.ts
  packages/playground/website/src/components/playground-configuration-group/start-over-button.tsx
  packages/playground/website/src/components/playground-configuration-group/style.module.css
  packages/playground/website/src/components/playground-configuration-group/sync-local-files-button.tsx
  packages/playground/website/src/components/playground-viewport/context.ts
  packages/playground/website/src/components/playground-viewport/index.tsx
  packages/playground/website/src/components/site-setup-button/index.tsx
  packages/playground/website/src/components/site-setup-button/style.module.css
  packages/playground/website/src/components/spinner/index.tsx
  packages/playground/website/src/components/spinner/style.module.css
  packages/playground/website/src/forms.module.css
  packages/playground/website/src/lib/hooks.ts
  packages/playground/website/src/main.tsx
  packages/playground/website/src/types.ts
Labels: Enhancement, Browser, Developer Experience, [Feature] In-Browser Dev Environment

#579 Add clear error messages in wp-admin for plugin and theme directories
  packages/playground/remote/src/lib/web-wordpress-patches/index.ts
  packages/playground/remote/src/lib/web-wordpress-patches/wp-content/mu-plugins/2-nice-error-messages-for-plugins-and-themes-directories.php
Labels: Enhancement, Browser, Developer Experience, user experience

#519 bootPlaygroundRemote: Defer setting the iframe src initially, to prevent flash of unstyled content
  packages/playground/blueprints/src/lib/compile.ts
  packages/playground/remote/src/lib/boot-playground-remote.ts
Labels: Enhancement, Public API

#585 Remove HTML comments from Pull Request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Enhancement, Meta

#575 PHP: Dont log WASM error on exit status 0
  packages/php-wasm/node/src/lib/node-php.ts
  packages/php-wasm/node/src/test/php.spec.ts
  packages/php-wasm/universal/src/lib/index.ts
  packages/php-wasm/universal/src/lib/is-exit-code-zero.ts
  packages/php-wasm/universal/src/lib/wasm-error-reporting.ts
Labels: Bug, PHP.wasm

#593 Pin Lerna version to 6.6.2
  package.json
Labels: Bug, Meta
