Repository WordPress/wordpress-playground, pull requests merged in 2023-11, with the labels that each got.

#724 Add network support via fetch()
  packages/docs/site/docs/08-query-api/01-index.md
  packages/docs/site/docs/09-blueprints-api/03-data-format.md
  packages/php-wasm/universal/src/lib/universal-php.ts
  packages/playground/blueprints/public/blueprint-schema.json
  packages/playground/blueprints/src/lib/blueprint.ts
  packages/playground/blueprints/src/lib/compile.ts
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/index.ts
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/wp-content/mu-plugins/add_requests_transport.php
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/wp-content/mu-plugins/includes/requests_transport_fetch.php
  packages/playground/client/src/index.ts
  packages/playground/remote/src/lib/boot-playground-remote.ts
  packages/playground/remote/src/lib/setup-fetch-network-transport.ts
  packages/playground/remote/src/test/setup-fetch-network-transport.spec.ts
  packages/playground/website/public/plugin-proxy.php
  packages/playground/website/src/components/playground-configuration-group/index.tsx
  packages/playground/website/src/lib/make-blueprint.tsx
  packages/playground/website/src/main.tsx
  packages/playground/website/vite.config.ts
Labels: Enhancement, Browser, PHP.wasm, Networking

#738 [Blueprints] Always virtualize the wp-config.php constants in the defineWpConfigConsts step
  packages/playground/blueprints/src/lib/compile.spec.ts
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/index.ts
  packages/playground/blueprints/src/lib/steps/define-wp-config-consts.ts
  packages/playground/website/src/main.tsx
Labels: Bug, Developer Experience, Blueprints

#743 [UX] Dropdown menu instead of multiple unlabeled buttons
  packages/playground/website/src/components/browser-chrome/style.module.css
  packages/playground/website/src/components/button/style.module.css
  packages/playground/website/src/components/export-button/index.tsx
  packages/playground/website/src/components/export-button/style.module.css
  packages/playground/website/src/components/import-button/style.module.css
  packages/playground/website/src/components/modal/index.tsx
  packages/playground/website/src/components/playground-configuration-group/index.tsx
  packages/playground/website/src/components/toolbar-buttons/download-as-zip.tsx
  packages/playground/website/src/components/toolbar-buttons/reset-site.tsx
  packages/playground/website/src/components/toolbar-buttons/restore-from-zip.tsx
  packages/playground/website/src/main.tsx
  packages/playground/website/src/style.module.css
  packages/playground/website/src/styles.css
Labels: Enhancement, user experience, Accessibility

#733 Import code from GitHub repo
  .gitignore
  package-lock.json
  package.json
  packages/php-wasm/node/src/test/php.spec.ts
  packages/php-wasm/util/src/lib/index.ts
  packages/php-wasm/util/src/lib/paths.spec.ts
  packages/php-wasm/util/src/lib/paths.ts
  packages/playground/blueprints/public/blueprint-schema.json
  packages/playground/storage/.eslintrc.json
  packages/playground/storage/README.md
  packages/playground/storage/package.json
  packages/playground/storage/project.json
  packages/playground/storage/src/index.ts
  packages/playground/storage/src/lib/changeset.spec.ts
  packages/playground/storage/src/lib/changeset.ts
  packages/playground/storage/src/lib/github.ts
  packages/playground/storage/src/lib/playground.spec.ts
  packages/playground/storage/src/lib/playground.ts
  packages/playground/storage/tsconfig.json
  packages/playground/storage/tsconfig.lib.json
  packages/playground/storage/tsconfig.spec.json
  packages/playground/storage/vite.config.ts
  packages/playground/website/package.json
  packages/playground/website/public/oauth.php
  packages/playground/website/src/components/button/index.tsx
  packages/playground/website/src/components/button/style.module.css
  packages/playground/website/src/components/playground-configuration-group/index.tsx
  packages/playground/website/src/components/playground-viewport/index.tsx
  packages/playground/website/src/components/toolbar-buttons/github-import-menu-item.tsx
  packages/playground/website/src/github/acquire-oauth-token-if-needed.tsx
  packages/playground/website/src/github/analyze-github-url.spec.ts
  packages/playground/website/src/github/analyze-github-url.ts
  packages/playground/website/src/github/github-import-form/form.tsx
  packages/playground/website/src/github/github-import-form/github.tsx
  packages/playground/website/src/github/github-import-form/index.tsx
  packages/playground/website/src/github/github-import-form/modal.tsx
  packages/playground/website/src/github/github-import-form/style.module.css
  packages/playground/website/src/github/github-oauth-guard/index.tsx
  packages/playground/website/src/github/import-from-github.ts
  packages/playground/website/src/github/state.ts
  packages/playground/website/src/main.tsx
  packages/playground/website/tsconfig.app.json
  packages/playground/website/vite.config.ts
  packages/playground/website/vite.oauth.ts
  tsconfig.base.json
Labels: Enhancement, Browser, Developer Tools, In-Browser Dev Environment

#747 Add a ?blueprint-url Query API option to enable sourcing Blueprints from external URLs
  packages/docs/site/docs/08-query-api/01-index.md
  packages/playground/website/src/lib/resolve-blueprint.ts
  packages/playground/website/src/main.tsx
Labels: Enhancement, Browser, Developer Tools

#748 Add php.defineConstant() public API
  packages/php-wasm/universal/src/lib/base-php.ts
  packages/php-wasm/universal/src/lib/universal-php.ts
  packages/php-wasm/util/src/lib/paths.spec.ts
  packages/php-wasm/web/src/lib/web-php-endpoint.ts
  packages/playground/blueprints/src/lib/compile.spec.ts
  packages/playground/blueprints/src/lib/steps/define-site-url.ts
  packages/playground/blueprints/src/lib/steps/define-wp-config-consts.ts
Labels: Bug, Developer Experience, Blueprints

#752 Website: Surface tools and docs in the dropdown menu
  packages/playground/website/demos/index.html
  packages/playground/website/src/components/toolbar-buttons/download-as-zip.tsx
  packages/playground/website/src/components/toolbar-buttons/restore-from-zip.tsx
  packages/playground/website/src/main.tsx
Labels: Enhancement, Browser, user experience

#782 Blueprints importFile step: update documentation format
  packages/playground/blueprints/src/lib/steps/import-export.ts
Labels: Bug, Documentation

#790 Retry blueprint schema generation in CI
  packages/playground/blueprints/bin/generate-schema.js
Labels: Bug, Blueprints, Meta

#788 Experimental: Adds declarative properties to the Blueprint schema
  packages/playground/blueprints/public/blueprint-schema.json
  packages/playground/blueprints/src/lib/blueprint.ts
  packages/playground/blueprints/src/lib/compile.ts
Labels: Enhancement, Blueprints

#802 E2E tests with cypress
  .github/workflows/ci.yml
  package-lock.json
  package.json
  packages/playground/website/.eslintrc.json
  packages/playground/website/cypress.config.ts
  packages/playground/website/cypress/e2e/app.cy.ts
  packages/playground/website/cypress/fixtures/example.json
  packages/playground/website/cypress/support/app.po.ts
  packages/playground/website/cypress/support/commands.ts
  packages/playground/website/cypress/support/e2e.ts
  packages/playground/website/cypress/tsconfig.json
  packages/playground/website/project.json
  packages/playground/website/src/components/browser-chrome/index.tsx
  packages/playground/website/src/components/modal/index.tsx
  packages/playground/website/src/components/playground-configuration-group/form.tsx
  packages/playground/website/src/components/playground-configuration-group/index.tsx
  packages/playground/website/src/components/playground-viewport/index.tsx
  packages/playground/website/src/lib/make-blueprint.tsx
  packages/playground/website/src/lib/resolve-blueprint.ts
  packages/playground/website/tsconfig.app.json
  packages/playground/website/tsconfig.json
Labels: Enhancement, Tests

#812 Browser: Disable the network support by default and add a UI control to enable it
  .github/workflows/ci.yml
  packages/docs/site/docs/08-query-api/01-index.md
  packages/docs/site/docs/09-blueprints-api/03-data-format.md
  packages/docs/site/docs/11-architecture/02-wasm-php-overview.md
  packages/playground/blueprints/src/lib/compile.ts
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/wp-content/mu-plugins/2-nice-error-messages-for-plugins-and-themes-directories.php
  packages/playground/website/cypress/e2e/app.cy.ts
  packages/playground/website/cypress/support/commands.ts
  packages/playground/website/project.json
  packages/playground/website/src/components/playground-configuration-group/form.tsx
  packages/playground/website/src/components/playground-configuration-group/reload-with-new-configuration.ts
  packages/playground/website/src/lib/resolve-blueprint.ts
  packages/playground/website/src/main.tsx
Labels: Enhancement, Browser, WordPress

#814 Set emptyOutDir to false in php-wasm/web/project.json
  packages/php-wasm/web/project.json
Labels: Bug, Meta

#780 Export just wp-content instead of full WordPress
  .github/workflows/ci.yml
  .gitignore
  packages/playground/blueprints/public/blueprint-schema.json
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/index.ts
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/wp-content/mu-plugins/0-playground.php
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/wp-content/mu-plugins/1-show-admin-credentials-on-wp-login.php
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/wp-content/mu-plugins/2-nice-error-messages-for-plugins-and-themes-directories.php
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/wp-content/mu-plugins/3-links-targeting-top-frame-should-target-playground-iframe.php
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/wp-content/mu-plugins/4-enable-url-rewrite.php
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/wp-content/mu-plugins/add_requests_transport.php
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/wp-content/mu-plugins/playground-includes/requests_transport_dummy.php
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/wp-content/mu-plugins/playground-includes/requests_transport_fetch.php
  packages/playground/blueprints/src/lib/steps/common.ts
  packages/playground/blueprints/src/lib/steps/export-wxr.ts
  packages/playground/blueprints/src/lib/steps/export-wxz.ts
  packages/playground/blueprints/src/lib/steps/handlers.ts
  packages/playground/blueprints/src/lib/steps/import-export.ts
  packages/playground/blueprints/src/lib/steps/import-wp-content.ts
  packages/playground/blueprints/src/lib/steps/index.ts
  packages/playground/blueprints/src/lib/steps/install-asset.ts
  packages/playground/blueprints/src/lib/steps/unzip.ts
  packages/playground/blueprints/src/lib/steps/zip-functions.php
  packages/playground/blueprints/src/lib/steps/zip-wp-content.ts
  packages/playground/website/cypress/e2e/app.cy.ts
  packages/playground/website/project.json
  packages/playground/website/public/wordpress.html
  packages/playground/website/src/components/import-form/index.tsx
  packages/playground/website/src/components/toolbar-buttons/download-as-zip.tsx
  packages/playground/website/src/components/toolbar-buttons/restore-from-zip.tsx
  packages/playground/website/src/main.tsx
Labels: Enhancement, Blueprints, Breaking change, Import Export

#819 Fix the wp_http_supports( array( 'ssl' ) ) function
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/index.ts
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/wp-content/mu-plugins/0-playground.php
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/wp-content/mu-plugins/playground-includes/wp_http_fetch.php
  packages/playground/website/cypress/e2e/app.cy.ts
Labels: Bug, WordPress
