Repository WordPress/wordpress-playground, pull requests merged in 2023-05, with the labels that each got.

#188 wp-now: create first version of the command
  package.json
  packages/wp-now/.eslintrc.json
  packages/wp-now/README.md
  packages/wp-now/esbuild.mjs
  packages/wp-now/jest.config.ts
  packages/wp-now/package.json
  packages/wp-now/project.json
  packages/wp-now/src/assets/.gitkeep
  packages/wp-now/src/constants.ts
  packages/wp-now/src/download.ts
  packages/wp-now/src/main.ts
  packages/wp-now/src/port-finder.ts
  packages/wp-now/src/run-cli.ts
  packages/wp-now/src/start-server.ts
  packages/wp-now/src/wp-now.ts
  packages/wp-now/tsconfig.app.json
  packages/wp-now/tsconfig.json
  packages/wp-now/tsconfig.spec.json
  tsconfig.base.json
  yarn.lock
Labels: Local Environment i1

#168 Interactive code block
  .gitignore
  package.json
  packages/interactive-code-block/.eslintrc.json
  packages/interactive-code-block/README.md
  packages/interactive-code-block/package.json
  packages/interactive-code-block/project.json
  packages/interactive-code-block/public/block.php
  packages/interactive-code-block/public/interactive-code-block.php
  packages/interactive-code-block/public/playground-sandbox.html
  packages/interactive-code-block/public/rest-api-lcs-execution-scripts-endpoint.php
  packages/interactive-code-block/public/rest-api-lcs-libraries-endpoint.php
  packages/interactive-code-block/src/lib/block/base64-utils.ts
  packages/interactive-code-block/src/lib/block/block.json
  packages/interactive-code-block/src/lib/block/edit.tsx
  packages/interactive-code-block/src/lib/block/editor.css
  packages/interactive-code-block/src/lib/block/editor.tsx
  packages/interactive-code-block/src/lib/block/php-wasm.php
  packages/interactive-code-block/src/lib/block/view-async.tsx
  packages/interactive-code-block/src/lib/block/view.css
  packages/interactive-code-block/src/lib/block/view.ts
  packages/interactive-code-block/src/lib/block/without-gutenberg-keyboard-shortcuts.tsx
  packages/interactive-code-block/src/lib/components/code-mirror/index.tsx
  packages/interactive-code-block/src/lib/components/code-output/index.tsx
  packages/interactive-code-block/src/lib/components/code-output/loader.tsx
  packages/interactive-code-block/src/lib/components/code-output/style.module.css
  packages/interactive-code-block/src/lib/components/code-runner/index.tsx
  packages/interactive-code-block/src/lib/components/interactive-code-snippet/default-bootstrap-script.php
  packages/interactive-code-block/src/lib/components/interactive-code-snippet/index.tsx
  packages/interactive-code-block/src/lib/components/interactive-code-snippet/style.module.css
  packages/interactive-code-block/src/lib/components/libraries-control/index.tsx
  packages/interactive-code-block/src/lib/components/php-runner/index.tsx
  packages/interactive-code-block/src/lib/components/php-runner/php-loader.ts
  packages/interactive-code-block/src/lib/components/playground-runner/index.tsx
  packages/interactive-code-block/src/lib/components/progress-bar/index.tsx
  packages/interactive-code-block/src/lib/components/progress-bar/style.module.css
  packages/interactive-code-block/src/lib/components/toolbar-dropdown/index.tsx
  packages/interactive-code-block/src/lib/hooks/use-has-transition-class-name.tsx
  packages/interactive-code-block/src/lib/hooks/use-libraries.tsx
  packages/interactive-code-block/src/lib/hooks/use-on-escape-key.tsx
  packages/interactive-code-block/src/lib/hooks/use-promise.ts
  packages/interactive-code-block/src/lib/pages/entities.tsx
  packages/interactive-code-block/src/lib/pages/execution-scripts-forms.tsx
  packages/interactive-code-block/src/lib/pages/execution-scripts-list.tsx
  packages/interactive-code-block/src/lib/pages/execution-scripts-page.tsx
  packages/interactive-code-block/src/lib/pages/libraries-list.tsx
  packages/interactive-code-block/src/lib/pages/libraries-page.tsx
  packages/interactive-code-block/src/lib/pages/notifications.tsx
  packages/interactive-code-block/src/lib/pages/upload-overlay.tsx
  packages/interactive-code-block/src/lib/php-worker.ts
  packages/interactive-code-block/src/lib/types.ts
  packages/interactive-code-block/src/lib/utils.ts
  packages/interactive-code-block/tsconfig.json
  packages/interactive-code-block/tsconfig.lib.json
  packages/interactive-code-block/tsconfig.spec.json
  packages/interactive-code-block/vite.config.ts
  tsconfig.base.json
  yarn.lock
Labels: Developer Tools, [Feature] In-Browser Dev Environment

#249 wp-now: rename downloadSqliteIntegrationPlugin function
  packages/wp-now/src/download.ts
  packages/wp-now/src/wp-now.ts
Labels: Local Environment i1

#250 Fix the truncated download of WordPress zip bundle
  package.json
  packages/wp-now/src/download.ts
  yarn.lock
Labels: Bug, Local Environment i1

#259 wp-now: replace Sqlite plugin url due a 302 redirection
  package.json
  packages/wp-now/src/download.ts
  yarn.lock
Labels: Local Environment i1

#262 Local Environment: Open the default browser with the new domain when server starts
  packages/wp-now/src/start-server.ts
Labels: Local Environment i1

#252 wp-now: add `--wp` parameter to change WordPress versions
  packages/wp-now/README.md
  packages/wp-now/src/constants.ts
  packages/wp-now/src/download.ts
  packages/wp-now/src/run-cli.ts
  packages/wp-now/src/start-server.ts
  packages/wp-now/src/wp-now.ts
  packages/wp-now/src/wp-playground-wordpress/index.ts
  packages/wp-now/src/wp-playground-wordpress/is-valid-wordpress-version.ts
  packages/wp-now/src/wp-playground-wordpress/tests/is-valid-wordpress-version.test.ts
Labels: Local Environment i1

#275 wp-now: Remove request logging
  packages/wp-now/src/start-server.ts
Labels: Local Environment i1

#283 wp-now: use a temporary organization for `wp-now`
  packages/wp-now/package.json
  tsconfig.base.json
Labels: Local Environment i1, Local Environment

#285 Move yargs from devDependencies to dependencies
  package.json
  yarn.lock
Labels: Local Environment i1

#286 wp-now: add `env node` to wp-now to execute it
  packages/wp-now/package.json
  packages/wp-now/project.json
  packages/wp-now/public/cli.js
Labels: Local Environment i1

#272 Add a `wp-now` bin script
  bin/wp-now
  package.json
Labels: Local Environment i1

#277 Local Environment: Add support for wp-content mode
  packages/wp-now/src/wp-now.ts
  packages/wp-now/src/wp-playground-wordpress/index.ts
  packages/wp-now/src/wp-playground-wordpress/is-plugin-directory.ts
  packages/wp-now/src/wp-playground-wordpress/is-theme-directory.ts
  packages/wp-now/src/wp-playground-wordpress/is-wp-content-directory.ts
Labels: Local Environment i1

#291 WP Now: Actually use project files in core mode
  packages/wp-now/src/wp-now.ts
  packages/wp-now/src/wp-playground-wordpress/is-wp-core-directory.ts
Labels: Bug, Local Environment i1

#301 Add missing `publishConfig.directory` to `@php-wasm/util` and `@wp-playground/blueprints`
  packages/php-wasm/util/package.json
  packages/playground/blueprints/package.json
Labels: Local Environment i1

#289 Local Environment: Improve wp-now README file
  README.md
  packages/wp-now/README.md
Labels: Local Environment i1

#303 wp-now: Clarify the index mode description
  packages/wp-now/README.md
Labels: Local Environment i1

#307 wp-now: Fix wp-content mode after latest refactor
  packages/wp-now/src/wp-now.ts
Labels: Local Environment i1

#305 Local Environment: Document expected behavior for execution modes
  packages/wp-now/README.md
Labels: Local Environment i1

#302 WP Now: Separate different execution modes and add tests
  packages/vscode-extension/src/worker.ts
  packages/wp-now/project.json
  packages/wp-now/src/start-server.ts
  packages/wp-now/src/tests/mode-examples/index/index.php
  packages/wp-now/src/tests/mode-examples/not-plugin/foo.php
  packages/wp-now/src/tests/mode-examples/not-theme/style.css
  packages/wp-now/src/tests/mode-examples/not-wp-content/themes/.gitkeep
  packages/wp-now/src/tests/mode-examples/nothing/.gitkeep
  packages/wp-now/src/tests/mode-examples/plugin/sample-plugin.php
  packages/wp-now/src/tests/mode-examples/theme/style.css
  packages/wp-now/src/tests/mode-examples/wordpress/wp-content/.gitkeep
  packages/wp-now/src/tests/mode-examples/wordpress/wp-includes/.gitkeep
  packages/wp-now/src/tests/mode-examples/wordpress/wp-load.php
  packages/wp-now/src/tests/mode-examples/wp-content/plugins/.gitkeep
  packages/wp-now/src/tests/mode-examples/wp-content/themes/.gitkeep
  packages/wp-now/src/tests/wp-now.spec.ts
  packages/wp-now/src/wp-now.ts
  packages/wp-now/src/wp-playground-wordpress/index.ts
  packages/wp-now/src/wp-playground-wordpress/is-wordpress-develop-directory.ts
  packages/wp-now/src/wp-playground-wordpress/is-wordpress-directory.ts
  packages/wp-now/vite.config.ts
Labels: Enhancement, Developer Experience, Local Environment i1

#309 Add basic blueprint docs
  packages/docs/site/project.json
  packages/docs/site/src/build-markdown-docs.js
  packages/php-wasm/universal/src/lib/index.ts
  packages/playground/blueprints/src/lib/steps/define-wp-config-consts.ts
  packages/playground/blueprints/src/lib/steps/index.ts
  packages/playground/blueprints/src/lib/steps/install-plugin.ts
  pages/blueprints-getting-started.md
  pages/blueprints-reference.md
  typedoc.js
Labels: Documentation

#321 wp-now: startWPNow should always return always an object with php and options
  packages/wp-now/src/wp-now.ts
Labels: Local Environment i1

#319 wp-now: Abstract downloading and loading mu-plugins
  packages/wp-now/src/download.ts
  packages/wp-now/src/wp-now.ts
Labels: Local Environment i1

#318 wp-now: Mount db.php file instead of copying it
  packages/wp-now/src/wp-now.ts
Labels: Local Environment i1

#320 wp-now: Mount SQLite database directory from wp-content stored in .wp-now
  packages/wp-now/src/wp-now.ts
Labels: Local Environment i1

#326 wp-now: Slight edit to the README introduction
  packages/wp-now/README.md
Labels: Local Environment i1

#329 wp-now: Add some known issues to the README
  packages/wp-now/README.md
Labels: Local Environment i1

#333 wp-now: Restore previously skipped tests
  packages/wp-now/src/tests/mode-examples/not-wordpress-develop/build/wp-content/.gitkeep
  packages/wp-now/src/tests/mode-examples/not-wordpress-develop/build/wp-includes/.gitkeep
  packages/wp-now/src/tests/mode-examples/not-wordpress-develop/src/wp-content/.gitkeep
  packages/wp-now/src/tests/mode-examples/not-wordpress-develop/src/wp-includes/.gitkeep
  packages/wp-now/src/tests/mode-examples/not-wordpress-develop/src/wp-load.php
  packages/wp-now/src/tests/mode-examples/wordpress-develop/build/wp-content/.gitkeep
  packages/wp-now/src/tests/mode-examples/wordpress-develop/build/wp-includes/.gitkeep
  packages/wp-now/src/tests/mode-examples/wordpress-develop/build/wp-load.php
  packages/wp-now/src/tests/mode-examples/wordpress-develop/src/wp-content/.gitkeep
  packages/wp-now/src/tests/mode-examples/wordpress-develop/src/wp-includes/.gitkeep
  packages/wp-now/src/tests/mode-examples/wordpress-develop/src/wp-load.php
  packages/wp-now/src/tests/wp-now.spec.ts
Labels: Local Environment i1

#340 wp-now: add instructions for publishing to npm
  packages/wp-now/README.md
Labels: Local Environment i1

#342 wp-now: Couple of improvements to CLI output
  packages/wp-now/src/download.ts
  packages/wp-now/src/wp-now.ts
Labels: Local Environment i1

#345 wp-now: Refactor README into a different format
  packages/wp-now/README.md
Labels: Documentation, Local Environment i1

#359 wp-now: Define expected directory context for assertion purpose
  packages/wp-now/src/tests/wp-now.spec.ts
Labels: Local Environment i1

#343 wp now: load virtually config constants to allow running multiple projects at the same time
  packages/playground/blueprints/src/lib/compile.spec.ts
  packages/playground/blueprints/src/lib/steps/common.ts
  packages/playground/blueprints/src/lib/steps/define-virtual-wp-config-consts.ts
  packages/playground/blueprints/src/lib/steps/handlers.ts
  packages/playground/blueprints/src/lib/steps/index.ts
  packages/wp-now/src/tests/wp-now.spec.ts
  packages/wp-now/src/wp-now.ts
Labels: Local Environment i1

#358 wp-now: Flag versioning system as a known issue
  packages/wp-now/README.md
Labels: Local Environment i1

#361 wp-now: Use proper casing for 'SQLite'
  packages/wp-now/src/download.ts
Labels: Local Environment i1

#368 Local Enviroment: Make check for plugin header case insensitive
  packages/wp-now/src/tests/mode-examples/plugin-case-insensitive/sample-plugin.php
  packages/wp-now/src/tests/wp-now.spec.ts
  packages/wp-now/src/wp-playground-wordpress/is-plugin-directory.ts
Labels: Local Environment i1

#360 wp-now: Mount SQLite only if db file exists, or if we initialize it
  packages/wp-now/src/tests/mode-examples/wordpress-with-config/index.php
  packages/wp-now/src/tests/mode-examples/wordpress-with-config/wp-config.php
  packages/wp-now/src/tests/mode-examples/wordpress-with-config/wp-content/.gitkeep
  packages/wp-now/src/tests/mode-examples/wordpress-with-config/wp-includes/.gitkeep
  packages/wp-now/src/tests/mode-examples/wordpress-with-config/wp-load.php
  packages/wp-now/src/tests/wp-now.spec.ts
  packages/wp-now/src/wp-now.ts
Labels: Local Environment i1

#372 wp-now: Document heuristics for determining 'plugin', 'theme' modes
  packages/wp-now/README.md
Labels: Local Environment i1

#370 wp-now: Log 'localhost' connections as a known issue
  packages/wp-now/README.md
Labels: Local Environment i1

#371 Local Environment: Use separate .wp-now directory for test context
  packages/wp-now/src/config.ts
  packages/wp-now/src/constants.ts
  packages/wp-now/src/download.ts
  packages/wp-now/src/get-sqlite-path.ts
  packages/wp-now/src/get-wordpress-versions-path.ts
  packages/wp-now/src/get-wp-now-path.ts
  packages/wp-now/src/get-wp-now-tmp-path.ts
  packages/wp-now/src/tests/wp-now.spec.ts
  packages/wp-now/src/wp-now.ts
Labels: Local Environment i1

#377 wp-now: Allow `plugins`, `themes` or `wp-content` for 'wp-content' mode
  packages/wp-now/src/tests/mode-examples/wp-content-only-mu-plugins/themes/.gitkeep
  packages/wp-now/src/tests/mode-examples/wp-content-only-themes/themes/.gitkeep
  packages/wp-now/src/tests/wp-now.spec.ts
  packages/wp-now/src/wp-playground-wordpress/is-wp-content-directory.ts
Labels: Local Environment i1

#382 VS Code: Fix repo link
  packages/vscode-extension/package.json
Labels: VS Code

#331 Fix/404 error if requested path doesn't exist
  packages/php-wasm/node/src/test/php.spec.ts
  packages/php-wasm/universal/src/lib/base-php.ts
  packages/php-wasm/universal/src/lib/php-request-handler.ts
Labels: Local Environment i1

#385 wp-now: Clean test tmp directory and prefetch downloads in beforeAll
  packages/wp-now/src/tests/wp-now.spec.ts
Labels: Local Environment i1

#387 Update: Simplify base-php sapi_handle_request call
  packages/php-wasm/node/src/test/php.spec.ts
  packages/php-wasm/universal/src/lib/base-php.ts
Labels: Local Environment i1

#336 wp-now: create `php` command to execute PHP files
  packages/wp-now/README.md
  packages/wp-now/src/config.ts
  packages/wp-now/src/download.ts
  packages/wp-now/src/execute-php-file.ts
  packages/wp-now/src/output.ts
  packages/wp-now/src/run-cli.ts
  packages/wp-now/src/tests/execute-php-file.spec.ts
  packages/wp-now/src/tests/execute-php-file/hello-world-result.txt
  packages/wp-now/src/tests/execute-php-file/hello-world.php
  packages/wp-now/src/tests/execute-php-file/php-version-result.txt
  packages/wp-now/src/tests/execute-php-file/php-version.php
  packages/wp-now/src/wp-now.ts
Labels: Local Environment i1

#390 wp-now: Some tweaks to the README
  packages/wp-now/README.md
Labels: Documentation, Local Environment i1

#399 Asyncify: Only add lastAsyncifyStackSource callback if Asyncify is defined
  packages/php-wasm/compile/build-assets/append-before-return.js
Labels: Bug, PHP.wasm, Asyncify

#408 WordPress: Fix the srcDoc patch in WordPress block-editor.js
  packages/playground/compile-wordpress/Dockerfile
  packages/playground/remote/public/wp-6.0/wp-includes/js/dist/block-editor.js
  packages/playground/remote/public/wp-6.1/wp-includes/js/dist/block-editor.js
  packages/playground/remote/public/wp-6.2/wp-includes/js/dist/block-editor.js
  packages/playground/remote/public/wp-6.2/wp-includes/js/dist/block-editor.min.js
Labels: Bug, WordPress bundle

#410 wp-now: Remove `.wp-env.json` support
  packages/wp-now/README.md
  packages/wp-now/src/config.ts
  packages/wp-now/src/tests/mode-examples/wp-env-override/.wp-env.json
  packages/wp-now/src/tests/mode-examples/wp-env-override/.wp-env.override.json
  packages/wp-now/src/tests/mode-examples/wp-env/.wp-env.json
  packages/wp-now/src/tests/mode-examples/wp-env/index.php
  packages/wp-now/src/tests/wp-now.spec.ts
Labels: Local Environment i1

#413 Update the "When publishing goes wrong" documentation
  packages/docs/site/docs/13-contributing/05-publishing.md
Labels: Documentation, Meta

#431 wp-now: fix typo in readme
  packages/wp-now/README.md
Labels: Documentation, Local Environment

#417 wp-now: download wordpress and sqlite in parallel
  packages/wp-now/src/tests/wp-now.spec.ts
  packages/wp-now/src/wp-now.ts
Labels: Local Environment i1

#442 wp-now: Remove a few unused variables, clean up typo
  packages/wp-now/src/constants.ts
  packages/wp-now/src/tests/wp-now.spec.ts
Labels: Local Environment

#441 wp-now: Remove magic WordPress loading for `php` command
  packages/wp-now/README.md
  packages/wp-now/src/execute-php-file.ts
  packages/wp-now/src/run-cli.ts
Labels: Local Environment

#440 wp-now: Default to 'playground' mode when no files are detected
  packages/wp-now/README.md
  packages/wp-now/src/config.ts
  packages/wp-now/src/tests/execute-php-file/index.php
  packages/wp-now/src/tests/mode-examples/playground/my-file.txt
  packages/wp-now/src/tests/wp-now.spec.ts
  packages/wp-now/src/wp-now.ts
  packages/wp-now/src/wp-playground-wordpress/has-index-file.ts
  packages/wp-now/src/wp-playground-wordpress/index.ts
Labels: Local Environment

#447 wp-now: Only output WordPress version when WordPress is to be used
  packages/wp-now/src/wp-now.ts
Labels: Local Environment

#434 wp-now: Error if node doesn't meet the minimum required version
  packages/wp-now/src/main.ts
Labels: Local Environment

#448 Add smoke testing procedure to publishing doc
  packages/docs/site/docs/13-contributing/05-publishing.md
Labels: Documentation

#415 Rrefactor `defineWpConfigConsts` to work on virtual file system
  packages/playground/blueprints/src/lib/compile.spec.ts
  packages/playground/blueprints/src/lib/steps/common.ts
  packages/playground/blueprints/src/lib/steps/define-virtual-wp-config-consts.ts
  packages/playground/blueprints/src/lib/steps/define-wp-config-consts.ts
  packages/playground/blueprints/src/lib/steps/handlers.ts
  packages/playground/blueprints/src/lib/steps/index.ts
  packages/wp-now/src/wp-now.ts
Labels: Local Environment

#465 Add CODEOWNERS to framework-level packages
  .github/CODEOWNERS
Labels: Enhancement, Meta

#395 wp-now: Add `executeWPCli()` function to download and execute WP-CLI
  packages/wp-now/src/constants.ts
  packages/wp-now/src/download.ts
  packages/wp-now/src/execute-wp-cli.ts
  packages/wp-now/src/get-wp-cli-path.ts
  packages/wp-now/src/get-wp-cli-tmp-path.ts
  packages/wp-now/src/tests/wp-now.spec.ts
  packages/wp-now/src/wp-now.ts
  packages/wp-now/tsconfig.spec.json
Labels: Local Environment i1

#481 PHP: Build a reusable php-wasm-web npm package
  packages/php-wasm/web/vite.config.ts
Labels: Bug, Browser, PHP.wasm

#475 Remove interactive-code-block from the main repository so it can live in a dedicated space. See #473.
  packages/interactive-code-block/.eslintrc.json
  packages/interactive-code-block/README.md
  packages/interactive-code-block/package.json
  packages/interactive-code-block/project.json
  packages/interactive-code-block/public/block.php
  packages/interactive-code-block/public/interactive-code-block.php
  packages/interactive-code-block/public/playground-sandbox.html
  packages/interactive-code-block/public/rest-api-lcs-execution-scripts-endpoint.php
  packages/interactive-code-block/public/rest-api-lcs-libraries-endpoint.php
  packages/interactive-code-block/src/index.ts
  packages/interactive-code-block/src/lib/block/base64-utils.ts
  packages/interactive-code-block/src/lib/block/block.json
  packages/interactive-code-block/src/lib/block/edit.tsx
  packages/interactive-code-block/src/lib/block/editor.css
  packages/interactive-code-block/src/lib/block/editor.tsx
  packages/interactive-code-block/src/lib/block/php-wasm.php
  packages/interactive-code-block/src/lib/block/view-async.tsx
  packages/interactive-code-block/src/lib/block/view.css
  packages/interactive-code-block/src/lib/block/view.ts
  packages/interactive-code-block/src/lib/block/without-gutenberg-keyboard-shortcuts.tsx
  packages/interactive-code-block/src/lib/components/code-mirror/index.tsx
  packages/interactive-code-block/src/lib/components/code-output/index.tsx
  packages/interactive-code-block/src/lib/components/code-output/loader.tsx
  packages/interactive-code-block/src/lib/components/code-output/style.module.css
  packages/interactive-code-block/src/lib/components/code-runner/index.tsx
  packages/interactive-code-block/src/lib/components/interactive-code-snippet/default-bootstrap-script.php
  packages/interactive-code-block/src/lib/components/interactive-code-snippet/index.tsx
  packages/interactive-code-block/src/lib/components/interactive-code-snippet/style.module.css
  packages/interactive-code-block/src/lib/components/libraries-control/index.tsx
  packages/interactive-code-block/src/lib/components/php-runner/index.tsx
  packages/interactive-code-block/src/lib/components/php-runner/php-loader.ts
  packages/interactive-code-block/src/lib/components/playground-runner/index.tsx
  packages/interactive-code-block/src/lib/components/progress-bar/index.tsx
  packages/interactive-code-block/src/lib/components/progress-bar/style.module.css
  packages/interactive-code-block/src/lib/components/toolbar-dropdown/index.tsx
  packages/interactive-code-block/src/lib/hooks/use-has-transition-class-name.tsx
  packages/interactive-code-block/src/lib/hooks/use-libraries.tsx
  packages/interactive-code-block/src/lib/hooks/use-on-escape-key.tsx
  packages/interactive-code-block/src/lib/hooks/use-promise.ts
  packages/interactive-code-block/src/lib/pages/entities.tsx
  packages/interactive-code-block/src/lib/pages/execution-scripts-forms.tsx
  packages/interactive-code-block/src/lib/pages/execution-scripts-list.tsx
  packages/interactive-code-block/src/lib/pages/execution-scripts-page.tsx
  packages/interactive-code-block/src/lib/pages/libraries-list.tsx
  packages/interactive-code-block/src/lib/pages/libraries-page.tsx
  packages/interactive-code-block/src/lib/pages/notifications.tsx
  packages/interactive-code-block/src/lib/pages/upload-overlay.tsx
  packages/interactive-code-block/src/lib/php-worker.ts
  packages/interactive-code-block/src/lib/types.ts
  packages/interactive-code-block/src/lib/utils.ts
  packages/interactive-code-block/tsconfig.json
  packages/interactive-code-block/tsconfig.lib.json
  packages/interactive-code-block/tsconfig.spec.json
  packages/interactive-code-block/vite.config.ts
  tsconfig.base.json
Labels: Developer Experience, Meta

#476 Remove VS Code extension from the main repository so it can live in a dedicated space. See #473.
  .vscode/launch.json
  .vscode/tasks.json
  package-lock.json
  package.json
  packages/docs/site/docs/13-contributing/05-publishing.md
  packages/vscode-extension/.babelrc
  packages/vscode-extension/.eslintrc.json
  packages/vscode-extension/README.md
  packages/vscode-extension/esbuild.mjs
  packages/vscode-extension/jest.config.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/project.json
  packages/vscode-extension/public/icon.png
  packages/vscode-extension/public/sidebar-button.svg
  packages/vscode-extension/src/index.ts
  packages/vscode-extension/src/state.ts
  packages/vscode-extension/src/webview.html
  packages/vscode-extension/src/webview.tsx
  packages/vscode-extension/src/worker.ts
  packages/vscode-extension/tsconfig.json
  packages/vscode-extension/tsconfig.lib.json
  packages/vscode-extension/tsconfig.spec.json
  tsconfig.base.json
Labels: Developer Experience, Meta

#427 Remove DOMParser from Blueprints: installPlugin and installTheme
  packages/playground/blueprints/src/lib/resources.ts
  packages/playground/blueprints/src/lib/steps/activate-plugin.ts
  packages/playground/blueprints/src/lib/steps/activate-theme.ts
  packages/playground/blueprints/src/lib/steps/common.ts
  packages/playground/blueprints/src/lib/steps/index.ts
  packages/playground/blueprints/src/lib/steps/install-asset.ts
  packages/playground/blueprints/src/lib/steps/install-plugin.spec.ts
  packages/playground/blueprints/src/lib/steps/install-plugin.ts
  packages/playground/blueprints/src/lib/steps/install-theme.spec.ts
  packages/playground/blueprints/src/lib/steps/install-theme.ts
Labels: Enhancement, PHP.wasm, Node.js
