Repository WordPress/wordpress-playground, pull requests merged in 2023-10, with the labels that each got.

#657 Accessibility: Accessible iframe names
  packages/playground/remote/remote.html
  packages/playground/website/src/components/playground-viewport/index.tsx
Labels: Enhancement, Accessibility

#658 Accessibility: Give the URL input a title
  packages/playground/website/src/components/address-bar/index.tsx
Labels: Enhancement, Accessibility

#659 Accessibility: Font contrast in the URL bar
  packages/playground/website/src/components/address-bar/style.module.css
Labels: Enhancement, Accessibility

#675 Adjust invalid conditional in form.tsx to restore the PHP and WP version picker
  packages/playground/website/src/components/playground-configuration-group/form.tsx
Labels: Bug

#678 Fix typos
  README.md
  packages/docs/site/docs/09-blueprints-api/02-using-blueprints.md
  packages/php-wasm/compile/Dockerfile
  packages/php-wasm/compile/build-assets/php_wasm.c
  packages/playground/client/README.md
  packages/playground/compile-wordpress/build-assets/import-wxz.patch
  packages/playground/node/src/index.ts
  packages/playground/remote/src/lib/boot-playground-remote.ts
  packages/playground/website/index.html
Labels: Documentation, Enhancement

#686 Add attribution to Oraoto and Sean Morris in php-wasm NPM packages
  packages/php-wasm/node/README.md
  packages/php-wasm/web/README.md
Labels: Enhancement

#684 Browser: Rewrite target="_top" as target="wordpress_playground"
  packages/playground/remote/src/lib/web-wordpress-patches/index.ts
  packages/playground/remote/src/lib/web-wordpress-patches/wp-content/mu-plugins/3-links-targeting-top-frame-should-target-playground-iframe.php
Labels: Bug, Browser

#687 Fix intermittent JSON schema building errors in CI
  packages/php-wasm/universal/src/lib/supported-php-extensions.ts
  packages/playground/blueprints/src/lib/compile.ts
Labels: Bug, Meta

#688 Create .gitattributes
  .gitattributes
Labels: Enhancement, Meta

#695 Remove Cross-Origin-*-Policy headers
  packages/docs/site/docs/11-architecture/18-host-your-own-playground.md
  packages/playground/interactive-block-playground/vite.config.ts
  packages/playground/remote/service-worker.ts
  packages/playground/remote/vite.config.ts
  packages/playground/website/vite.config.ts
Labels: Bug, Browser

#703 WP: Apply the "controlled iframe" patch in JavaScript, not in Dockerfile
  packages/playground/blueprints/public/blueprint-schema.json
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/index.ts
  packages/playground/blueprints/src/lib/steps/install-plugin.ts
  packages/playground/compile-wordpress/Dockerfile
  packages/playground/compile-wordpress/build-assets/controlled-iframe.js
Labels: Enhancement, Browser, WordPress

#705 Preserve wp-admin SVG assets in wp.data bundle
  packages/playground/compile-wordpress/Dockerfile
  packages/playground/remote/src/lib/web-wordpress-patches/index.ts
Labels: Enhancement, Browser, WordPress

#706 Apply browser-targeted WordPress patches via Blueprints, not in remote.html
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/index.ts
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/wp-content/mu-plugins/2-nice-error-messages-for-plugins-and-themes-directories.php
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/wp-content/mu-plugins/3-links-targeting-top-frame-should-target-playground-iframe.php
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/wp-content/mu-plugins/add_requests_transport.php
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/wp-content/mu-plugins/includes/requests_transport_dummy.php
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/wp-content/mu-plugins/includes/requests_transport_fetch.php
  packages/playground/compile-wordpress/Dockerfile
  packages/playground/remote/src/lib/web-wordpress-patches/index.ts
  packages/playground/remote/src/lib/web-wordpress-patches/wp-content/mu-plugins/1-show-admin-credentials-on-wp-login.php
  packages/playground/remote/src/lib/worker-thread.ts
Labels: Enhancement, Browser, Developer Experience, Blueprints

#700 wordpress-develop Pull Request previewer
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/index.ts
  packages/playground/website/public/gutenberg.html
  packages/playground/website/public/plugin-proxy.php
  packages/playground/website/public/previewer.css
  packages/playground/website/public/wordpress.html
  packages/playground/website/public/wordpress.svg
Labels: Enhancement, Browser, [Feature] WordPress Previewer

#711 Download plugins and themes directly from WordPress.org, not via plugin-proxy.php
  packages/playground/blueprints/src/index.ts
  packages/playground/blueprints/src/lib/resources.ts
  packages/playground/website/public/plugin-proxy.php
Labels: Enhancement, Browser, Blueprints

#713 Remove the gutenberg-pr Query API option
  packages/docs/site/docs/08-query-api/01-index.md
  packages/playground/website/src/lib/make-blueprint.tsx
  packages/playground/website/src/main.tsx
Labels: Enhancement, Developer Experience
