Repository WordPress/wordpress-playground, pull requests merged in 2023-12, with the labels that each got.

#834 Live translations link in FAQ leads to 404 #723 Sloved
  packages/docs/site/docs/16-faq.md
Labels: Documentation, Enhancement

#824 Add browser full screen mode
  packages/playground/website/src/components/browser-chrome/index.tsx
  packages/playground/website/src/components/browser-chrome/style.module.css
  packages/playground/website/src/components/playground-viewport/index.tsx
Labels: Enhancement, Browser, user experience

#839 Blueprints: Add a "description" field
  packages/playground/blueprints/public/blueprint-schema.json
  packages/playground/blueprints/src/lib/blueprint.ts
Labels: Enhancement, Developer Experience, Blueprints

#745 WP-692 Add runSql Blueprint step
  packages/playground/blueprints/public/blueprint-schema.json
  packages/playground/blueprints/src/lib/steps/handlers.ts
  packages/playground/blueprints/src/lib/steps/index.ts
  packages/playground/blueprints/src/lib/steps/run-sql.spec.ts
  packages/playground/blueprints/src/lib/steps/run-sql.ts
Labels: Developer Tools, Blueprints

#844 Browser: Make browser-full-screen the default display mode
  packages/playground/website/src/main.tsx
Labels: Enhancement, Browser, user experience

#773 Blueprint Builder
  README.md
  packages/docs/site/docs/09-blueprints-api/02-using-blueprints.md
  packages/docs/site/docs/10-javascript-api/04-blueprint-json-in-api-client.md
  packages/docs/site/docs/10-javascript-api/05-blueprint-functions-in-api-client.md
  packages/docs/site/docs/_fragments/_js_api_short_example.mdx
  packages/php-wasm/web/vite.config.ts
  packages/playground/website/builder/brain.svg
  packages/playground/website/builder/builder.html
  packages/playground/website/builder/builder.js
  packages/playground/website/builder/download.svg
  packages/playground/website/builder/edit.svg
  packages/playground/website/builder/new-tab-button.svg
  packages/playground/website/builder/open.svg
  packages/playground/website/builder/play-button.svg
  packages/playground/website/builder/save.svg
  packages/playground/website/builder/style.css
  packages/playground/website/builder/x.svg
  packages/playground/website/builder/zoom-in.svg
  packages/playground/website/builder/zoom-out.svg
  packages/playground/website/project.json
  packages/playground/website/vite.config.ts
Labels: Developer Tools, Blueprints

#848 Fix documentation bugs
  packages/docs/site/docs/09-blueprints-api/05-steps.md
  packages/docs/site/src/components/BlueprintsAPI/BlueprintStepDescription.tsx
  packages/docs/site/src/components/BlueprintsAPI/model.tsx
  packages/docs/site/src/components/UpdateTopLevelToc.tsx
  packages/playground/blueprints/src/lib/steps/run-sql.ts
Labels: Bug, Documentation

#849 Remove Akismet
  packages/playground/wordpress/build/Dockerfile
Labels: Enhancement, Browser, WordPress

#853 WordPress PR Previewer: Improve error messages, retry if the artifact isn't ready yet
  packages/playground/website/public/plugin-proxy.php
  packages/playground/website/public/previewer.css
  packages/playground/website/public/wordpress.html
Labels: Enhancement, Developer Experience, Developer Tools

#856 Blueprints: Only apply the network transports patch once
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/index.ts
Labels: Bug, Browser, Blueprints

#811 GitHub integration: PR previews by attaching a .zip file to the exported Pull Request
  packages/playground/blueprints/src/lib/steps/common.ts
  packages/playground/blueprints/src/lib/steps/index.ts
  packages/playground/blueprints/src/lib/steps/zip-wp-content.ts
  packages/playground/storage/src/lib/changeset.ts
  packages/playground/website/src/github/github-export-form/form.tsx
  packages/playground/website/src/github/import-from-github.ts
Labels: Enhancement, Contribution workflow

#857 FS Journal: Journal files moved into the tracked directory from outside of it
  packages/php-wasm/fs-journal/src/lib/fs-journal.ts
  packages/php-wasm/fs-journal/src/test/fs-journal.spec.ts
Labels: Bug, OPFS

#858 Require saving Playground before authenticating with GitHub
  packages/playground/website/src/github/github-oauth-guard/index.tsx
  packages/playground/website/src/github/github-oauth-guard/style.module.css
  packages/playground/website/src/main.tsx
  packages/playground/website/src/playground-context.tsx
Labels: Browser, user experience

#610 Website Query API: Add `import-site` and `import-content` options
  packages/docs/site/docs/08-query-api/01-index.md
  packages/playground/website/src/lib/make-blueprint.tsx
  packages/playground/website/src/lib/resolve-blueprint.ts
Labels: Enhancement, Browser, Developer Experience, Query API

#842 Bidirectional postMessage relay: add relaying from parent window to WordPress inside Playground
  packages/playground/remote/src/lib/boot-playground-remote.ts
Labels: Enhancement, Browser, Developer Experience

#866 Docs: Show a visible link to the Playground website
  packages/docs/site/docs/01-start-here/01-index.md
Labels: Documentation, Enhancement

#874 Dark mode for remote.html
  packages/playground/remote/remote.html
  packages/playground/remote/src/lib/progress-bar/style.module.css
Labels: Enhancement, Website

#872 Make the .zip export self-contained: Include the default theme, wp-config, and the sqlite-database-integration plugin
  packages/playground/blueprints/src/lib/steps/zip-functions.php
  packages/playground/blueprints/src/lib/steps/zip-wp-content.ts
  packages/playground/website/src/components/toolbar-buttons/download-as-zip.tsx
Labels: Enhancement, Import Export

#880 Stream-based zip encoder and decoder
  packages/playground/stream-compression/.eslintrc.json
  packages/playground/stream-compression/README.md
  packages/playground/stream-compression/package.json
  packages/playground/stream-compression/project.json
  packages/playground/stream-compression/src/index.ts
  packages/playground/stream-compression/src/test/append-bytes.spec.ts
  packages/playground/stream-compression/src/test/decode-zip.spec.ts
  packages/playground/stream-compression/src/test/encode-zip.spec.ts
  packages/playground/stream-compression/src/test/fixtures/hello-dolly.zip
  packages/playground/stream-compression/src/test/prepend-bytes.spec.ts
  packages/playground/stream-compression/src/test/skip-first-bytes.spec.ts
  packages/playground/stream-compression/src/test/skip-last-bytes.spec.ts
  packages/playground/stream-compression/src/test/vitest-setup-file.ts
  packages/playground/stream-compression/src/utils/append-bytes.ts
  packages/playground/stream-compression/src/utils/collect-bytes.ts
  packages/playground/stream-compression/src/utils/collect-file.ts
  packages/playground/stream-compression/src/utils/collect-string.ts
  packages/playground/stream-compression/src/utils/concat-bytes.ts
  packages/playground/stream-compression/src/utils/concat-string.ts
  packages/playground/stream-compression/src/utils/concat-uint8-array.ts
  packages/playground/stream-compression/src/utils/filter-stream.ts
  packages/playground/stream-compression/src/utils/iterable-stream-polyfill.ts
  packages/playground/stream-compression/src/utils/iterator-to-stream.ts
  packages/playground/stream-compression/src/utils/limit-bytes.ts
  packages/playground/stream-compression/src/utils/prepend-bytes.ts
  packages/playground/stream-compression/src/utils/skip-first-bytes.ts
  packages/playground/stream-compression/src/utils/skip-last-bytes.ts
  packages/playground/stream-compression/src/utils/stream-write-to-php.ts
  packages/playground/stream-compression/src/zip/decode-remote-zip.ts
  packages/playground/stream-compression/src/zip/decode-zip.ts
  packages/playground/stream-compression/src/zip/encode-zip.ts
  packages/playground/stream-compression/src/zip/index.ts
  packages/playground/stream-compression/src/zip/types.ts
  packages/playground/stream-compression/tsconfig.json
  packages/playground/stream-compression/tsconfig.lib.json
  packages/playground/stream-compression/tsconfig.spec.json
  packages/playground/stream-compression/vite.config.ts
  tsconfig.base.json
Labels: Enhancement, Developer Experience, Developer Tools

#882 Use Node.js Polyfills in the Blueprints package
  packages/playground/blueprints/src/index.ts
  packages/playground/blueprints/src/lib/resources.ts
  packages/playground/blueprints/src/lib/steps/common.ts
  packages/playground/blueprints/vite.config.ts
Labels: Enhancement, Blueprints

#886 Fix a cross-device mv error by using a tmp directory inside document root
  packages/playground/blueprints/src/lib/steps/install-asset.ts
Labels: Bug, Developer Experience, Blueprints

#889 Plugin proxy – handle artifacts hosted on windows.net
  packages/playground/website/public/gutenberg.html
  packages/playground/website/public/plugin-proxy.php
Labels: Enhancement, Browser, Developer Tools, PR Previewer

#891 Remove legacy storage options: opfs-host and opfs-browser
  packages/playground/remote/src/lib/worker-thread.ts
  packages/playground/website/src/components/playground-configuration-group/form.tsx
  packages/playground/website/src/components/playground-configuration-group/index.tsx
  packages/playground/website/src/components/playground-configuration-group/reload-with-new-configuration.ts
  packages/playground/website/src/components/toolbar-buttons/reset-site.tsx
  packages/playground/website/src/lib/hooks.ts
  packages/playground/website/src/types.ts
Labels: Developer Experience, Breaking change, Deprecations

#894 Ignore the __MACOSX folder when unzipping a plugin or a theme
  packages/playground/blueprints/src/lib/steps/install-asset.ts
Labels: Bug, Blueprints

#895 Move the stream-compression package from wp-playground to php-wasm
  .eslintrc.json
  package-lock.json
  packages/php-wasm/node/project.json
  packages/php-wasm/stream-compression/.eslintrc.json
  packages/php-wasm/stream-compression/README.md
  packages/php-wasm/stream-compression/package.json
  packages/php-wasm/stream-compression/project.json
  packages/php-wasm/stream-compression/src/index.ts
  packages/php-wasm/stream-compression/src/test/append-bytes.spec.ts
  packages/php-wasm/stream-compression/src/test/decode-zip.spec.ts
  packages/php-wasm/stream-compression/src/test/encode-zip.spec.ts
  packages/php-wasm/stream-compression/src/test/fixtures/hello-dolly.zip
  packages/php-wasm/stream-compression/src/test/prepend-bytes.spec.ts
  packages/php-wasm/stream-compression/src/test/skip-first-bytes.spec.ts
  packages/php-wasm/stream-compression/src/test/skip-last-bytes.spec.ts
  packages/php-wasm/stream-compression/src/test/vitest-setup-file.ts
  packages/php-wasm/stream-compression/src/utils/append-bytes.ts
  packages/php-wasm/stream-compression/src/utils/collect-bytes.ts
  packages/php-wasm/stream-compression/src/utils/collect-file.ts
  packages/php-wasm/stream-compression/src/utils/collect-string.ts
  packages/php-wasm/stream-compression/src/utils/concat-bytes.ts
  packages/php-wasm/stream-compression/src/utils/concat-string.ts
  packages/php-wasm/stream-compression/src/utils/concat-uint8-array.ts
  packages/php-wasm/stream-compression/src/utils/filter-stream.ts
  packages/php-wasm/stream-compression/src/utils/iterable-stream-polyfill.ts
  packages/php-wasm/stream-compression/src/utils/iterator-to-stream.ts
  packages/php-wasm/stream-compression/src/utils/limit-bytes.ts
  packages/php-wasm/stream-compression/src/utils/prepend-bytes.ts
  packages/php-wasm/stream-compression/src/utils/skip-first-bytes.ts
  packages/php-wasm/stream-compression/src/utils/skip-last-bytes.ts
  packages/php-wasm/stream-compression/src/utils/streamed-file.ts
  packages/php-wasm/stream-compression/src/zip/decode-remote-zip.ts
  packages/php-wasm/stream-compression/src/zip/decode-zip.ts
  packages/php-wasm/stream-compression/src/zip/encode-zip.ts
  packages/php-wasm/stream-compression/src/zip/index.ts
  packages/php-wasm/stream-compression/src/zip/types.ts
  packages/php-wasm/stream-compression/tsconfig.json
  packages/php-wasm/stream-compression/tsconfig.lib.json
  packages/php-wasm/stream-compression/tsconfig.spec.json
  packages/php-wasm/stream-compression/vite.config.ts
  packages/php-wasm/universal/src/lib/index.ts
  packages/php-wasm/universal/src/lib/iterate-files.ts
  packages/php-wasm/universal/src/lib/stream-read-file-from-php.ts
  packages/php-wasm/universal/src/lib/write-files-stream-to-php.ts
  packages/php-wasm/util/project.json
  packages/php-wasm/util/tsconfig.lib.json
  packages/php-wasm/web/project.json
  packages/playground/stream-compression/README.md
  tsconfig.base.json
Labels: Enhancement, PHP.wasm, Developer Tools

#897 Fix progress bar regression introduced in #639
  packages/php-wasm/compile/php/Dockerfile
  packages/php-wasm/web/public/kitchen-sink/php_7_0.js
  packages/php-wasm/web/public/kitchen-sink/php_7_1.js
  packages/php-wasm/web/public/kitchen-sink/php_7_2.js
  packages/php-wasm/web/public/kitchen-sink/php_7_3.js
  packages/php-wasm/web/public/kitchen-sink/php_7_4.js
  packages/php-wasm/web/public/kitchen-sink/php_8_0.js
  packages/php-wasm/web/public/kitchen-sink/php_8_1.js
  packages/php-wasm/web/public/kitchen-sink/php_8_2.js
  packages/php-wasm/web/public/kitchen-sink/php_8_3.js
  packages/php-wasm/web/public/light/php_7_0.js
  packages/php-wasm/web/public/light/php_7_1.js
  packages/php-wasm/web/public/light/php_7_2.js
  packages/php-wasm/web/public/light/php_7_3.js
  packages/php-wasm/web/public/light/php_7_4.js
  packages/php-wasm/web/public/light/php_8_0.js
  packages/php-wasm/web/public/light/php_8_1.js
  packages/php-wasm/web/public/light/php_8_2.js
  packages/php-wasm/web/public/light/php_8_3.js
  packages/php-wasm/web/public/php_5_6.js
  packages/php-wasm/web/public/php_7_0.js
  packages/php-wasm/web/public/php_7_1.js
  packages/php-wasm/web/public/php_7_2.js
  packages/php-wasm/web/public/php_7_3.js
  packages/php-wasm/web/public/php_7_4.js
  packages/php-wasm/web/public/php_8_0.js
  packages/php-wasm/web/public/php_8_1.js
  packages/php-wasm/web/public/php_8_2.js
Labels: Browser, PHP.wasm

#896 PHP.wasm: Report both the source and target path on failure
  packages/php-wasm/node/src/test/php.spec.ts
  packages/php-wasm/universal/src/lib/base-php.ts
  packages/php-wasm/universal/src/lib/rethrow-file-system-error.ts
Labels: Enhancement, PHP.wasm

#887 Fixing build regression [PATHS]
  packages/php-wasm/compile/libedit/Dockerfile
  packages/php-wasm/compile/libiconv/Dockerfile
  packages/php-wasm/compile/libopenssl/Dockerfile
  packages/php-wasm/compile/libpng16/Dockerfile
  packages/php-wasm/compile/libsqlite3/Dockerfile
  packages/php-wasm/compile/libzip/Dockerfile
  packages/php-wasm/compile/php/Dockerfile
Labels: Bug, PHP.wasm

#892 Fixing Build Regression [BISON]
  packages/php-wasm/compile/Makefile
  packages/php-wasm/compile/build.js
Labels: Bug, PHP.wasm
