Repository WordPress/wordpress-playground, pull requests merged in 2023-04, with the labels that each got.

#189 Add PHP.load() and PHP.loadSync() methods
  packages/php-wasm/cli/src/main.ts
  packages/php-wasm/common/src/lib/index.ts
  packages/php-wasm/common/src/lib/php-browser.ts
  packages/php-wasm/common/src/lib/php-request-handler.ts
  packages/php-wasm/common/src/lib/php.ts
  packages/php-wasm/common/src/lib/supported-php-versions.ts
  packages/php-wasm/common/src/supported-php-versions.ts
  packages/php-wasm/node/README.md
  packages/php-wasm/node/src/index.ts
  packages/php-wasm/node/src/lib/get-php-loader-module.ts
  packages/php-wasm/node/src/lib/index.ts
  packages/php-wasm/node/src/lib/networking/with-networking.ts
  packages/php-wasm/node/src/lib/php.ts
  packages/php-wasm/node/src/test/php-networking.spec.ts
  packages/php-wasm/node/src/test/php-request-handler.spec.ts
  packages/php-wasm/node/src/test/php-server.spec.ts
  packages/php-wasm/node/src/test/php.spec.ts
  packages/php-wasm/progress/src/lib/emscripten-download-monitor.ts
  packages/php-wasm/scopes/src/index.ts
  packages/php-wasm/web-service-worker/src/initialize-service-worker.ts
  packages/php-wasm/web/README.md
  packages/php-wasm/web/src/index.ts
  packages/php-wasm/web/src/lib/get-php-loader-module.ts
  packages/php-wasm/web/src/lib/index.ts
  packages/php-wasm/web/src/lib/php-client.ts
  packages/php-wasm/web/src/lib/php.ts
  packages/playground/client/README.md
  packages/playground/client/src/index.ts
  packages/playground/client/src/lib/activate-plugin.ts
  packages/playground/client/src/lib/import-export.ts
  packages/playground/client/src/lib/install-plugin.ts
  packages/playground/client/src/lib/install-theme.ts
  packages/playground/client/src/lib/login.ts
  packages/playground/remote/service-worker.ts
  packages/playground/remote/src/lib/get-wordpress-module.ts
  packages/playground/remote/src/lib/worker-thread.ts
  packages/playground/website/src/main.tsx
  pages/embedding-wordpress-playground-on-other-websites.md
  pages/running-wordpress-in-the-browser.md
  pages/using-php-in-javascript.md
  pages/using-php-in-the-browser.md
  typedoc.js
Labels: Developer Experience

#190 Rethrow human-readable FS errors from the PHP class
  packages/php-wasm/common/src/lib/index.ts
  packages/php-wasm/common/src/lib/php.ts
  packages/php-wasm/common/src/lib/rethrow-file-system-error.ts
  packages/php-wasm/node/src/test/php.spec.ts
Labels: Developer Experience

#200 Fix package main on `@php-wasm/node`
  packages/php-wasm/node/package.json
Labels: Local Environment i1

#210 Introduce jsToPHPTranslator
  packages/php-wasm/common/src/lib/index.ts
  packages/php-wasm/common/src/lib/js-to-php-translator.spec.ts
  packages/php-wasm/common/src/lib/js-to-php-translator.ts
  packages/php-wasm/common/tsconfig.spec.json
  packages/php-wasm/node/src/index.ts
  packages/php-wasm/web/src/index.ts
Labels: Enhancement

#211 Playground Blueprints
  package.json
  packages/playground/client/bin/generate-schema.js
  packages/playground/client/project.json
  packages/playground/client/src/index.ts
  packages/playground/client/src/lib/blueprint/compile.ts
  packages/playground/client/src/lib/blueprint/index.ts
  packages/playground/client/src/lib/blueprint/resources.ts
  packages/playground/client/src/lib/blueprint/run.ts
  packages/playground/client/src/lib/blueprint/steps.ts
  packages/playground/client/src/lib/index.ts
  packages/playground/client/src/lib/install-plugins-from-directory.ts
  packages/playground/client/src/lib/install-theme-from-directory.ts
  packages/playground/remote/src/lib/boot-playground-remote.ts
  packages/playground/remote/src/lib/index.ts
  packages/playground/remote/src/lib/playground-client.ts
  packages/playground/remote/src/lib/progress-bar/index.ts
  packages/playground/remote/src/lib/progress-bar/style.module.css
  packages/playground/remote/vite.config.ts
  packages/playground/website/src/components/playground-viewport/index.tsx
  packages/playground/website/src/components/progress-bar/index.tsx
  packages/playground/website/src/components/version-select/index.tsx
  packages/playground/website/src/lib/hooks.ts
  packages/playground/website/src/lib/make-blueprint.tsx
  packages/playground/website/src/lib/setup-playground.tsx
  packages/playground/website/src/main.tsx
  yarn.lock
Labels: Enhancement, Mission-critical, Importing

#215 Use the same structure for Blueprint JSON definitions and step handlers
  packages/playground/blueprints/src/index.ts
  packages/playground/blueprints/src/lib/blueprint.ts
  packages/playground/blueprints/src/lib/compile.spec.ts
  packages/playground/blueprints/src/lib/compile.ts
  packages/playground/blueprints/src/lib/resources.ts
  packages/playground/blueprints/src/lib/run.ts
  packages/playground/blueprints/src/lib/steps/activate-plugin.ts
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/index.ts
  packages/playground/blueprints/src/lib/steps/client-methods.ts
  packages/playground/blueprints/src/lib/steps/common.ts
  packages/playground/blueprints/src/lib/steps/define-site-url.ts
  packages/playground/blueprints/src/lib/steps/handlers.ts
  packages/playground/blueprints/src/lib/steps/import-export.ts
  packages/playground/blueprints/src/lib/steps/index.ts
  packages/playground/blueprints/src/lib/steps/install-plugin.ts
  packages/playground/blueprints/src/lib/steps/install-theme.ts
  packages/playground/blueprints/src/lib/steps/login.ts
  packages/playground/blueprints/src/lib/steps/run-wp-installation-wizard.ts
  packages/playground/blueprints/src/lib/steps/site-data.ts
  packages/playground/client/src/index.ts
  packages/playground/website/src/components/import-form/index.tsx
Labels: Enhancement, Developer Experience

#126 Support previewing Gutenberg Pull Requests
  packages/playground/website/public/plugin-proxy.php
  packages/playground/website/src/lib/make-blueprint.tsx
  packages/playground/website/src/main.tsx
  packages/playground/website/vite.config.ts
Labels: Enhancement, [Priority] Medium, Developer Experience

#216 Blueprints: Use `playground.documentRoot` instead of hardcoding `/wordpress` path
  packages/php-wasm/universal/src/lib/base-php.ts
  packages/php-wasm/universal/src/lib/universal-php.ts
  packages/playground/blueprints/src/lib/steps/define-site-url.ts
Labels: Local Environment i1

#213 Update README.md with the new loadPlayground helper
  README.md
  packages/playground/client/README.md
Labels: Documentation, Importing

#218 PHP WASM Universal: use named imports in `base-php` and remove default exports
  packages/php-wasm/universal/src/lib/base-php.ts
  packages/php-wasm/universal/src/lib/php-browser.ts
  packages/php-wasm/universal/src/lib/php-request-handler.ts
Labels: Local Environment i1
