Repository WordPress/wordpress-playground, pull requests merged in 2024-10, with the labels that each got.

#1826 Docs: review playground docs translations page
  packages/docs/site/docs/main/contributing/translations.md
Labels: [Type] Documentation

#1825 Docs: Playground PR previews through GitHub actions
  packages/docs/site/docs/main/about/test.md
Labels: [Type] Documentation, [Type] Developer Documentation

#1839 [Website] Use site slug as a stable scope
  packages/php-wasm/scopes/src/index.spec.ts
  packages/php-wasm/scopes/src/index.ts
  packages/php-wasm/web/src/lib/register-service-worker.ts
  packages/playground/client/src/index.ts
  packages/playground/remote/src/lib/boot-playground-remote.ts
  packages/playground/remote/src/lib/playground-client.ts
  packages/playground/website/src/lib/state/redux/boot-site-client.ts
Labels: [Type] Enhancement, [Aspect] Website

#1854 [Website] Restore the single-click "Edit Settings" flow
  packages/playground/website/index.html
  packages/playground/website/playwright/e2e/website-ui.spec.ts
  packages/playground/website/playwright/website-page.ts
  packages/playground/website/src/components/browser-chrome/index.tsx
  packages/playground/website/src/components/browser-chrome/style.module.css
  packages/playground/website/src/components/edit-site-settings-button/index.tsx
  packages/playground/website/src/components/edit-site-settings-button/style.module.css
  packages/playground/website/src/components/ensure-playground-site/ensure-playground-site-is-selected.tsx
  packages/playground/website/src/components/layout/index.tsx
  packages/playground/website/src/components/layout/style.module.css
  packages/playground/website/src/components/playground-viewport/index.tsx
  packages/playground/website/src/components/plugin-ide/setup.ts
  packages/playground/website/src/components/site-manager/icons.tsx
  packages/playground/website/src/components/site-manager/index.tsx
  packages/playground/website/src/components/site-manager/sidebar/index.tsx
  packages/playground/website/src/components/site-manager/sidebar/style.module.css
  packages/playground/website/src/components/site-manager/site-create-button/index.tsx
  packages/playground/website/src/components/site-manager/site-info-panel/index.tsx
  packages/playground/website/src/components/site-manager/site-info-panel/style.module.css
  packages/playground/website/src/components/site-manager/site-settings-form/active-site-settings-form.tsx
  packages/playground/website/src/components/site-manager/site-settings-form/index.tsx
  packages/playground/website/src/components/site-manager/site-settings-form/stored-site-settings-form.tsx
  packages/playground/website/src/components/site-manager/site-settings-form/style.module.css
  packages/playground/website/src/components/site-manager/site-settings-form/temporary-site-settings-form.tsx
  packages/playground/website/src/components/site-manager/site-settings-form/unconnected-site-settings-form.tsx
  packages/playground/website/src/components/site-manager/storage-type/index.tsx
  packages/playground/website/src/lib/get-relative-date.ts
  packages/playground/website/src/lib/site-metadata.ts
  packages/playground/website/src/lib/state/redux/persist-temporary-site.ts
  packages/playground/website/src/lib/state/redux/slice-sites.ts
  packages/playground/website/src/lib/state/url/router.ts
Labels: [Type] Enhancement, [Type] UI / UX / User Experience, [Aspect] Website, [Package][@wp-playground] Website

#1761 Add core-pr and gutenberg-pr Query API parameters
  CHANGELOG.md
  packages/docs/site/docs/developers/06-apis/query-api/01-index.md
  packages/docs/site/docs/main/changelog.md
  packages/playground/website/public/gutenberg.html
  packages/playground/website/public/wordpress.html
  packages/playground/website/src/lib/state/url/resolve-blueprint-from-url.ts
Labels: [Type] Enhancement, [Focus] Developer Tools, [Package][@wp-playground] Website

#1793 Blueprints: Directory Resources
  README.md
  packages/docs/site/docs/blueprints/01-index.md
  packages/docs/site/docs/blueprints/02-using-blueprints.md
  packages/docs/site/docs/blueprints/03-data-format.md
  packages/docs/site/docs/blueprints/05-steps-shorthands.md
  packages/docs/site/docs/blueprints/08-examples.md
  packages/docs/site/docs/blueprints/tutorial/03-build-your-first-blueprint.md
  packages/docs/site/docs/developers/03-build-an-app/01-index.md
  packages/docs/site/docs/developers/06-apis/01-index.md
  packages/docs/site/docs/developers/06-apis/javascript-api/04-blueprint-json-in-api-client.md
  packages/docs/site/docs/developers/06-apis/javascript-api/05-blueprint-functions-in-api-client.md
  packages/docs/site/docs/main/guides/for-plugin-developers.md
  packages/docs/site/docs/main/guides/for-theme-developers.md
  packages/docs/site/docs/main/guides/providing-content-for-your-demo.md
  packages/playground/blueprints/public/blueprint-schema-validator.js
  packages/playground/blueprints/public/blueprint-schema.json
  packages/playground/blueprints/src/index.ts
  packages/playground/blueprints/src/lib/compile.spec.ts
  packages/playground/blueprints/src/lib/compile.ts
  packages/playground/blueprints/src/lib/resources.ts
  packages/playground/blueprints/src/lib/steps/handlers.ts
  packages/playground/blueprints/src/lib/steps/import-wxr.spec.ts
  packages/playground/blueprints/src/lib/steps/index.ts
  packages/playground/blueprints/src/lib/steps/install-plugin.spec.ts
  packages/playground/blueprints/src/lib/steps/install-plugin.ts
  packages/playground/blueprints/src/lib/steps/install-theme.spec.ts
  packages/playground/blueprints/src/lib/steps/install-theme.ts
  packages/playground/blueprints/src/lib/steps/write-file.ts
  packages/playground/blueprints/src/lib/steps/write-files.spec.ts
  packages/playground/blueprints/src/lib/steps/write-files.ts
  packages/playground/website/builder/builder.js
  packages/playground/website/demos/index.html
  packages/playground/website/playwright/e2e/blueprints.spec.ts
  packages/playground/website/public/gutenberg.html
  packages/playground/website/src/lib/state/url/resolve-blueprint-from-url.ts
Labels: [Type] Enhancement, [Package][@wp-playground] Blueprints

#1856 [Blueprints] Login step – handle passwordless autologin via a PHP mu-plugin
  packages/playground/blueprints/public/blueprint-schema-validator.js
  packages/playground/blueprints/public/blueprint-schema.json
  packages/playground/blueprints/src/lib/compile.ts
  packages/playground/blueprints/src/lib/steps/enable-multisite.spec.ts
  packages/playground/blueprints/src/lib/steps/enable-multisite.ts
  packages/playground/blueprints/src/lib/steps/login.spec.ts
  packages/playground/blueprints/src/lib/steps/login.ts
  packages/playground/blueprints/src/lib/steps/wp-cli.ts
  packages/playground/website/builder/builder.js
  packages/playground/website/playwright/e2e/blueprints.spec.ts
  packages/playground/website/playwright/e2e/query-api.spec.ts
  packages/playground/wordpress/src/index.ts
  packages/playground/wordpress/src/mu-plugins/auto_login.php
Labels: [Type] Bug, [Package][@wp-playground] Blueprints

#1858 GitDirectoryResource
  packages/playground/blueprints/src/lib/compile.ts
  packages/playground/blueprints/src/lib/resources.ts
  packages/playground/client/src/index.ts
  packages/playground/components/src/demos/GitBrowserDemo.tsx
  packages/playground/php-cors-proxy/cors-proxy.php
  packages/playground/storage/src/lib/git-sparse-checkout.spec.ts
  packages/playground/storage/src/lib/git-sparse-checkout.ts
  packages/playground/website/project.json
  packages/playground/website/src/lib/state/redux/boot-site-client.ts
  packages/playground/website/vite.config.ts
Labels: [Type] Enhancement, [Package][@wp-playground] Blueprints, [Feature] GitHub integration

#1860 GitDirectoryResource: Accept "/", "", "." as root paths
  packages/playground/blueprints/src/lib/resources.ts
  packages/playground/storage/src/lib/paths.spec.ts
  packages/playground/storage/src/lib/paths.ts
Labels: [Type] Enhancement, [Package][@wp-playground] Blueprints, [Feature] GitHub integration

#1863 Make isomorphic-git submodule use https, not ssh
  .gitmodules
Labels: [Type] Enhancement, [Type] Repo / Project Management

#1865 Restrict CORS proxy to requests from Playground website origin
  packages/playground/php-cors-proxy/cors-proxy.php
Labels: [Type] Enhancement, [Aspect] Website, [Package][@wp-playground] Website, [Package][@wp-playground] CORS Proxy

#1759 Blueprints sidebar section for single-click Playground presets
  package-lock.json
  package.json
  packages/playground/components/src/icons.tsx
  packages/playground/remote/service-worker.ts
  packages/playground/website/src/components/site-manager/blueprints-panel/index.tsx
  packages/playground/website/src/components/site-manager/blueprints-panel/style.module.css
  packages/playground/website/src/components/site-manager/index.tsx
  packages/playground/website/src/components/site-manager/sidebar/index.tsx
  packages/playground/website/src/components/site-manager/site-info-panel/index.tsx
  packages/playground/website/src/lib/hooks/use-fetch.ts
  packages/playground/website/src/lib/state/redux/slice-ui.ts
  packages/playground/website/src/styles.css
Labels: [Type] UI / UX / User Experience, [Type] Exploration, [Feature] Blueprints Builder

#1887 Website: Remove unused React components
  packages/playground/components/src/icons.tsx
  packages/playground/website/src/components/browser-chrome/index.tsx
  packages/playground/website/src/components/edit-site-settings-button/index.tsx
  packages/playground/website/src/components/edit-site-settings-button/style.module.css
  packages/playground/website/src/components/open-site-manager-button/index.tsx
  packages/playground/website/src/components/open-site-manager-button/style.module.css
  packages/playground/website/src/components/select/index.tsx
  packages/playground/website/src/components/select/style.module.css
  packages/playground/website/src/components/version-select/index.tsx
Labels: [Type] Enhancement, [Type] UI / UX / User Experience

#1885 Website: Use modal for Site settings form on mobile – mobile Safari l…
  packages/playground/website/src/components/browser-chrome/index.tsx
Labels: [Type] Bug, [Type] UI / UX / User Experience, [Aspect] Website

#1888 Kickoff Data Liberation: Let's Build WordPress-first Data Migration Tools
  packages/playground/data-liberation/PLAN.md
  packages/playground/data-liberation/RATIONALE.md
  packages/playground/data-liberation/README.md
  packages/playground/data-liberation/package.json
  packages/playground/data-liberation/project.json
Labels: [Type] Enhancement, [Feature] Import Export, [Aspect] Data Liberation

#1891 [Blueprints] Stop escaping landingPage URLs when loading WP Admin
  packages/playground/website/playwright/e2e/blueprints.spec.ts
  packages/playground/website/playwright/e2e/query-api.spec.ts
  packages/playground/wordpress/src/index.ts
Labels: [Type] Bug, [Aspect] WordPress, [Package][@wp-playground] WordPress

#1879 Support CORS proxy rate-limiting
  packages/playground/php-cors-proxy/README.md
  packages/playground/php-cors-proxy/cors-proxy.php
  packages/playground/php-cors-proxy/proxy-functions.php
  packages/playground/php-cors-proxy/tests/ProxyFunctionsTests.php
  packages/playground/website-deployment/apply-update.sh
  packages/playground/website-deployment/cors-proxy-config.php
  packages/playground/website-deployment/cors-proxy-rate-limiting-table.sql
Labels: [Type] Enhancement, [Package][@wp-playground] CORS Proxy

#1880 Include CORS proxy with website builds
  packages/playground/php-cors-proxy/cors-proxy-functions.php
  packages/playground/php-cors-proxy/cors-proxy.php
  packages/playground/php-cors-proxy/tests/bootstrap.php
  packages/playground/website-deployment/apply-update.sh
  packages/playground/website/project.json
Labels: [Type] Enhancement, [Aspect] Website, [Package][@wp-playground] Website, [Package][@wp-playground] CORS Proxy

#1895 Stop adding all CORS proxy files to website build
  packages/playground/website/project.json
Labels: [Type] Bug, [Aspect] Website

#1896 Fix build error that only appeared during deployment
  packages/playground/website/project.json
Labels: [Type] Bug, [Aspect] Website

#1897 Website: Stop responding with default MIME type
  packages/php-wasm/universal/src/lib/php-request-handler.ts
  packages/playground/website-deployment/custom-redirects-lib.php
Labels: [Type] Bug, [Aspect] Website

#1898 Website: Stop short-circuiting web host PHP execution
  packages/playground/website-deployment/custom-redirects-lib.php
Labels: [Type] Bug, [Aspect] Website

#1899 Blueprints: Use `?` instead of `/` to CORS Proxy URLs
  packages/playground/blueprints/src/lib/compile.ts
  packages/playground/blueprints/src/lib/resources.ts
  packages/playground/client/src/index.ts
Labels: [Type] Bug, [Feature] GitHub integration

#1909 Fix use of secrets on WP Cloud site
  packages/playground/website-deployment/custom-redirects-lib.php
Labels: [Type] Bug, [Aspect] Website

#1910 [Website] Maintain Query API parameters on temporary Playground settings update
  packages/playground/website/playwright/e2e/website-ui.spec.ts
  packages/playground/website/src/components/site-manager/site-settings-form/temporary-site-settings-form.tsx
Labels: [Type] Bug, [Aspect] Website

#1912 [Website] Do not display "You have no Playgrounds" message before loading the site
  packages/playground/website/src/components/playground-viewport/index.tsx
Labels: [Type] Enhancement, [Type] UI / UX / User Experience, [Aspect] Website

#1832 Prefer pretty permalinks like WP install does
  packages/playground/wordpress/src/boot.ts
Labels: [Type] Bug, [Aspect] WordPress, [Feature] Boot Flow

#1915 Fix progress reporting during Playground load
  packages/playground/remote/src/lib/offline-mode-cache.ts
Labels: [Type] Bug, [Package][@wp-playground] Website

#1911 [Remote] Preserve PHP constants when saving a temporary site
  packages/playground/blueprints/public/blueprint-schema-validator.js
  packages/playground/blueprints/public/blueprint-schema.json
  packages/playground/blueprints/src/index.ts
  packages/playground/blueprints/src/lib/blueprint.ts
  packages/playground/website/playwright/e2e/website-ui.spec.ts
  packages/playground/website/src/components/site-manager/sidebar/index.tsx
  packages/playground/website/src/lib/site-metadata.ts
  packages/playground/website/src/lib/state/redux/persist-temporary-site.ts
Labels: [Type] Bug, [Feature] OPFS, [Package][@wp-playground] Website

#1914 [Blueprints] Reload after autologin to set login cookies during boot
  packages/playground/blueprints/src/lib/steps/enable-multisite.spec.ts
  packages/playground/blueprints/src/lib/steps/login.spec.ts
  packages/playground/remote/src/lib/worker-thread.ts
  packages/playground/website-deployment/custom-redirects.php
  packages/playground/wordpress/src/index.ts
Labels: [Type] Bug, [Package][@wp-playground] Blueprints

#1928 Remove test code added in #1914
  packages/playground/remote/src/lib/worker-thread.ts
Labels: [Type] Bug

#1923 [CORS Proxy] Rate-limits IPv6 requests based on /64 subnets, not specific addresses
  packages/playground/website-deployment/cors-proxy-config.php
  packages/playground/website-deployment/tests.php
Labels: [Type] Enhancement

#1932 CORS Proxy: Reject targeting self
  packages/playground/php-cors-proxy/cors-proxy-functions.php
  packages/playground/php-cors-proxy/tests/ProxyFunctionsTests.php
Labels: [Type] Bug, [Package][@wp-playground] CORS Proxy

#1931 CORS Proxy: Index update_at column because it is used for lookup
  packages/playground/website-deployment/cors-proxy-rate-limiting-table.sql
Labels: [Type] Bug, [Package][@wp-playground] CORS Proxy

#1930 Explicitly request no-cache to discourage WP Cloud from edge caching CORS proxy results
  packages/playground/php-cors-proxy/cors-proxy.php
Labels: [Type] Bug, [Package][@wp-playground] CORS Proxy

#1939 [Blueprints] Skip empty lines in the runSql step
  packages/playground/blueprints/src/lib/steps/run-sql.spec.ts
  packages/playground/blueprints/src/lib/steps/run-sql.ts
Labels: [Type] Enhancement, [Package][@wp-playground] Blueprints

#1924 Publish @wp-playground/remote (types only)
  packages/playground/client/project.json
  packages/playground/client/src/index.ts
  packages/playground/remote/package.json
  packages/playground/remote/project.json
Labels: [Type] Enhancement, [Package][@wp-playground] Remote

#1947 Query API: Preserve multiple ?plugin= query params
  packages/playground/website/src/components/ensure-playground-site/ensure-playground-site-is-selected.tsx
  packages/playground/website/src/lib/state/url/router-hooks.ts
Labels: [Type] Bug, [Aspect] Website

#1893 [Data liberation] wp_rewrite_urls()
  .github/workflows/ci.yml
  .gitignore
  .gitmodules
  .vscode/settings.json
  packages/playground/data-liberation/bin/regenerate_public_suffix_list.php
  packages/playground/data-liberation/bin/rewrite-urls.php
  packages/playground/data-liberation/bootstrap.php
  packages/playground/data-liberation/composer.json
  packages/playground/data-liberation/composer.lock
  packages/playground/data-liberation/phpcs.xml
  packages/playground/data-liberation/phpunit.xml
  packages/playground/data-liberation/project.json
  packages/playground/data-liberation/src/README.md
  packages/playground/data-liberation/src/WP_Block_Markup_Processor.php
  packages/playground/data-liberation/src/WP_Block_Markup_Url_Processor.php
  packages/playground/data-liberation/src/WP_URL.php
  packages/playground/data-liberation/src/WP_URL_In_Text_Processor.php
  packages/playground/data-liberation/src/functions.php
  packages/playground/data-liberation/src/public_suffix_list.php
  packages/playground/data-liberation/src/wordpress-core-html-api/class-wp-html-active-formatting-elements.php
  packages/playground/data-liberation/src/wordpress-core-html-api/class-wp-html-attribute-token.php
  packages/playground/data-liberation/src/wordpress-core-html-api/class-wp-html-decoder.php
  packages/playground/data-liberation/src/wordpress-core-html-api/class-wp-html-doctype-info.php
  packages/playground/data-liberation/src/wordpress-core-html-api/class-wp-html-open-elements.php
  packages/playground/data-liberation/src/wordpress-core-html-api/class-wp-html-processor-state.php
  packages/playground/data-liberation/src/wordpress-core-html-api/class-wp-html-processor.php
  packages/playground/data-liberation/src/wordpress-core-html-api/class-wp-html-span.php
  packages/playground/data-liberation/src/wordpress-core-html-api/class-wp-html-stack-event.php
  packages/playground/data-liberation/src/wordpress-core-html-api/class-wp-html-tag-processor.php
  packages/playground/data-liberation/src/wordpress-core-html-api/class-wp-html-text-replacement.php
  packages/playground/data-liberation/src/wordpress-core-html-api/class-wp-html-token.php
  packages/playground/data-liberation/src/wordpress-core-html-api/class-wp-html-unsupported-exception.php
  packages/playground/data-liberation/src/wordpress-core-html-api/class-wp-token-map.php
  packages/playground/data-liberation/src/wordpress-core-html-api/html5-named-character-references.php
  packages/playground/data-liberation/tests/URLParserWHATWGComplianceTests.php
  packages/playground/data-liberation/tests/UrldecodeNTests.php
  packages/playground/data-liberation/tests/WPBlockMarkupProcessorTests.php
  packages/playground/data-liberation/tests/WPBlockMarkupUrlProcessorTests.php
  packages/playground/data-liberation/tests/WPRewriteUrlsTests.php
  packages/playground/data-liberation/tests/WPURLInTextProcessorTests.php
  packages/playground/data-liberation/tests/whatwg_url_test_data.json
Labels: [Type] Enhancement

#1958 [PHP.wasm for Node] Fix php.js import path in the published npm package
  packages/php-wasm/web/project.json
  packages/php-wasm/web/vite.config.ts
Labels: [Type] Bug, [Package][@php-wasm] Web

#1949 Restore .d.ts files missing from the published @wp-playground/remote npm package
  packages/playground/remote/package.json
Labels: [Type] Bug, [Package][@wp-playground] Remote, Needs Author's Reply

#1963 Rewrite clone examples to use HTTPS instead of SSH
  README.md
  packages/docs/site/docs/developers/23-architecture/18-host-your-own-playground.md
Labels: [Type] Documentation, [Type] Developer Experience, [Type] Developer Documentation

#1964 fix sidebar for settings, logs and blueprint gallery
  packages/playground/website/src/components/layout/style.module.css
  packages/playground/website/src/components/site-manager/blueprints-panel/index.tsx
  packages/playground/website/src/components/site-manager/blueprints-panel/style.module.css
Labels: [Type] Enhancement, [Package][@wp-playground] Website

#1968 [Data Liberation] Fork humanmade/WordPress-Importer
  packages/playground/data-liberation/phpcs.xml
  packages/playground/data-liberation/src/WXR_Import_Info.php
  packages/playground/data-liberation/src/WXR_Importer.php
Labels: [Type] Enhancement, [Aspect] Data Liberation

#1960 [Data Liberation] Merge both XML processors into a single WP_XML_Processor
  packages/playground/data-liberation/bootstrap.php
  packages/playground/data-liberation/phpunit.xml
  packages/playground/data-liberation/src/WP_WXR_URL_Rewrite_Processor.php
  packages/playground/data-liberation/src/stream-api/WP_File_Byte_Stream.php
  packages/playground/data-liberation/src/stream-api/WP_Stream_Chain.php
  packages/playground/data-liberation/src/stream-api/WP_Stream_Processor.php
  packages/playground/data-liberation/src/xml-api/WP_XML_Processor.php
  packages/playground/data-liberation/src/xml-api/WP_XML_Tag_Processor.php
  packages/playground/data-liberation/tests/WPWXRURLRewriterTests.php
  packages/playground/data-liberation/tests/WPXMLProcessorTests.php
  packages/playground/data-liberation/tests/WPXMLTagProcessorTests.php
  packages/playground/data-liberation/tests/fixtures/wxr-simple.xml
Labels: [Type] Enhancement, [Aspect] Data Liberation
