Repository WordPress/wordpress-playground, pull requests merged in 2024-06, with the labels that each got.

#1479 Web: Support mounting OPFS at arbitrary paths in Playground
  package-lock.json
  package.json
  packages/php-wasm/web/src/lib/directory-handle-mount.ts
  packages/playground/client/src/index.ts
  packages/playground/remote/src/lib/boot-playground-remote.ts
  packages/playground/remote/src/lib/opfs/bind-opfs.ts
  packages/playground/remote/src/lib/opfs/types.ts
  packages/playground/remote/src/lib/playground-client.ts
  packages/playground/remote/src/lib/worker-thread.ts
  packages/playground/website/src/components/error-report-modal/index.tsx
  packages/playground/website/src/components/log-modal/index.tsx
  packages/playground/website/src/components/mount-markdown-directory-modal/index.tsx
  packages/playground/website/src/components/playground-configuration-group/index.tsx
  packages/playground/website/src/components/playground-configuration-group/start-over-button.tsx
  packages/playground/website/src/components/playground-configuration-group/sync-local-files-button.tsx
  packages/playground/website/src/components/playground-viewport/context.ts
  packages/playground/website/src/components/playground-viewport/index.tsx
  packages/playground/website/src/components/toolbar-buttons/download-as-zip.tsx
  packages/playground/website/src/components/toolbar-buttons/report-error.tsx
  packages/playground/website/src/components/toolbar-buttons/reset-site.tsx
  packages/playground/website/src/components/toolbar-buttons/restore-from-zip.tsx
  packages/playground/website/src/components/toolbar-buttons/view-logs.tsx
  packages/playground/website/src/github/github-export-form/modal.tsx
  packages/playground/website/src/github/github-import-form/modal.tsx
  packages/playground/website/src/lib/markdown-directory-handle.ts
  packages/playground/website/src/lib/redux-store.ts
  packages/playground/website/src/lib/use-boot-playground.ts
  packages/playground/website/src/lib/use-playground-client.ts
  packages/playground/website/src/main.tsx
  packages/playground/website/src/playground-context.tsx
Labels: [Type] Enhancement, [Type] Exploration, [Aspect] Website, [Aspect] Filesystem, [Package][@wp-playground] Remote

#1481 Website: Setup postMessage relay in the website app
  packages/php-wasm/web/src/lib/index.ts
  packages/php-wasm/web/src/lib/setup-post-message-relay.ts
  packages/playground/remote/src/lib/boot-playground-remote.ts
  packages/playground/website/src/components/playground-viewport/index.tsx
Labels: [Type] Enhancement, [Aspect] Website, [Package][@wp-playground] Website

#1482 Mount a directory from the browser
  packages/docs/site/docs/10-javascript-api/06-mount-data.md
  packages/playground/remote/src/lib/boot-playground-remote.ts
Labels: [Type] Enhancement, [Aspect] Website, [Feature] Boot Flow

#1475 Include the admin kitchen sink for import
  packages/playground/blueprints/src/lib/steps/import-wxr.ts
Labels: [Type] Bug, [Package][@wp-playground] Blueprints, [Feature] Import Export

#1477 WXR Import: Import posts as correct user
  packages/playground/blueprints/src/lib/steps/import-wxr.ts
Labels: [Type] Bug, [Package][@wp-playground] Blueprints, [Feature] Import Export

#1429 WordPress PR Previewer: Simplify the Blueprint
  packages/playground/website/public/wordpress.html
Labels: [Type] Enhancement, [Feature] PR Previewer, [Aspect] Website

#1480 Update the available options table in the Query API doc.
  packages/docs/site/docs/08-query-api/01-index.md
Labels: [Type] Documentation

#1493 Add default internal redirect for /puzzle/ paths
  packages/playground/website-deployment/custom-redirects-lib.php
Labels: [Type] Enhancement, [Aspect] Website, [Package][@wp-playground] Website

#1489 Puzzle app improvements
  packages/playground/puzzle/src/App.scss
  packages/playground/puzzle/src/assets/home-background.png
  packages/playground/puzzle/src/assets/shape.png
  packages/playground/puzzle/src/components/SiteButton/SiteButton.tsx
  packages/playground/puzzle/src/components/loader/Loader.tsx
  packages/playground/puzzle/src/components/scan-button/ScanButton.scss
  packages/playground/puzzle/src/components/scan-button/ScanButton.tsx
  packages/playground/puzzle/src/components/scan-overlay/ScanOverlay.tsx
  packages/playground/puzzle/src/site-builder/blueprints/yoast.json
  packages/playground/puzzle/src/site-builder/processor.ts
  packages/playground/puzzle/src/views/home/Home.scss
  packages/playground/puzzle/src/views/home/Home.tsx
  packages/playground/puzzle/src/views/scan/Scan.scss
  packages/playground/puzzle/src/views/scan/Scan.tsx
  packages/playground/website/public/puzzle.php
Labels: [Type] Enhancement, [Type] Marketing

#1495 Puzzle app: disable plugin onboarding
  packages/playground/puzzle/src/site-builder/processor.ts
  packages/playground/puzzle/src/views/home/Home.scss
  packages/playground/website/public/puzzle.php
Labels: [Type] Enhancement, [Type] Marketing

#1497 Puzzle app: design feedback
  packages/playground/puzzle/src/App.scss
  packages/playground/puzzle/src/views/home/Home.scss
  packages/playground/puzzle/src/views/home/Home.tsx
  packages/playground/puzzle/src/views/scan/Scan.scss
  packages/playground/puzzle/src/views/scan/Scan.tsx
Labels: [Type] Enhancement, [Type] Marketing

#1498 Puzzle app: add analytics
  packages/playground/puzzle/index.html
  packages/playground/puzzle/src/site-builder/blueprints/elementor.json
Labels: [Type] Enhancement, [Type] Marketing

#1500 Ensure all logs are visible in the log modal
  packages/php-wasm/logger/src/lib/handlers/log-event.ts
  packages/php-wasm/logger/src/lib/logger.ts
  packages/php-wasm/logger/src/test/logger.spec.ts
  packages/playground/website/src/components/log-modal/index.tsx
Labels: [Type] Bug, [Aspect] Website, [Package][@php-wasm] Logger

#1508 Remove Elementor theme from blueprint
  packages/playground/puzzle/src/site-builder/blueprints/elementor.json
Labels: [Type] Enhancement, [Type] Marketing

#1086 Add PWA support
  packages/playground/website/index.html
  packages/playground/website/manifest.json
  packages/playground/website/manifest.production.json
  packages/playground/website/public/logo-192.png
  packages/playground/website/public/logo-256.png
  packages/playground/website/public/logo-384.png
  packages/playground/website/public/logo-512.png
  packages/playground/website/vite.config.ts
Labels: [Type] Enhancement, [Aspect] Website

#1509 Update remaining localhost:5400 refs to 127.0.0.1:5400
  packages/docs/site/docs/13-contributing/02-code.md
  packages/php-wasm/compile/php/Dockerfile
  packages/playground/remote/remote.html
  packages/playground/website/demos/php-blueprints.ts
Labels: [Type] Bug, [Type] Developer Experience, [Type] Developer Documentation

#1511 Networking: Remove CORS workarounds for WordPress.org API.
  packages/playground/remote/src/lib/setup-fetch-network-transport.ts
Labels: [Type] Enhancement, [Aspect] Networking

#1504 Networking access: Fix wp_http_supports() to work without the kitchen-sink extension bundle.
  packages/playground/remote/src/lib/playground-mu-plugin/0-playground.php
  packages/playground/website/cypress/e2e/query-api.cy.ts
Labels: [Type] Bug, [Aspect] Networking

#1503 Detect actual, loaded WP version
  packages/playground/remote/service-worker.ts
  packages/playground/remote/src/lib/worker-thread.ts
  packages/playground/wordpress/src/index.ts
  packages/playground/wordpress/src/test/version-detect.spec.ts
  packages/playground/wordpress/src/version-detect.ts
Labels: [Type] Bug, [Package][@wp-playground] WordPress, [Feature] Boot Flow

#1531 Backfill remote asset listing when needed
  packages/playground/remote/src/lib/worker-thread.ts
  packages/playground/wordpress-builds/src/index.ts
Labels: [Type] Enhancement, [Package][@php-wasm] Universal, [Feature] Boot Flow

#1540 Website: Remove "small window mode"
  packages/docs/site/docs/08-query-api/01-index.md
  packages/playground/website/src/components/browser-chrome/index.tsx
  packages/playground/website/src/components/browser-chrome/style.module.css
  packages/playground/website/src/components/playground-viewport/index.tsx
Labels: [Type] Enhancement, [Aspect] Website

#1541 Add cache version number
  packages/php-wasm/fs-journal/vite.config.ts
  packages/php-wasm/logger/vite.config.ts
  packages/php-wasm/progress/vite.config.ts
  packages/php-wasm/scopes/vite.config.ts
  packages/php-wasm/stream-compression/vite.config.ts
  packages/php-wasm/universal/vite.config.ts
  packages/php-wasm/web-service-worker/src/initialize-service-worker.ts
  packages/php-wasm/web-service-worker/vite.config.ts
  packages/php-wasm/web/vite.config.ts
  packages/playground/blueprints/vite.config.ts
  packages/playground/client/vite.config.ts
  packages/playground/common/vite.config.ts
  packages/playground/puzzle/vite.config.ts
  packages/playground/remote/service-worker.ts
  packages/playground/remote/src/lib/types.d.ts
  packages/playground/remote/vite.config.ts
  packages/playground/storage/vite.config.ts
  packages/playground/sync/vite.config.ts
  packages/playground/website/vite.config.ts
  packages/playground/wordpress-builds/vite.config.ts
  packages/playground/wordpress/vite.config.ts
  packages/vite-extensions/vite-build-version.ts
  packages/vite-extensions/vite-ts-config-paths.ts
  packages/vite-extensions/vite-virtual-module.ts
  packages/vite-extensions/vite-wasm-loader.ts
Labels: [Type] Enhancement, [Type] Developer Experience, [Aspect] WordPress

#1549 Meta: GitHub Boards Automation
  .github/workflows/github-board-automation.yml
  packages/meta/bin/project_board_automation.php
  packages/meta/src/project_board_automation/GitHubApi.php
  packages/meta/src/project_board_automation/PlaygroundAutomationLogic.php
  packages/meta/src/project_board_automation/bootstrap.php
  packages/meta/src/project_board_automation/github_ids.php
  packages/meta/src/project_board_automation/reindex_github_ids.php
Labels: [Type] Enhancement, [Type] Repo / Project Management
