Repository WordPress/wordpress-playground, pull requests merged in 2024-02, with the labels that each got.

#990 Memory leak: add rotatedPHP to kill and recreate PHP instances after a certain number of requests
  packages/php-wasm/fs-journal/src/lib/fs-journal.ts
  packages/php-wasm/node/src/lib/node-php.ts
  packages/php-wasm/node/src/test/rotate-php-runtime.spec.ts
  packages/php-wasm/universal/src/lib/base-php.ts
  packages/php-wasm/universal/src/lib/index.ts
  packages/php-wasm/universal/src/lib/load-php-runtime.ts
  packages/php-wasm/universal/src/lib/rotate-php-runtime.ts
  packages/php-wasm/universal/src/lib/universal-php.ts
  packages/php-wasm/util/src/lib/semaphore.ts
  packages/php-wasm/web/src/lib/web-php.ts
  packages/playground/remote/src/lib/opfs/bind-opfs.ts
  packages/playground/remote/src/lib/opfs/journal-memfs-to-opfs.ts
  packages/playground/remote/src/lib/worker-thread.ts
Labels: PHP.wasm, Reliability

#1001 Blueprints: Remove the applyWordPressPatches step, enable the Site Health Plugin
  packages/php-wasm/node/src/test/php-request-handler.spec.ts
  packages/php-wasm/node/src/test/write-files.spec.ts
  packages/php-wasm/universal/src/lib/index.ts
  packages/php-wasm/universal/src/lib/php-request-handler.ts
  packages/php-wasm/universal/src/lib/universal-php.ts
  packages/php-wasm/universal/src/lib/write-files.ts
  packages/playground/blueprints/public/blueprint-schema.json
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/index.ts
  packages/playground/blueprints/src/lib/steps/enable-multisite.ts
  packages/playground/blueprints/src/lib/steps/handlers.ts
  packages/playground/blueprints/src/lib/steps/import-wordpress-files.ts
  packages/playground/blueprints/src/lib/steps/index.ts
  packages/playground/node/src/index.ts
  packages/playground/remote/src/lib/playground-mu-plugin/0-playground.php
  packages/playground/remote/src/lib/playground-mu-plugin/playground-includes/requests_transport_dummy.php
  packages/playground/remote/src/lib/playground-mu-plugin/playground-includes/wp_http_fetch.php
  packages/playground/remote/src/lib/setup-fetch-network-transport.ts
  packages/playground/remote/src/lib/utils.ts
  packages/playground/remote/src/lib/worker-thread.ts
  packages/playground/storage/src/lib/playground.spec.ts
  packages/playground/storage/src/lib/playground.ts
  packages/playground/website/public/wordpress.html
  packages/playground/website/src/github/import-from-github.ts
Labels: Enhancement, Browser, Blueprints, WordPress

#1002 Update wp_http_fetch.php
  packages/playground/remote/src/lib/playground-mu-plugin/playground-includes/wp_http_fetch.php
Labels: Enhancement, Networking

#1004 Networking: Swap Requests transports using the http_api_transports instead of patching the Requests library
  packages/playground/remote/src/lib/playground-mu-plugin/0-playground.php
  packages/playground/remote/src/lib/playground-mu-plugin/playground-includes/wp_http_dummy.php
  packages/playground/remote/src/lib/worker-thread.ts
Labels: Enhancement, Developer Experience, Networking, WordPress

#1005 Remote.html: Always install the playground mu-plugin
  packages/playground/remote/src/lib/worker-thread.ts
Labels: Browser, Developer Experience, WordPress

#1010 Only add the x-request-issuer header on self requests
  packages/playground/remote/src/lib/setup-fetch-network-transport.ts
Labels: Bug, Browser, Networking

#1018 PHP: Pass request body as UInt8Array
  packages/php-wasm/compile/php/Dockerfile
  packages/php-wasm/compile/php/php_wasm.c
  packages/php-wasm/node/src/test/php-request-handler.spec.ts
  packages/php-wasm/node/src/test/php.spec.ts
  packages/php-wasm/universal/src/lib/base-php.ts
  packages/php-wasm/universal/src/lib/encode-as-multipart.ts
  packages/php-wasm/universal/src/lib/index.ts
  packages/php-wasm/universal/src/lib/php-request-handler.ts
  packages/php-wasm/universal/src/lib/universal-php.ts
  packages/php-wasm/web-service-worker/src/initialize-service-worker.ts
  packages/playground/blueprints/src/lib/steps/import-file.ts
  packages/playground/blueprints/src/lib/steps/login.ts
  packages/playground/blueprints/src/lib/steps/run-wp-installation-wizard.ts
  packages/playground/client/README.md
  packages/playground/client/src/index.ts
Labels: Enhancement, PHP.wasm

#1034 Blueprints: Set progress caption and communicate failures in the import file step
  packages/playground/blueprints/src/lib/steps/import-file.ts
Labels: Enhancement, Blueprints

#1033 PHP: Do not prepend a whitespace when encoding body as multipart form data
  packages/php-wasm/node/src/test/php-request-handler.spec.ts
  packages/php-wasm/universal/src/lib/encode-as-multipart.ts
Labels: Bug, Blueprints, Import Export

#1041 Fix error on reload site click
  packages/playground/website/src/components/playground-configuration-group/form.tsx
  packages/playground/website/src/components/playground-configuration-group/reload-with-new-configuration.ts
  packages/playground/website/src/main.tsx
Labels: UI/UX, React, Website

#1045 Fix: Networking broken when extra PHP extensions are enabled
  packages/playground/remote/src/lib/playground-mu-plugin/0-playground.php
  packages/playground/website/cypress/e2e/query-api.cy.ts
Labels: Bug, PHP.wasm, Networking

#1040 Add Google Analytics events to Playground
  packages/playground/website/README.md
  packages/playground/website/src/components/playground-viewport/index.tsx
  packages/playground/website/src/lib/tracking.ts
Labels: Enhancement, Browser, monitoring, Website

#1061 Rebuild WordPress every 20 minutes, short-circuit if no new version is found
  .github/workflows/refresh-wordpress-major-and-beta.yml
  .github/workflows/refresh-wordpress-nightly.yml
  packages/playground/wordpress/build/build.js
  packages/playground/wordpress/project.json
Labels: Meta, user experience, WordPress

#1065 Parse shell commands in createSpawnHandler
  packages/php-wasm/node/src/test/php.spec.ts
  packages/php-wasm/util/src/lib/create-spawn-handler.spec.ts
  packages/php-wasm/util/src/lib/create-spawn-handler.ts
  packages/php-wasm/util/src/lib/split-shell-command.spec.ts
  packages/php-wasm/util/src/lib/split-shell-command.ts
  packages/playground/remote/src/lib/worker-thread.ts
Labels: Enhancement, PHP.wasm

#1035 Add logging support to Playground
  package-lock.json
  packages/php-wasm/logger/.eslintrc.json
  packages/php-wasm/logger/README.md
  packages/php-wasm/logger/package.json
  packages/php-wasm/logger/project.json
  packages/php-wasm/logger/src/index.ts
  packages/php-wasm/logger/src/logger.ts
  packages/php-wasm/logger/tsconfig.json
  packages/php-wasm/logger/tsconfig.lib.json
  packages/php-wasm/logger/tsconfig.spec.json
  packages/php-wasm/logger/vite.config.ts
  packages/playground/blueprints/src/lib/compile.ts
  packages/playground/client/src/index.ts
  packages/playground/node/src/index.ts
  packages/playground/remote/src/lib/playground-mu-plugin/0-playground.php
  packages/playground/remote/src/lib/worker-thread.ts
  packages/playground/website/src/main.tsx
  tsconfig.base.json
Labels: Enhancement, In-Browser Dev Environment, monitoring
