Repository WordPress/wordpress-playground, pull requests merged in 2024-04, with the labels that each got.

#1174 Website: Query API options to preconfigure the GitHub export form
  packages/docs/site/docs/08-query-api/01-index.md
  packages/playground/storage/src/lib/changeset.ts
  packages/playground/website/src/github/github-export-form/form.tsx
  packages/playground/website/src/github/github-export-form/modal.tsx
  packages/playground/website/src/github/github-export-form/multiple-paths-input.tsx
  packages/playground/website/src/github/github-export-form/style.module.css
  packages/playground/website/src/github/github-oauth-guard/index.tsx
  packages/playground/website/src/github/import-from-github.ts
  packages/playground/website/src/main.tsx
Labels: Enhancement, GitHub integration, Website

#1191 Make kitchen sink extension bundle the default
  packages/docs/site/docs/08-query-api/01-index.md
  packages/docs/site/docs/09-blueprints-api/03-data-format.md
  packages/php-wasm/universal/src/lib/supported-php-extensions.ts
  packages/playground/blueprints/public/blueprint-schema.json
  packages/playground/blueprints/src/lib/compile.ts
  packages/playground/client/src/index.ts
  packages/playground/website/cypress/e2e/query-api.cy.ts
  packages/playground/website/cypress/e2e/website-ui.cy.ts
  packages/playground/website/src/components/playground-configuration-group/form.tsx
  packages/playground/website/src/components/playground-configuration-group/reload-with-new-configuration.ts
  packages/playground/website/src/main.tsx
Labels: Enhancement, Website

#1209 Avoid Service Worker update issues on localhost
  packages/playground/build-config.ts
Labels: Bug, Browser, Developer Tools, Service Worker

#1213 importWxr: Preserve backslashes in the imported content
  packages/playground/blueprints/src/lib/steps/fixtures/import-wxr-slash-issue.xml
  packages/playground/blueprints/src/lib/steps/import-wxr.spec.ts
  packages/playground/blueprints/src/lib/steps/import-wxr.ts
Labels: Bug, Import Export

#1215 Catch DNS errors to avoid unhandled exceptions
  packages/php-wasm/node/src/lib/networking/outbound-ws-to-tcp-proxy.ts
Labels: Bug, Networking

#1222 Fix docs-site build
  packages/docs/site/project.json
Labels: Bug, Documentation

#1224 Update error modal description label
  packages/playground/website/public/logger.php
  packages/playground/website/src/components/error-report-modal/index.tsx
Labels: Enhancement, Logger

#1226 Revert changes to the docs build
  package.json
  packages/docs/site/project.json
Labels: Bug, Documentation

#1228 Request Handler: Urldecode the requested path
  packages/php-wasm/node/src/test/php-request-handler.spec.ts
  packages/php-wasm/universal/src/lib/php-request-handler.ts
Labels: Bug, Browser

#1194 Unit tests: Restore site-data.spec.ts
  packages/playground/blueprints/src/lib/steps/site-data.spec.ts
Labels: Enhancement, PHP.wasm, Tests, Reliability

#1227 Blueprints: Support a landingPage value without the initial slash
  packages/playground/remote/src/lib/boot-playground-remote.ts
  packages/playground/website/cypress/e2e/blueprints.cy.ts
Labels: Enhancement, Blueprints

#1232 Web PHP: Increase memory limit to 256 M
  packages/playground/remote/src/lib/worker-thread.ts
Labels: Browser, PHP.wasm

#1234 Browser: Display PHP output when Fatal Error is trigerred
  packages/php-wasm/universal/src/lib/base-php.ts
  packages/php-wasm/web/src/lib/api.ts
  packages/php-wasm/web/src/lib/register-service-worker.ts
  packages/playground/website/cypress/e2e/website-ui.cy.ts
Labels: Enhancement, Browser

#1244 Blueprints: Add ifAlreadyInstalled to installPlugin and installTheme steps
  packages/playground/blueprints/public/blueprint-schema.json
  packages/playground/blueprints/src/lib/steps/install-asset.ts
  packages/playground/blueprints/src/lib/steps/install-plugin.spec.ts
  packages/playground/blueprints/src/lib/steps/install-plugin.ts
  packages/playground/blueprints/src/lib/steps/install-theme.spec.ts
  packages/playground/blueprints/src/lib/steps/install-theme.ts
Labels: Enhancement, Blueprints

#1246 Fix accessibility issues found by Axe
  packages/playground/website/src/components/address-bar/index.tsx
  packages/playground/website/src/components/browser-chrome/index.tsx
Labels: Enhancement, Browser, Accessibility

#1235 Docs: Update WordPress versions used in the documentation, document using older releases
  packages/docs/site/docs/02-start-using/01-index.md
  packages/docs/site/docs/08-query-api/01-index.md
  packages/docs/site/docs/09-blueprints-api/02-using-blueprints.md
  packages/docs/site/docs/09-blueprints-api/03-data-format.md
  packages/docs/site/docs/09-blueprints-api/08-examples.md
  packages/playground/website/src/components/playground-configuration-group/form.tsx
Labels: Documentation, Enhancement

#1048 Filter Requests library to use the Fetch handler.
  packages/playground/remote/src/lib/playground-mu-plugin/0-playground.php
Labels: Bug, Networking

#1262 Replace set_current_user call with wp_set_current_user to fix a PHP notice
  packages/playground/blueprints/src/lib/steps/activate-plugin.ts
  packages/playground/blueprints/src/lib/steps/activate-theme.ts
  packages/playground/blueprints/src/lib/steps/enable-multisite.ts
Labels: Enhancement, Blueprints

#1249 PHP: Handle request errors in PHPRequestHandler, return response code 500
  packages/php-wasm/node/src/test/php-request-handler.spec.ts
  packages/php-wasm/universal/src/lib/base-php.ts
  packages/php-wasm/universal/src/lib/php-request-handler.ts
  packages/php-wasm/web/src/lib/api.ts
  packages/php-wasm/web/src/lib/register-service-worker.ts
Labels: Blocked, Do not merge

#1275 Urlencode branch name
  packages/playground/website/public/plugin-proxy.php
Labels: Bug, GitHub integration

#1276 Use new learning resources in Playground documentation
  packages/docs/site/docs/09-blueprints-api/01-index.md
  packages/docs/site/docs/09-blueprints-api/02-using-blueprints.md
  packages/docs/site/docs/09-blueprints-api/09-troubleshoot-and-debug-blueprints.md
  packages/docs/site/docs/15-resources.md
  packages/docs/site/docs/_fragments/_api_list.mdx
Labels: Documentation, Enhancement

#1253 Add more info to crash reports
  packages/php-wasm/logger/src/lib/logger.ts
  packages/php-wasm/logger/src/test/logger.spec.ts
  packages/playground/remote/service-worker.ts
  packages/playground/website/public/logger.php
  packages/playground/website/src/components/error-report-modal/index.tsx
  packages/playground/website/src/main.tsx
Labels: Enhancement, Browser, Logger

#1284 Blueprint Builder: Fix stuck loader bar
  packages/playground/website/builder/builder.js
  packages/playground/website/src/main.tsx
Labels: Bug, Blueprints

#1267 Add styles to ensure `iframes` are responsive
  packages/docs/site/src/css/custom.css
Labels: Bug, Documentation

#1265 Docs: Move Steps Shorthands to a separate page to fix Steps TOC
  packages/docs/site/docs/09-blueprints-api/05-steps-shorthands.md
  packages/docs/site/docs/09-blueprints-api/05-steps.md
Labels: Bug, Documentation

#1288 Blueprints: Remove setPhpIniEntry step
  packages/playground/blueprints/src/lib/compile.ts
  packages/playground/blueprints/src/lib/steps/handlers.ts
  packages/playground/blueprints/src/lib/steps/index.ts
  packages/playground/blueprints/src/lib/steps/set-php-ini-entry.ts
Labels: Enhancement, Blueprints

#1286 PHP: Remove addServerGlobalEntry() method, accept $_SERVER as php.run() property
  packages/php-wasm/universal/src/lib/base-php.ts
  packages/php-wasm/universal/src/lib/php-request-handler.ts
  packages/php-wasm/universal/src/lib/universal-php.ts
Labels: Enhancement, PHP.wasm

#1303 Browser: Remove setSpawnHandler function from the public API
  packages/php-wasm/universal/src/lib/universal-php.ts
  packages/php-wasm/web/src/lib/web-php-endpoint.ts
  packages/playground/remote/src/lib/boot-playground-remote.ts
  packages/playground/remote/src/lib/playground-client.ts
Labels: Enhancement, PHP.wasm

#1300 Semaphore: Add timeout option
  packages/php-wasm/util/src/lib/semaphore.spec.ts
  packages/php-wasm/util/src/lib/semaphore.ts
  packages/php-wasm/util/src/lib/sleep.ts
Labels: Enhancement

#1307 CI: Fix intermittent docs build failures
  package-lock.json
  package.json
  packages/docs/site/docusaurus.config.js
  packages/docs/site/project.json
  packages/php-wasm/node/project.json
  packages/php-wasm/web/project.json
  packages/playground/blueprints/project.json
  packages/playground/client/project.json
Labels: Enhancement, Meta

#1299 Bump TypeScript to 5.4.5
  package-lock.json
  package.json
  packages/docs/site/docusaurus.config.js
  packages/docs/site/project.json
  packages/php-wasm/node/project.json
  packages/php-wasm/web/project.json
  packages/playground/blueprints/project.json
  packages/playground/client/project.json
  tsconfig.base.json
Labels: Enhancement

#1308 GitHub: Don't delete all the files when exporting a theme
  packages/playground/website/src/github/github-export-form/form.tsx
Labels: Bug, Browser, GitHub integration

#1309 Blueprints builder: Support ?blueprint-url
  packages/playground/website/builder/builder.js
Labels: Enhancement, Blueprints

#1305 Progress monitoring: Use a custom instantiateWasm handler to avoid monkey-patching WebAssembly.instantiateStreaming
  packages/php-wasm/progress/src/lib/emscripten-download-monitor.ts
  packages/php-wasm/universal/src/lib/load-php-runtime.ts
  packages/php-wasm/web/src/lib/web-php.ts
  packages/playground/remote/src/lib/worker-thread.ts
Labels: Enhancement, Browser

#1304 PHP: Add a cwd argument to hotSwapPHPRuntime()
  packages/php-wasm/node/src/test/rotate-php-runtime.spec.ts
  packages/php-wasm/universal/src/lib/base-php.ts
  packages/php-wasm/universal/src/lib/rotate-php-runtime.ts
  packages/playground/remote/src/lib/worker-thread.ts
Labels: Enhancement, PHP.wasm

#1306 Memoize fetch() responses when requesting php.wasm
  packages/playground/remote/src/lib/create-memoized-fetch.spec.ts
  packages/playground/remote/src/lib/create-memoized-fetch.ts
  packages/playground/remote/src/lib/worker-thread.ts
Labels: Enhancement, Browser

#1311 Play more nicely with server caches
  packages/php-wasm/web-service-worker/src/initialize-service-worker.ts
  packages/playground/remote/service-worker.ts
Labels: Browser, Service Worker

#1281 Add network error message
  packages/playground/blueprints/src/lib/resources.ts
Labels: Documentation, Developer Experience, Logger

#1312 Automate Changelog generation after each npm release
  .github/workflows/publish-npm-packages.yml
  CHANGELOG.md
  package.json
Labels: [Type] Enhancement, [Type] Repo / Project Management

#1317 Stop WP rewrite rules from matching files like wp-admin.css
  packages/playground/wordpress/src/rewrite-rules.ts
Labels: [Type] Bug, [Aspect] WordPress, [Package][@wp-playground] WordPress

#1293 Add initial workflow for deploying the website to WP Cloud
  .github/workflows/deploy-website-next.yml
Labels: [Type] Enhancement, [Priority] High, [Aspect] Website

#1264 Add log methods, log handlers, and separate log collection
  packages/docs/site/docs/09-blueprints-api/01-index.md
  packages/docs/site/docs/09-blueprints-api/09-troubleshoot-and-debug-blueprints.md
  packages/php-wasm/logger/src/index.ts
  packages/php-wasm/logger/src/lib/collectors/collect-php-logs.ts
  packages/php-wasm/logger/src/lib/collectors/collect-service-worker-metrics.ts
  packages/php-wasm/logger/src/lib/collectors/collect-window-errors.ts
  packages/php-wasm/logger/src/lib/handlers/log-to-console.ts
  packages/php-wasm/logger/src/lib/handlers/log-to-memory.ts
  packages/php-wasm/logger/src/lib/log-collector.ts
  packages/php-wasm/logger/src/lib/log-handlers.ts
  packages/php-wasm/logger/src/lib/logger.ts
  packages/php-wasm/logger/src/test/logger.spec.ts
  packages/playground/website/src/components/error-report-modal/index.tsx
Labels: [Type] Enhancement, [Package][@php-wasm] Logger

#1315 Centralize log storage
  .eslintrc.json
  packages/nx-extensions/.eslintrc.json
  packages/php-wasm/fs-journal/src/lib/fs-journal.ts
  packages/php-wasm/logger/src/lib/collectors/collect-php-logs.ts
  packages/php-wasm/logger/src/test/logger.spec.ts
  packages/php-wasm/logger/src/universal.d.ts
  packages/php-wasm/node/src/lib/networking/outbound-ws-to-tcp-proxy.ts
  packages/php-wasm/node/src/lib/networking/utils.ts
  packages/php-wasm/progress/src/lib/emscripten-download-monitor.ts
  packages/php-wasm/universal/src/lib/base-php.ts
  packages/php-wasm/universal/src/lib/http-cookie-store.ts
  packages/php-wasm/universal/src/lib/load-php-runtime.ts
  packages/php-wasm/universal/src/lib/php-request-handler.ts
  packages/php-wasm/universal/src/lib/wasm-error-reporting.ts
  packages/php-wasm/web-service-worker/.eslintrc.json
  packages/php-wasm/web/src/lib/api.ts
  packages/php-wasm/web/src/lib/register-service-worker.ts
  packages/playground/blueprints/src/lib/compile.ts
  packages/playground/blueprints/src/lib/steps/enable-multisite.ts
  packages/playground/blueprints/src/lib/steps/login.ts
  packages/playground/blueprints/src/lib/steps/request.ts
  packages/playground/blueprints/src/lib/steps/unzip.ts
  packages/playground/client/src/index.ts
  packages/playground/remote/src/lib/opfs/bind-opfs.ts
  packages/playground/remote/src/lib/opfs/journal-memfs-to-opfs.ts
  packages/playground/remote/src/lib/setup-fetch-network-transport.ts
  packages/playground/remote/src/lib/worker-thread.ts
  packages/playground/sync/src/middleware/logger.ts
  packages/playground/sync/src/sql.ts
  packages/playground/website/src/components/error-report-modal/index.tsx
  packages/playground/website/src/components/import-form/index.tsx
  packages/playground/website/src/components/playground-configuration-group/index.tsx
  packages/playground/website/src/components/playground-configuration-group/reload-with-new-configuration.ts
  packages/playground/website/src/github/github-import-form/form.tsx
Labels: [Type] Enhancement, [Type] Developer Experience, [Focus] Developer Tools, [Package][@php-wasm] Logger

#1320 Spawn handler: wrap the program call with try/catch, exit gracefully on error
  packages/php-wasm/util/src/lib/create-spawn-handler.spec.ts
  packages/php-wasm/util/src/lib/create-spawn-handler.ts
Labels: [Type] Enhancement, [Feature] PHP.wasm, [Package][@php-wasm] Util, [Aspect] Process Management

#1321 PHP: Remove setSapiName, setPhpIniEntry, setPhpIniPath methods from the remote PHP API client
  packages/php-wasm/universal/src/lib/universal-php.ts
  packages/php-wasm/web/src/lib/web-php-endpoint.ts
Labels: Breaking change, [Aspect] Website, [Package][@wp-playground] Website

#1287 Loopback Request Support
  CHANGELOG.md
  packages/php-wasm/node/src/lib/node-php.ts
  packages/php-wasm/node/src/test/php-request-handler.spec.ts
  packages/php-wasm/node/src/test/php.spec.ts
  packages/php-wasm/universal/src/lib/base-php.ts
  packages/php-wasm/universal/src/lib/index.ts
  packages/php-wasm/universal/src/lib/php-request-handler.ts
  packages/php-wasm/web/src/lib/web-php-endpoint.ts
  packages/php-wasm/web/src/lib/web-php.ts
  packages/playground/blueprints/src/lib/compile.spec.ts
  packages/playground/blueprints/src/lib/steps/activate-plugin.spec.ts
  packages/playground/blueprints/src/lib/steps/activate-theme.spec.ts
  packages/playground/blueprints/src/lib/steps/enable-multisite.spec.ts
  packages/playground/blueprints/src/lib/steps/import-wxr.spec.ts
  packages/playground/blueprints/src/lib/steps/install-plugin.spec.ts
  packages/playground/blueprints/src/lib/steps/install-theme.spec.ts
  packages/playground/blueprints/src/lib/steps/login.spec.ts
  packages/playground/blueprints/src/lib/steps/request.ts
  packages/playground/blueprints/src/lib/steps/run-sql.spec.ts
  packages/playground/blueprints/src/lib/steps/site-data.spec.ts
  packages/playground/remote/src/lib/worker-thread.ts
  packages/playground/remote/src/lib/worker-utils.ts
Labels: [Type] Enhancement, [Feature] PHP.wasm, Breaking change, [Package][@php-wasm] Web, [Package][@php-wasm] Node, [Package][@php-wasm] Universal

#1324 PHPProcessManager: clear nextInstance when the concurrency limit is exhausted
  packages/php-wasm/node/src/test/php-process-manager.spec.ts
  packages/php-wasm/universal/src/lib/php-process-manager.ts
Labels: [Type] Bug, [Package][@php-wasm] Node, [Aspect] Process Management

#1331 Stop using PHP to serve most static files on WP Cloud
  .github/workflows/deploy-website-next.yml
  packages/playground/website-deployment/__wp__/index.php
  packages/playground/website-deployment/apply-update.sh
  packages/playground/website-deployment/custom-redirects-lib.php
  packages/playground/website-deployment/custom-redirects.php
  packages/playground/website-deployment/mime-types.php
Labels: [Package][@wp-playground] Website

#1333 Eliminate 404s due to nested files-to-serve-via-php dir
  packages/playground/website-deployment/apply-update.sh
Labels: [Package][@wp-playground] Website

#1337 Website: WP Cloud: Relay secrets for error logger
  packages/playground/website-deployment/custom-redirects-lib.php
Labels: [Package][@wp-playground] Website

#1338 Document WP Cloud website setup
  packages/playground/website-deployment/README.md
Labels: [Type] Developer Documentation, [Package][@wp-playground] Website

#1327 Docs: Support Markdown in Blueprint steps descriptions
  packages/docs/site/src/components/BlueprintsAPI/BlueprintStepDescription.tsx
Labels: [Type] Documentation, [Type] Enhancement

#1348 PHP.wasm Node: Revert a part of #1289, do not import a .wasm file
  packages/php-wasm/compile/php/Dockerfile
  packages/php-wasm/fs-journal/vite.config.ts
  packages/php-wasm/node/project.json
  packages/php-wasm/node/public/php_7_0.js
  packages/php-wasm/node/public/php_7_1.js
  packages/php-wasm/node/public/php_7_2.js
  packages/php-wasm/node/public/php_7_3.js
  packages/php-wasm/node/public/php_7_4.js
  packages/php-wasm/node/public/php_8_0.js
  packages/php-wasm/node/public/php_8_1.js
  packages/php-wasm/node/public/php_8_2.js
  packages/php-wasm/node/public/php_8_3.js
  packages/php-wasm/node/vite.config.ts
  packages/playground/blueprints/vite.config.ts
  packages/playground/sync/vite.config.ts
Labels: [Type] Bug, [Package][@php-wasm] Node

#1350 Website: Fix deploy-time check for file with PHP-handled redirect
  packages/playground/website-deployment/custom-redirects-lib.php
Labels: [Type] Bug, [Aspect] Website, [Package][@wp-playground] Website

#1351 Website: Avoid edge-caching conditionally redirected resources
  packages/playground/website-deployment/custom-redirects-lib.php
Labels: [Type] Bug, [Aspect] Website, [Package][@wp-playground] Website
