Repository WordPress/wordpress-playground, pull requests merged in 2024-01, with the labels that each got.

#902 Blueprints: Rewrite wp-config.php to define constants in the defineWpConfigConsts step
  packages/playground/blueprints/public/blueprint-schema.json
  packages/playground/blueprints/src/lib/compile.spec.ts
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/index.ts
  packages/playground/blueprints/src/lib/steps/common.ts
  packages/playground/blueprints/src/lib/steps/define-wp-config-consts.spec.ts
  packages/playground/blueprints/src/lib/steps/define-wp-config-consts.ts
  packages/playground/blueprints/src/lib/steps/rewrite-wp-config-to-define-constants.php
Labels: Developer Experience, Blueprints

#905 Improve playground.goTo() and playground.getCurrentURL()
  packages/playground/remote/src/lib/boot-playground-remote.ts
Labels: Bug, Browser

#898 Blueprints internals – split the `common.ts` file into smaller files
  packages/playground/blueprints/src/index.ts
  packages/playground/blueprints/src/lib/resources.ts
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/index.ts
  packages/playground/blueprints/src/lib/steps/common.ts
  packages/playground/blueprints/src/lib/steps/import-wp-content.ts
  packages/playground/blueprints/src/lib/steps/index.ts
  packages/playground/blueprints/src/lib/steps/install-plugin.ts
  packages/playground/blueprints/src/lib/steps/install-theme.ts
  packages/playground/blueprints/src/lib/steps/unzip.ts
  packages/playground/blueprints/src/lib/steps/write-file.ts
  packages/playground/blueprints/src/lib/steps/zip-wp-content.ts
  packages/playground/blueprints/src/lib/utils/flatten-directory.ts
  packages/playground/blueprints/src/lib/utils/run-php-with-zip-functions.ts
  packages/playground/blueprints/src/lib/utils/update-file.ts
  packages/playground/blueprints/src/lib/utils/wp-content-files-excluded-from-exports.ts
  packages/playground/blueprints/src/lib/utils/zip-functions.php
  packages/playground/blueprints/src/lib/utils/zip-name-to-human-name.ts
Labels: Enhancement, Blueprints

#918 Stream API: Port small changes from the main branch
  packages/php-wasm/compile/package.json
  packages/php-wasm/fs-journal/package.json
  packages/php-wasm/node/package.json
  packages/php-wasm/progress/package.json
  packages/php-wasm/progress/src/index.ts
  packages/php-wasm/universal/package.json
  packages/php-wasm/universal/src/index.ts
  packages/php-wasm/util/package.json
  packages/php-wasm/util/tsconfig.lib.json
  packages/php-wasm/web-service-worker/package.json
  packages/playground/blueprints/package.json
  packages/playground/blueprints/src/lib/steps/index.ts
  packages/playground/blueprints/src/lib/utils/flatten-directory.ts
  packages/playground/client/package.json
  packages/playground/interactive-block-playground/package.json
  packages/playground/storage/src/vitest-setup-file.ts
  packages/playground/storage/vite.config.ts
  packages/playground/website/cypress/e2e/app.cy.ts
  packages/playground/wordpress/package.json
  packages/playground/wordpress/project.json
Labels: Enhancement, Developer Experience

#921 Trim headers in wp_http_fetch when $options['filename'] is set
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/wp-content/mu-plugins/playground-includes/wp_http_fetch.php
Labels: Bug, Networking, WordPress

#925 Use Requests 2.0+ namespaced interfaces when available.
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/wp-content/mu-plugins/playground-includes/requests_transport_dummy.php
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/wp-content/mu-plugins/playground-includes/wp_http_fetch.php
Labels: Enhancement, Blueprints

#929 Revert "Fixing Build Regression [BISON]"
  packages/php-wasm/compile/Makefile
  packages/php-wasm/compile/build.js
Labels: Bug, PHP.wasm

#937 Quit callback overwrites the quit callback template
  packages/php-wasm/compile/php/phpwasm-emscripten-library.js
  packages/php-wasm/node/src/lib/node-php.ts
  packages/php-wasm/node/src/test/php.spec.ts
Labels: Enhancement, PHP.wasm

#938 Browser: Patch Gutenberg on site import
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/index.ts
  packages/playground/blueprints/src/lib/steps/handlers.ts
  packages/playground/blueprints/src/lib/steps/import-wordpress-files.ts
  packages/playground/blueprints/src/lib/steps/index.ts
  packages/playground/blueprints/src/lib/steps/install-plugin.ts
Labels: Bug, Browser, WordPress

#941 Docs: Update WP and PHP params in Query API documentation page
  packages/docs/site/docs/08-query-api/01-index.md
Labels: Documentation, Enhancement

#940 Browser: Move patching the Gutenberg iframe into the service worker
  packages/playground/blueprints/public/blueprint-schema.json
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/index.ts
  packages/playground/blueprints/src/lib/steps/import-wordpress-files.ts
  packages/playground/blueprints/src/lib/steps/install-plugin.ts
  packages/playground/remote/service-worker.ts
  packages/playground/remote/src/lib/worker-thread.ts
  packages/playground/website/cypress/e2e/app.cy.ts
  packages/playground/website/cypress/fixtures/example.json
  packages/playground/website/project.json
  packages/playground/website/public/wordpress.html
Labels: Bug, Browser, WordPress

#948 Data modules: Reject the promise on XHR error
  packages/playground/wordpress/build/Dockerfile
Labels: Browser, WordPress

#947 Update 0-playground.php - open the github link in newtab instead of opening in the playground window
  packages/playground/blueprints/src/lib/steps/apply-wordpress-patches/wp-content/mu-plugins/0-playground.php
Labels: Enhancement

#949 Service worker: Retry ERR_HTTP2_PROTOCOL_ERROR
  packages/playground/remote/service-worker.ts
Labels: Enhancement, Browser, Service Worker

#953 php-cli: Don't pass the TMPDIR variable to NodePHP.load
  packages/php-wasm/cli/src/main.ts
Labels: Bug, PHP.wasm, CLI

#955 PHP: Don't report exit code as error
  packages/php-wasm/universal/src/lib/wasm-error-reporting.ts
Labels: PHP.wasm, Developer Experience

#958 Rename the `@php-wasm/cli` executable from `cli` to `php-wasm`
  packages/php-wasm/cli/package.json
  packages/php-wasm/cli/public/php-wasm.js
Labels: Enhancement, PHP.wasm, Developer Experience, Node.js

#965 Add wp-cli and code editor examples to the demos page
  packages/playground/website/demos/index.html
Labels: Enhancement, user experience

#966 wp-cli: Respect quotes when parsing shell commands
  packages/playground/website/demos/terminal-component.tsx
Labels: Enhancement, Browser, user experience

#959 Fix footer styling issue in the "Code is Poetry" in wordpress.github.io/wordpress-playground
  packages/docs/site/src/css/custom.css
Labels: Documentation, Enhancement

#980 Add og meta tags and meta description
  packages/playground/website/index.html
  packages/playground/website/public/gutenberg.html
  packages/playground/website/public/ogimage.png
  packages/playground/website/public/wordpress.html
Labels: Enhancement, Browser, user experience

#984 Blueprints: set_current_user to admin before activating plugins and themes
  packages/playground/blueprints/src/lib/steps/activate-plugin.spec.ts
  packages/playground/blueprints/src/lib/steps/activate-plugin.ts
  packages/playground/blueprints/src/lib/steps/activate-theme.spec.ts
  packages/playground/blueprints/src/lib/steps/activate-theme.ts
Labels: Bug, Blueprints

#988 Remove the interactive block playground
  package-lock.json
  package.json
  packages/playground/interactive-block-playground/README.md
  packages/playground/interactive-block-playground/build-zips.cjs
  packages/playground/interactive-block-playground/hello/blocks/hello/block.json
  packages/playground/interactive-block-playground/hello/blocks/hello/index.asset.php
  packages/playground/interactive-block-playground/hello/blocks/hello/index.js
  packages/playground/interactive-block-playground/hello/blocks/hello/render.php
  packages/playground/interactive-block-playground/hello/blocks/hello/style.css
  packages/playground/interactive-block-playground/hello/blocks/hello/view.asset.php
  packages/playground/interactive-block-playground/hello/blocks/hello/view.js
  packages/playground/interactive-block-playground/hello/hello.php
  packages/playground/interactive-block-playground/index.css
  packages/playground/interactive-block-playground/index.html
  packages/playground/interactive-block-playground/package.json
  packages/playground/interactive-block-playground/project.json
  packages/playground/interactive-block-playground/src/config.ts
  packages/playground/interactive-block-playground/src/index.ts
  packages/playground/interactive-block-playground/src/types.d.ts
  packages/playground/interactive-block-playground/tsconfig.app.json
  packages/playground/interactive-block-playground/tsconfig.json
  packages/playground/interactive-block-playground/tsconfig.spec.json
  packages/playground/interactive-block-playground/vite.config.ts
  packages/playground/interactive-block-playground/zips/block-interactivity-experiments.zip
  packages/playground/interactive-block-playground/zips/hello.zip
Labels: Enhancement, Meta

#989 Website: Add .htaccess file to prevent caching of index.html and enable importing the client.js library
  packages/playground/website/.htaccess
  packages/playground/website/project.json
  packages/playground/website/vite.config.ts
Labels: Enhancement, Browser, Website
