Repository WordPress/wordpress-playground, pull requests merged in 2024-03, with the labels that each got.

#1079 Add Sensei to the allowed repositories for plugin proxy
  packages/playground/website/public/plugin-proxy.php
Labels: Enhancement, Developer Tools, Plugin proxy

#1081 Build the php-wasm/util package as both ESM and CJS
  packages/nx-extensions/src/executors/assert-built-esm-and-cjs/executor.ts
  packages/php-wasm/util/project.json
  packages/php-wasm/util/vite.config.ts
Labels: Bug, Meta

#1082 Hide the "This is experimental WordPress" notice on click
  packages/playground/website/src/components/browser-chrome/index.tsx
  packages/playground/website/src/components/browser-chrome/style.module.css
Labels: Enhancement, Browser, user experience, Accessibility

#1084 Fix: Playground not starting due to a race condition
  packages/php-wasm/web/src/lib/api.ts
Labels: Bug, Browser, user experience, Website

#1085 Set the API context when using Comlink.wrap()
  packages/php-wasm/web/src/lib/api.ts
  packages/playground/client/src/index.ts
Labels: Bug, Browser, JS API

#1087 Comlink API: Pass the context argument to windowEndpoint, not wrap
  packages/php-wasm/web/src/lib/api.ts
Labels: Bug, Browser, JS API

#1089 Node polyfills: Only apply them in Node.js, not in web browsers
  packages/php-wasm/node-polyfills/src/lib/blob.ts
  packages/php-wasm/node-polyfills/src/lib/current-js-runtime.ts
  packages/php-wasm/node-polyfills/src/lib/custom-event.ts
Labels: Enhancement, Browser

#1088 Add VSCode Chrome debugging support
  .vscode/launch.json
  packages/docs/site/docs/13-contributing/02-code.md
Labels: Enhancement, Browser, Developer Experience, Developer Tools

#1098 Service worker: Improve error reporting in non-secure contexts
  packages/php-wasm/util/src/lib/index.ts
  packages/php-wasm/util/src/lib/php-wasm-error.ts
  packages/php-wasm/web/src/lib/register-service-worker.ts
  packages/playground/remote/remote.html
Labels: Enhancement, Developer Experience, Service Worker

#1103 Blueprints: Allow optional metadata
  packages/playground/blueprints/public/blueprint-schema.json
  packages/playground/blueprints/src/lib/blueprint.ts
Labels: Enhancement, Blueprints

#1095 Add fatal errror listener
  packages/php-wasm/logger/src/index.ts
  packages/php-wasm/logger/src/lib/logger.ts
  packages/php-wasm/logger/src/test/logger.spec.ts
  packages/php-wasm/universal/src/lib/base-php.ts
  packages/php-wasm/universal/src/lib/universal-php.ts
  packages/php-wasm/web-service-worker/src/initialize-service-worker.ts
  packages/php-wasm/web/src/lib/register-service-worker.ts
  packages/playground/website/src/main.tsx
Labels: Enhancement, Reliability

#1119 Update activate-theme.ts to use `themeFolderName`.
  packages/playground/blueprints/src/lib/steps/activate-theme.ts
Labels: Documentation, Enhancement

#1083 Add multisite rewrite rules
  packages/php-wasm/universal/src/lib/index.ts
  packages/php-wasm/universal/src/lib/php-request-handler.ts
  packages/playground/remote/service-worker.ts
  packages/playground/remote/src/lib/worker-thread.ts
  packages/playground/wordpress/package.json
  packages/playground/wordpress/src/index.ts
  packages/playground/wordpress/src/rewrite-rules.ts
  packages/playground/wordpress/src/test/rewrite-rules.spec.ts
Labels: Browser, Performance, Service Worker

#1113 Add logger API
  packages/docs/site/docs/13-contributing/07-crash-reports.md
  packages/playground/website/public/logger.php
Labels: Enhancement, Website

#1122 Web: Make the "Apply changes" button work in Playground settings form
  packages/playground/client/src/index.ts
  packages/playground/website/src/components/playground-configuration-group/index.tsx
  packages/playground/website/src/components/playground-configuration-group/reload-with-new-configuration.ts
  packages/playground/website/src/lib/hooks.ts
Labels: Bug, Browser

#1126 Request handler: Remove everything after # from the URL
  packages/php-wasm/node/src/test/php-request-handler.spec.ts
  packages/php-wasm/universal/src/lib/php-request-handler.ts
Labels: Bug, Browser

#1140 Update the wp-cli step code example
  packages/playground/blueprints/src/lib/steps/wp-cli.ts
Labels: Documentation, Enhancement

#1102 Website: Add error report modal
  packages/docs/site/docs/13-contributing/07-crash-reports.md
  packages/php-wasm/logger/src/lib/logger.ts
  packages/php-wasm/universal/src/lib/base-php.ts
  packages/php-wasm/universal/src/lib/universal-php.ts
  packages/playground/website/.htaccess
  packages/playground/website/public/logger.php
  packages/playground/website/src/components/error-report-modal/index.tsx
  packages/playground/website/src/components/error-report-modal/style.module.css
  packages/playground/website/src/components/modal/style.module.css
  packages/playground/website/src/components/toolbar-buttons/report-error.tsx
  packages/playground/website/src/main.tsx
  packages/playground/website/src/playground-context.tsx
Labels: monitoring, React, Website

#1137 PHP.run(): Throw JS exception on runtime error, remove throwOnError flag
  packages/php-wasm/node/src/test/php.spec.ts
  packages/php-wasm/universal/src/lib/base-php.ts
  packages/php-wasm/universal/src/lib/universal-php.ts
  packages/playground/blueprints/public/blueprint-schema.json
  packages/playground/blueprints/src/lib/steps/activate-plugin.ts
  packages/playground/blueprints/src/lib/steps/activate-theme.ts
  packages/playground/blueprints/src/lib/steps/define-wp-config-consts.spec.ts
  packages/playground/blueprints/src/lib/steps/define-wp-config-consts.ts
  packages/playground/blueprints/src/lib/steps/enable-multisite.ts
  packages/playground/blueprints/src/lib/steps/import-wordpress-files.ts
  packages/playground/blueprints/src/lib/steps/run-php.ts
  packages/playground/blueprints/src/lib/steps/site-data.ts
  packages/playground/blueprints/src/lib/utils/run-php-with-zip-functions.ts
  packages/playground/remote/src/lib/worker-thread.ts
  packages/playground/website/demos/php-blueprints.ts
Labels: Enhancement, PHP.wasm, monitoring, Breaking change

#1154 Plugin proxy: Allow requests to WordPress.org
  packages/playground/website/public/plugin-proxy.php
Labels: Enhancement, Plugin proxy

#1150 Ensure PromiseRejectionEvent has reason before logging it
  packages/php-wasm/logger/src/lib/logger.ts
Labels: Bug, Website
