Repository WordPress/wordpress-playground, pull requests merged in 2024-09, with the labels that each got.

#1727 Fix logger test for inconsistent short month
  packages/php-wasm/logger/src/test/logger.spec.ts
Labels: [Type] Bug, Tests

#1726 Avoid errors due to log message formatting
  packages/php-wasm/logger/src/lib/handlers/log-to-console.ts
Labels: [Type] Bug, [Package][@php-wasm] Logger

#1701 Add initial site info view
  package-lock.json
  package.json
  packages/playground/website/index.html
  packages/playground/website/src/components/layout/index.tsx
  packages/playground/website/src/components/layout/style.module.css
  packages/playground/website/src/components/log-modal/index.tsx
  packages/playground/website/src/components/log-modal/style.module.css
  packages/playground/website/src/components/site-manager/icons.tsx
  packages/playground/website/src/components/site-manager/index.tsx
  packages/playground/website/src/components/site-manager/sidebar/index.tsx
  packages/playground/website/src/components/site-manager/sidebar/style.module.css
  packages/playground/website/src/components/site-manager/site-info-panel/index.tsx
  packages/playground/website/src/components/site-manager/site-info-panel/style.module.css
  packages/playground/website/src/components/site-manager/storage-type/index.tsx
  packages/playground/website/src/components/site-manager/storage-type/style.module.css
  packages/playground/website/src/components/site-manager/style.module.css
  packages/playground/website/src/components/site-view/site-view.tsx
  packages/playground/website/src/components/site-view/style.module.css
  packages/playground/website/src/lib/redux-store.ts
  packages/playground/website/src/lib/site-storage.ts
  packages/playground/website/src/lib/use-boot-playground.ts
  packages/playground/website/src/lib/use-navigator-params.ts
  packages/playground/website/src/main.tsx
  packages/playground/website/src/style.module.css
  packages/playground/website/src/styles.css
Labels: [Type] Enhancement, [Package][@wp-playground] Website

#1734 Fix changelog updates for latest doc structure
  CHANGELOG.md
  packages/docs/site/bin/refresh-changelog.ts
  packages/docs/site/docs/main/changelog.md
Labels: [Type] Bug, [Type] Documentation, [Type] Repo / Project Management

#1742 Use the correct imports in the generated .d.ts files
  packages/php-wasm/fs-journal/vite.config.ts
  packages/php-wasm/logger/src/lib/collectors/collect-php-logs.ts
  packages/php-wasm/logger/src/lib/types.ts
  packages/php-wasm/logger/tsconfig.spec.json
  packages/php-wasm/logger/vite.config.ts
  packages/php-wasm/node-polyfills/vite.config.ts
  packages/php-wasm/progress/vite.config.ts
  packages/php-wasm/scopes/vite.config.ts
  packages/php-wasm/stream-compression/vite.config.ts
  packages/php-wasm/universal/vite.config.ts
  packages/php-wasm/util/vite.config.ts
  packages/php-wasm/web-service-worker/vite.config.ts
  packages/php-wasm/web/vite.config.ts
  packages/playground/blueprints/vite.config.ts
  packages/playground/client/vite.config.ts
  packages/playground/common/vite.config.ts
  packages/playground/remote/vite.config.ts
  packages/playground/wordpress-builds/vite.config.ts
  packages/playground/wordpress/vite.config.ts
Labels: [Type] Bug, [Type] Developer Experience

#1741 Docs/Blueprints resources: Grammar and typo fixes
  packages/docs/site/docs/blueprints/04-resources.md
Labels: [Type] Documentation, [Type] Developer Documentation

#1748 Update actions/upload-artifact version to 4
  .github/workflows/build-website.yml
  .github/workflows/ci.yml
  packages/php-wasm/node/src/lib/networking/inbound-tcp-to-ws-proxy.ts
Labels: [Type] Bug, [Focus] Developer Tools

#1721 Extend allowable resources available via WordPress/WordPress.
  packages/docs/site/docs/blueprints/08-examples.md
  packages/playground/website/public/plugin-proxy.php
Labels: [Type] Enhancement

#1760 Fix CLI --skipWordPressSetup option
  packages/playground/cli/src/cli.ts
Labels: [Type] Bug, [Package][@wp-playground] CLI

#1608 Add the `components` package with PathMappingControl
  packages/playground/components/.eslintrc.json
  packages/playground/components/README.md
  packages/playground/components/index.html
  packages/playground/components/package.json
  packages/playground/components/project.json
  packages/playground/components/src/PathMappingControl/PathMappingControl.tsx
  packages/playground/components/src/PathMappingControl/demo.tsx
  packages/playground/components/src/PathMappingControl/index.ts
  packages/playground/components/src/PathMappingControl/style.css
  packages/playground/components/src/demos.tsx
  packages/playground/components/src/index.ts
  packages/playground/components/tsconfig.json
  packages/playground/components/tsconfig.lib.json
  packages/playground/components/tsconfig.spec.json
  packages/playground/components/vite.config.ts
  tsconfig.base.json
Labels: [Type] Enhancement, [Aspect] Website, [Package][@wp-playground] Components

#1751 Improve Playground CLI logging and fix quiet mode
  packages/php-wasm/logger/src/lib/collectors/collect-php-logs.ts
  packages/php-wasm/logger/src/lib/logger.ts
  packages/playground/cli/README.md
  packages/playground/cli/src/cli.ts
  packages/playground/wordpress-builds/build/build.js
Labels: [Type] Bug, [Type] Documentation, [Type] Enhancement, [Package][@php-wasm] Logger, [Package][@wp-playground] CLI

#1770 FS: Use the correct rm/rmdir method when moving files between mounts
  packages/php-wasm/node/src/test/php.spec.ts
  packages/php-wasm/universal/src/lib/fs-helpers.ts
Labels: [Type] Bug, [Package][@php-wasm] Universal, [Package][@wp-playground] CLI

#1765 Docs: better paths for links
  packages/docs/site/docs/_fragments/_api_list.mdx
  packages/docs/site/docs/_fragments/_playground_wp_net_may_stop_working.md
  packages/docs/site/docs/blueprints/01-index.md
  packages/docs/site/docs/blueprints/02-using-blueprints.md
  packages/docs/site/docs/blueprints/03-data-format.md
  packages/docs/site/docs/blueprints/05-steps.md
  packages/docs/site/docs/blueprints/08-examples.md
  packages/docs/site/docs/blueprints/09-troubleshoot-and-debug-blueprints.md
  packages/docs/site/docs/blueprints/intro.md
  packages/docs/site/docs/blueprints/tutorial/01-what-are-blueprints-what-you-can-do-with-them.md
  packages/docs/site/docs/blueprints/tutorial/03-build-your-first-blueprint.md
  packages/docs/site/docs/blueprints/tutorial/index.md
  packages/docs/site/docs/developers/03-build-an-app/01-index.md
  packages/docs/site/docs/developers/05-local-development/01-wp-now.md
  packages/docs/site/docs/developers/05-local-development/intro.md
  packages/docs/site/docs/developers/06-apis/01-index.md
  packages/docs/site/docs/developers/06-apis/javascript-api/01-index.md
  packages/docs/site/docs/developers/06-apis/javascript-api/04-blueprint-json-in-api-client.md
  packages/docs/site/docs/developers/06-apis/javascript-api/05-blueprint-functions-in-api-client.md
  packages/docs/site/docs/developers/23-architecture/01-index.md
  packages/docs/site/docs/developers/23-architecture/02-wasm-php-overview.md
  packages/docs/site/docs/developers/23-architecture/03-wasm-php-compiling.md
  packages/docs/site/docs/developers/23-architecture/04-wasm-php-javascript-module.md
  packages/docs/site/docs/developers/23-architecture/05-wasm-php-filesystem.md
  packages/docs/site/docs/developers/23-architecture/06-wasm-php-data-dependencies.md
  packages/docs/site/docs/developers/23-architecture/08-browser-concepts.md
  packages/docs/site/docs/developers/23-architecture/09-browser-tab-orchestrates-execution.md
  packages/docs/site/docs/developers/23-architecture/10-browser-iframe-rendering.md
  packages/docs/site/docs/developers/23-architecture/11-browser-php-worker-threads.md
  packages/docs/site/docs/developers/23-architecture/12-browser-service-workers.md
  packages/docs/site/docs/developers/23-architecture/15-wordpress.md
  packages/docs/site/docs/developers/23-architecture/17-browser-wordpress.md
  packages/docs/site/docs/developers/23-architecture/18-host-your-own-playground.md
  packages/docs/site/docs/developers/24-limitations/01-index.md
  packages/docs/site/docs/developers/intro-devs.md
  packages/docs/site/docs/main/about/index.md
  packages/docs/site/docs/main/contributing/code.md
  packages/docs/site/docs/main/contributing/contributor-day.md
  packages/docs/site/docs/main/contributing/documentation.md
  packages/docs/site/docs/main/contributing/index.md
  packages/docs/site/docs/main/intro.md
  packages/docs/site/docs/main/quick-start-guide.md
  packages/docs/site/docs/main/web-instance.md
  packages/docs/site/redirections.js
Labels: [Type] Documentation

#1782 Fix troubleshoot-and-debug link
  packages/playground/website/src/components/start-error-modal/index.tsx
Labels: [Type] Bug, [Aspect] Website

#1785 Docs: Remove the outdated "data rependencies" page
  packages/docs/site/docs/developers/23-architecture/06-wasm-php-data-dependencies.md
  packages/docs/site/docs/developers/23-architecture/15-wordpress.md
  packages/docs/site/docs/developers/23-architecture/17-browser-wordpress.md
  packages/docs/site/redirections.js
  packages/docs/site/sidebars.js
Labels: [Type] Documentation, [Type] Enhancement

#1766 Docs: i18n setup
  packages/docs/site/docusaurus.config.js
  packages/docs/site/i18n/es/code.json
  packages/docs/site/i18n/es/docusaurus-plugin-content-docs/current/main/intro.md
  packages/docs/site/i18n/fr/docusaurus-plugin-content-docs/code.json
  packages/docs/site/i18n/fr/docusaurus-plugin-content-docs/current/main/intro.md
Labels: [Type] Documentation

#1795 Docs: fix links intro fr
  packages/docs/site/i18n/fr/docusaurus-plugin-content-docs/current/main/intro.md
Labels: [Type] Bug, [Type] Documentation

#1807 Docs: translation i18n messages - JSON files
  packages/docs/site/i18n/es/docusaurus-plugin-content-blog/options.json
  packages/docs/site/i18n/es/docusaurus-plugin-content-docs/current.json
  packages/docs/site/i18n/es/docusaurus-theme-classic/footer.json
  packages/docs/site/i18n/es/docusaurus-theme-classic/navbar.json
  packages/docs/site/i18n/fr/code.json
  packages/docs/site/i18n/fr/docusaurus-plugin-content-blog/options.json
  packages/docs/site/i18n/fr/docusaurus-plugin-content-docs/current.json
  packages/docs/site/i18n/fr/docusaurus-theme-classic/footer.json
  packages/docs/site/i18n/fr/docusaurus-theme-classic/navbar.json
Labels: [Type] Documentation

#1810 [Blueprints] Translate GitHub.com file URLs into CORS-accessible raw.githubusercontent.com
  packages/playground/blueprints/src/lib/resources.spec.ts
  packages/playground/blueprints/src/lib/resources.ts
Labels: [Type] Enhancement, [Type] Developer Experience, [Package][@wp-playground] Blueprints

#1817 [Website] Prevent creation of two temporary sites
  packages/playground/website/src/components/ensure-playground-site/ensure-playground-site-is-selected.tsx
Labels: [Type] Bug, [Aspect] Website

#1819 Fix broken Playwright tests
  packages/playground/website/cypress/e2e/query-api.cy.ts
  packages/playground/website/cypress/support/commands.ts
  packages/playground/website/playwright/e2e/blueprints.spec.ts
  packages/playground/website/playwright/e2e/website-ui.spec.ts
  packages/playground/website/playwright/playground-fixtures.ts
  packages/playground/website/playwright/playwright.config.ts
  packages/playground/website/playwright/website-page.ts
  packages/playground/website/src/components/playground-viewport/index.tsx
Labels: [Type] Bug, Tests

#1820 Stop address bar from adding trailing slash to query params
  packages/playground/website/src/components/address-bar/index.tsx
Labels: [Type] Bug, [Package][@wp-playground] Website

#1833 Fix go-to-site menu items to reveal site view
  packages/playground/website/src/components/site-manager/index.tsx
  packages/playground/website/src/components/site-manager/site-info-panel/index.tsx
Labels: [Type] Bug, [Type] UI / UX / User Experience, [Package][@wp-playground] Website

#1831 Close Playground Manager by default
  packages/playground/website/playwright/e2e/website-ui.spec.ts
  packages/playground/website/playwright/website-page.ts
  packages/playground/website/src/lib/state/redux/slice-ui.ts
Labels: [Type] Bug, [Type] UI / UX / User Experience, [Package][@wp-playground] Website
