Repository WordPress/wordpress-playground, pull requests merged in 2024-05, with the labels that each got.

#1355 Add shareable extension-to-MIME-type mapping
  packages/php-wasm/universal/src/lib/mime-types.json
  packages/php-wasm/universal/src/lib/php-request-handler.ts
Labels: [Feature] PHP.wasm, [Package][@php-wasm] Universal

#1357 Support wp_crop_image in import wxr
  packages/playground/blueprints/src/lib/steps/import-wxr.ts
Labels: [Type] Bug, [Feature] Import Export

#1360 Derive MIME types for PHP served files from shared JSON
  .github/workflows/deploy-website-next.yml
  packages/php-wasm/universal/src/lib/mime-types.json
  packages/playground/website-deployment/apply-update.sh
  packages/playground/website-deployment/custom-redirects-lib.php
  packages/playground/website-deployment/mime-types.php
Labels: [Aspect] Website, [Package][@wp-playground] Website

#1361 Website: Update rsync command to clean up more completely
  packages/playground/website-deployment/apply-update.sh
Labels: [Aspect] Website, [Package][@wp-playground] Website

#1362 Website: Add secrets on-demand for more endpoints
  packages/playground/website-deployment/custom-redirects-lib.php
Labels: [Aspect] Website, [Package][@wp-playground] Website

#1336 Show error log if Playground fails to start
  packages/php-wasm/logger/src/lib/handlers/log-to-memory.ts
  packages/playground/website/src/components/error-report-modal/index.tsx
  packages/playground/website/src/components/log-modal/index.tsx
  packages/playground/website/src/components/log-modal/style.module.css
  packages/playground/website/src/components/start-error-modal/index.tsx
  packages/playground/website/src/components/start-error-modal/style.module.css
  packages/playground/website/src/lib/hooks.ts
  packages/playground/website/src/main.tsx
  packages/playground/website/src/playground-context.tsx
Labels: [Type] Developer Experience, [Focus] Developer Tools, [Aspect] Website, [Package][@php-wasm] Logger

#1368 Disable console logging when running tests
  packages/php-wasm/logger/src/lib/logger.ts
Labels: [Type] Developer Experience, Tests, [Package][@php-wasm] Logger

#1366 PHP: Use auto_prepend_file to preload mu-plugins (instead of creating them in wp-content/mu-plugins)
  packages/php-wasm/compile/php/phpwasm-emscripten-library.js
  packages/php-wasm/node/public/php_7_0.js
  packages/php-wasm/node/public/php_7_1.js
  packages/php-wasm/node/public/php_7_2.js
  packages/php-wasm/node/public/php_7_3.js
  packages/php-wasm/node/public/php_7_4.js
  packages/php-wasm/node/public/php_8_0.js
  packages/php-wasm/node/public/php_8_1.js
  packages/php-wasm/node/public/php_8_2.js
  packages/php-wasm/node/public/php_8_3.js
  packages/php-wasm/universal/src/lib/base-php.ts
  packages/php-wasm/universal/src/lib/index.ts
  packages/php-wasm/universal/src/lib/php-request-handler.ts
  packages/php-wasm/universal/src/lib/proxy-file-system.ts
  packages/php-wasm/web/public/kitchen-sink/php_7_0.js
  packages/php-wasm/web/public/kitchen-sink/php_7_1.js
  packages/php-wasm/web/public/kitchen-sink/php_7_2.js
  packages/php-wasm/web/public/kitchen-sink/php_7_3.js
  packages/php-wasm/web/public/kitchen-sink/php_7_4.js
  packages/php-wasm/web/public/kitchen-sink/php_8_0.js
  packages/php-wasm/web/public/kitchen-sink/php_8_1.js
  packages/php-wasm/web/public/kitchen-sink/php_8_2.js
  packages/php-wasm/web/public/kitchen-sink/php_8_3.js
  packages/php-wasm/web/public/light/php_7_0.js
  packages/php-wasm/web/public/light/php_7_1.js
  packages/php-wasm/web/public/light/php_7_2.js
  packages/php-wasm/web/public/light/php_7_3.js
  packages/php-wasm/web/public/light/php_7_4.js
  packages/php-wasm/web/public/light/php_8_0.js
  packages/php-wasm/web/public/light/php_8_1.js
  packages/php-wasm/web/public/light/php_8_2.js
  packages/php-wasm/web/public/light/php_8_3.js
  packages/playground/cli/src/setup-php.ts
  packages/playground/cli/src/setup-wp.ts
  packages/playground/remote/src/lib/boot-playground-remote.ts
  packages/playground/remote/src/lib/playground-mu-plugin/0-playground.php
  packages/playground/remote/src/lib/worker-thread.ts
  packages/playground/remote/src/lib/worker-utils.ts
  packages/playground/wordpress/src/index.ts
Labels: [Type] Enhancement, [Feature] PHP.wasm, [Package][@wp-playground] Remote, [Package][@php-wasm] Universal, [Package][@wp-playground] CLI

#1373 Docs: Use step function names instead of TypeScript type names
  packages/docs/site/docs/09-blueprints-api/05-steps.md
  packages/docs/site/src/components/BlueprintsAPI/BlueprintStep.tsx
Labels: [Type] Documentation, [Type] Enhancement

#1377 Use step id name
  packages/docs/site/docs/09-blueprints-api/05-steps.md
  packages/docs/site/src/components/BlueprintsAPI/BlueprintStep.tsx
  packages/docs/site/src/components/BlueprintsAPI/model.tsx
Labels: [Type] Documentation, [Type] Enhancement

#1378 Website: Fix constant names for GH export oauth
  packages/playground/website-deployment/custom-redirects-lib.php
Labels: [Type] Bug, [Aspect] Website, [Package][@wp-playground] Website

#1346 JSPI: Enable the origin trial on Chrome
  packages/playground/remote/remote.html
Labels: [Type] Enhancement, [Feature] PHP.wasm, [Package][@php-wasm] Web

#1386 PHP: Move internal shared directories to /internal/shared
  packages/php-wasm/compile/php/phpwasm-emscripten-library.js
  packages/php-wasm/node/public/php_7_0.js
  packages/php-wasm/node/public/php_7_1.js
  packages/php-wasm/node/public/php_7_2.js
  packages/php-wasm/node/public/php_7_3.js
  packages/php-wasm/node/public/php_7_4.js
  packages/php-wasm/node/public/php_8_0.js
  packages/php-wasm/node/public/php_8_1.js
  packages/php-wasm/node/public/php_8_2.js
  packages/php-wasm/node/public/php_8_3.js
  packages/php-wasm/universal/src/lib/base-php.ts
  packages/php-wasm/web/public/kitchen-sink/php_7_0.js
  packages/php-wasm/web/public/kitchen-sink/php_7_1.js
  packages/php-wasm/web/public/kitchen-sink/php_7_2.js
  packages/php-wasm/web/public/kitchen-sink/php_7_3.js
  packages/php-wasm/web/public/kitchen-sink/php_7_4.js
  packages/php-wasm/web/public/kitchen-sink/php_8_0.js
  packages/php-wasm/web/public/kitchen-sink/php_8_1.js
  packages/php-wasm/web/public/kitchen-sink/php_8_2.js
  packages/php-wasm/web/public/kitchen-sink/php_8_3.js
  packages/php-wasm/web/public/light/php_7_0.js
  packages/php-wasm/web/public/light/php_7_1.js
  packages/php-wasm/web/public/light/php_7_2.js
  packages/php-wasm/web/public/light/php_7_3.js
  packages/php-wasm/web/public/light/php_7_4.js
  packages/php-wasm/web/public/light/php_8_0.js
  packages/php-wasm/web/public/light/php_8_1.js
  packages/php-wasm/web/public/light/php_8_2.js
  packages/php-wasm/web/public/light/php_8_3.js
  packages/playground/cli/src/setup-php.ts
  packages/playground/cli/src/setup-wp.ts
  packages/playground/remote/src/lib/worker-thread.ts
  packages/playground/wordpress/src/index.ts
Labels: [Type] Enhancement, [Package][@php-wasm] Web, [Package][@php-wasm] Node, [Package][@php-wasm] Universal

#1387 Introduce a new @wp-playground/common package to avoid circular depencies
  packages/php-wasm/node/src/test/php-process-manager.spec.ts
  packages/php-wasm/node/src/test/php-request-handler.spec.ts
  packages/playground/blueprints/src/lib/compile.spec.ts
  packages/playground/blueprints/src/lib/steps/activate-plugin.spec.ts
  packages/playground/blueprints/src/lib/steps/activate-theme.spec.ts
  packages/playground/blueprints/src/lib/steps/cp.spec.ts
  packages/playground/blueprints/src/lib/steps/define-wp-config-consts.spec.ts
  packages/playground/blueprints/src/lib/steps/enable-multisite.spec.ts
  packages/playground/blueprints/src/lib/steps/import-wxr.spec.ts
  packages/playground/blueprints/src/lib/steps/install-plugin.spec.ts
  packages/playground/blueprints/src/lib/steps/install-theme.spec.ts
  packages/playground/blueprints/src/lib/steps/login.spec.ts
  packages/playground/blueprints/src/lib/steps/mkdir.spec.ts
  packages/playground/blueprints/src/lib/steps/mv.spec.ts
  packages/playground/blueprints/src/lib/steps/rm.spec.ts
  packages/playground/blueprints/src/lib/steps/site-data.spec.ts
  packages/playground/cli/src/cli.ts
  packages/playground/common/.eslintrc.json
  packages/playground/common/README.md
  packages/playground/common/package.json
  packages/playground/common/project.json
  packages/playground/common/src/index.ts
  packages/playground/common/tsconfig.json
  packages/playground/common/tsconfig.lib.json
  packages/playground/common/tsconfig.spec.json
  packages/playground/common/vite.config.ts
  packages/playground/sync/src/test/sql.spec.ts
  tsconfig.base.json
Labels: [Type] Enhancement, [Package][@wp-playground] Common

#1388 PHP: Always set the auto_prepend_file php.ini entry, even when the auto_prepend_file.php file exists
  packages/php-wasm/universal/src/lib/base-php.ts
Labels: [Type] Bug, [Package][@php-wasm] Universal

#1382 Explore: Setup SQLite database integration without creating wp-content/db.php
  packages/playground/cli/src/setup-wp.ts
  packages/playground/wordpress/package.json
  packages/playground/wordpress/project.json
  packages/playground/wordpress/src/index.ts
Labels: [Type] Exploration, [Package][@wp-playground] CLI

#1392 GitHub export: Create new commits in your fork when writing to the upstream repo isn't allowed
  packages/playground/website/src/github/github-export-form/form.tsx
Labels: [Type] Bug, [Feature] GitHub integration

#1400 Blueprints: Define constants in auto_prepend_file, silence warnings related to redefining those constants
  packages/playground/blueprints/src/lib/steps/define-wp-config-consts.spec.ts
  packages/playground/blueprints/src/lib/steps/define-wp-config-consts.ts
  packages/playground/blueprints/src/lib/steps/unzip.ts
  packages/playground/common/project.json
  packages/playground/common/src/index.ts
  packages/playground/wordpress/src/index.ts
Labels: [Type] Enhancement, [Package][@wp-playground] Blueprints, [Feature] Boot Flow

#1401 Blueprints: Write sunrise.php to /internal in enableMultisite step
  packages/playground/blueprints/src/lib/steps/enable-multisite.spec.ts
  packages/playground/blueprints/src/lib/steps/enable-multisite.ts
Labels: [Type] Enhancement, [Package][@wp-playground] Blueprints, [Feature] Boot Flow

#1406 Provide non-gzipped wp-cli.phar file with website build
  packages/playground/website/project.json
Labels: [Type] Bug, [Package][@wp-playground] Blueprints, [Aspect] Website, [Package][@wp-playground] Website

#1407 Playground CLI: Don't create /wordpress/wp-config.php on boot
  packages/playground/cli/src/setup-wp.ts
Labels: [Type] Enhancement, [Package][@wp-playground] CLI, [Feature] Boot Flow

#1369 Improve log modal styles, a11y, error message wording
  packages/playground/blueprints/src/lib/resources.ts
  packages/playground/website/src/components/log-modal/index.tsx
  packages/playground/website/src/components/log-modal/style.module.css
Labels: [Type] Enhancement, [Type] Developer Experience, [Aspect] Website

#1408 Add VSCode branch protection
  .vscode/settings.json
Labels: [Type] Enhancement, [Type] Developer Experience, [Focus] Developer Tools

#1391 Throw an error when activating a theme or plugin that doesn't exist
  packages/php-wasm/logger/src/lib/handlers/log-to-console.ts
  packages/php-wasm/logger/src/lib/logger.ts
  packages/playground/blueprints/src/lib/steps/activate-plugin.ts
  packages/playground/blueprints/src/lib/steps/activate-theme.ts
  packages/playground/website/cypress/e2e/blueprints.cy.ts
  packages/playground/website/src/components/log-modal/index.tsx
Labels: [Type] Bug, [Package][@wp-playground] Blueprints

#1404 Simplify website deployment workflows
  .github/workflows/build-website.yml
  .github/workflows/deploy-website-next.yml
Labels: [Aspect] Website, [Package][@wp-playground] Website

#1410 CLI: Distinguish between mount and mountBeforeInstall options
  packages/playground/cli/src/cli.ts
Labels: [Type] Enhancement, [Package][@wp-playground] CLI

#1412 Unzip: Only delete a temporary zip file after unzipping, do not delete the original zip
  packages/playground/common/src/index.ts
Labels: [Type] Bug, [Package][@wp-playground] Blueprints, [Feature] PR Previewer

#1411 PHP: Support php.mv() between devices via recursive copy
  package-lock.json
  package.json
  packages/php-wasm/node/src/test/php.spec.ts
  packages/php-wasm/universal/src/lib/base-php.ts
  packages/php-wasm/universal/tsconfig.json
  packages/playground/cli/vite.config.ts
Labels: [Type] Enhancement, [Package][@php-wasm] Node, [Package][@php-wasm] Universal

#1413 Fix changelog automation
  .github/workflows/publish-npm-packages.yml
  .github/workflows/update-changelog.yml
  CHANGELOG.md
  package.json
  packages/docs/site/docs/17-changelog.md
  packages/meta/src/changelog.ts
Labels: [Type] Bug, [Type] Repo / Project Management

#1385 Move puzzle app to a Playground package
  package-lock.json
  package.json
  packages/playground/blueprints/public/blueprint-schema.json
  packages/playground/puzzle/.eslintrc.json
  packages/playground/puzzle/README.md
  packages/playground/puzzle/index.html
  packages/playground/puzzle/package.json
  packages/playground/puzzle/project.json
  packages/playground/puzzle/public/favicon.ico
  packages/playground/puzzle/public/logo192.png
  packages/playground/puzzle/public/logo512.png
  packages/playground/puzzle/public/manifest.json
  packages/playground/puzzle/public/robots.txt
  packages/playground/puzzle/src/App.scss
  packages/playground/puzzle/src/App.tsx
  packages/playground/puzzle/src/assets/home-background.png
  packages/playground/puzzle/src/assets/shape.png
  packages/playground/puzzle/src/components/SiteButton/SiteButton.scss
  packages/playground/puzzle/src/components/SiteButton/SiteButton.tsx
  packages/playground/puzzle/src/components/footer/Footer.scss
  packages/playground/puzzle/src/components/footer/Footer.tsx
  packages/playground/puzzle/src/components/loader/Loader.scss
  packages/playground/puzzle/src/components/loader/Loader.tsx
  packages/playground/puzzle/src/components/scan-button/ScanButton.scss
  packages/playground/puzzle/src/components/scan-button/ScanButton.tsx
  packages/playground/puzzle/src/components/scan-overlay/ScanOverlay.scss
  packages/playground/puzzle/src/components/scan-overlay/ScanOverlay.tsx
  packages/playground/puzzle/src/components/scan-video/ScanVideo.scss
  packages/playground/puzzle/src/components/scan-video/ScanVideo.tsx
  packages/playground/puzzle/src/context/scan.ts
  packages/playground/puzzle/src/index.css
  packages/playground/puzzle/src/index.tsx
  packages/playground/puzzle/src/setupTests.js
  packages/playground/puzzle/src/site-builder/api.ts
  packages/playground/puzzle/src/site-builder/blueprints/cookiebot.json
  packages/playground/puzzle/src/site-builder/blueprints/dynamic-ooo.json
  packages/playground/puzzle/src/site-builder/blueprints/elementor.json
  packages/playground/puzzle/src/site-builder/blueprints/fastspring.json
  packages/playground/puzzle/src/site-builder/blueprints/google.json
  packages/playground/puzzle/src/site-builder/blueprints/jetformbuilder.json
  packages/playground/puzzle/src/site-builder/blueprints/jetpack.json
  packages/playground/puzzle/src/site-builder/blueprints/omnisend.json
  packages/playground/puzzle/src/site-builder/blueprints/personalizewp.json
  packages/playground/puzzle/src/site-builder/blueprints/siteground.json
  packages/playground/puzzle/src/site-builder/blueprints/w3-total-cache.json
  packages/playground/puzzle/src/site-builder/blueprints/yith.json
  packages/playground/puzzle/src/site-builder/blueprints/yoast.json
  packages/playground/puzzle/src/site-builder/image.ts
  packages/playground/puzzle/src/site-builder/index.ts
  packages/playground/puzzle/src/site-builder/processor.ts
  packages/playground/puzzle/src/views/home/Home.scss
  packages/playground/puzzle/src/views/home/Home.tsx
  packages/playground/puzzle/src/views/scan/Scan.scss
  packages/playground/puzzle/src/views/scan/Scan.tsx
  packages/playground/puzzle/src/views/site/Site.scss
  packages/playground/puzzle/src/views/site/Site.tsx
  packages/playground/puzzle/tsconfig.json
  packages/playground/puzzle/tsconfig.lib.json
  packages/playground/puzzle/tsconfig.spec.json
  packages/playground/puzzle/vite.config.ts
Labels: [Type] Marketing, [Aspect] Website

#1372 Add puzzle API
  packages/playground/website-deployment/custom-redirects-lib.php
  packages/playground/website/.htaccess
  packages/playground/website/public/puzzle.php
Labels: [Type] Marketing, [Type] New API

#1418 Website: Ship the SQLite database integration plugin
  .github/workflows/refresh-sqlite-integration.yml
  packages/playground/wordpress-builds/build/refresh-sqlite-integration-plugin.js
  packages/playground/wordpress-builds/project.json
  packages/playground/wordpress-builds/src/index.ts
  packages/playground/wordpress-builds/src/sqlite-database-integration/get-sqlite-database-plugin-details.ts
  packages/playground/wordpress-builds/src/sqlite-database-integration/sqlite-database-integration.zip
Labels: [Type] Enhancement, [Package][@wp-playground] WordPress Builds

#1419 PHP: Use /internal/shared/php.ini by default
  packages/php-wasm/compile/php/phpwasm-emscripten-library.js
  packages/php-wasm/universal/src/lib/base-php.ts
  packages/playground/cli/src/setup-php.ts
Labels: [Type] Enhancement, [Package][@php-wasm] Web, [Package][@php-wasm] Node, [Package][@php-wasm] Compile

#1422 PHP: Remove mentions of a custom PHP extension
  packages/docs/site/docs/11-architecture/03-wasm-php-compiling.md
  packages/php-wasm/compile/build.js
  packages/php-wasm/compile/php/Dockerfile
  packages/php-wasm/compile/php/php_wasm.c
  packages/playground/remote/src/lib/playground-mu-plugin/0-playground.php
Labels: [Type] Enhancement, [Package][@php-wasm] Compile

#1421 ESLint: Disable console warnings for paths where they're not useful
  .eslintrc.json
  packages/playground/website/.eslintrc.json
Labels: [Type] Enhancement, [Type] Developer Experience

#1424 Remote.html: Preload the SQLite database plugin, but only execute it if there's no custom db.php inside wp-content
  packages/playground/remote/src/lib/worker-thread.ts
  packages/playground/wordpress/src/index.ts
Labels: [Type] Enhancement, [Package][@wp-playground] Website, [Package][@wp-playground] Remote

#1430 Document php ini functions
  packages/php-wasm/universal/src/lib/ini.ts
Labels: [Type] Documentation, [Type] Enhancement, [Feature] PHP.wasm, [Package][@php-wasm] Universal

#1425 Remote.html: Install WordPress if it isn't installed yet
  packages/playground/remote/src/lib/worker-thread.ts
  packages/playground/wordpress-builds/src/sqlite-database-integration/get-sqlite-database-plugin-details.ts
Labels: [Type] Enhancement, [Package][@wp-playground] Remote

#1427 Boot: Move WordPress zip extraction logic to a common unzipWordPress() utility
  packages/playground/cli/src/setup-wp.ts
  packages/playground/remote/src/lib/worker-thread.ts
  packages/playground/wordpress/src/index.ts
Labels: [Package][@wp-playground] Remote, [Package][@wp-playground] WordPress, [Feature] Boot Flow

#1434 Blueprints: Simplify runPhpWithZipFunctions() setup
  packages/playground/blueprints/src/lib/steps/install-theme.spec.ts
  packages/playground/blueprints/src/lib/steps/zip-wp-content.ts
  packages/playground/blueprints/src/lib/utils/run-php-with-zip-functions.ts
  packages/playground/common/src/index.ts
Labels: [Type] Enhancement, [Package][@wp-playground] Blueprints, [Package][@wp-playground] WordPress

#1435 Blueprints: Re-activate single-file plugins when enabling a multisite
  packages/playground/blueprints/src/lib/steps/enable-multisite.ts
Labels: [Type] Bug, [Package][@wp-playground] Blueprints

#1443 Add name to Puzzle package
  packages/playground/puzzle/package.json
Labels: [Type] Bug

#1449 Fix update-changelog workflow to commit all updates
  .github/workflows/update-changelog.yml
Labels: [Type] Bug, [Type] Documentation, [Type] Repo / Project Management, [Type] Developer Documentation

#1451 Blueprints: Add resetData step
  packages/playground/blueprints/public/blueprint-schema.json
  packages/playground/blueprints/src/lib/steps/handlers.ts
  packages/playground/blueprints/src/lib/steps/index.ts
  packages/playground/blueprints/src/lib/steps/reset-data.spec.ts
  packages/playground/blueprints/src/lib/steps/reset-data.ts
Labels: [Type] Enhancement, [Package][@wp-playground] Blueprints, [Type] New API

#1456 Website: Fix custom redirects
  packages/playground/website-deployment/apply-update.sh
Labels: [Type] Bug, [Aspect] Website, [Package][@wp-playground] Website

#1440 Add Puzzle app to Website build
  packages/playground/website/project.json
  packages/playground/website/vite.config.ts
Labels: [Type] Enhancement, [Type] Marketing

#1439 Add GTM tag to Website package
  packages/playground/website/index.html
  packages/playground/website/public/gutenberg.html
  packages/playground/website/public/wordpress.html
Labels: [Type] Bug, [Aspect] Website

#1458 Fix http_build_query(): Passing null
  packages/playground/remote/src/lib/playground-mu-plugin/playground-includes/wp_http_fetch.php
Labels: [Type] Bug, [Feature] Boot Flow

#1390 v1 WordPress Boot Protocol
  packages/php-wasm/universal/src/lib/index.ts
  packages/php-wasm/universal/src/lib/ini.ts
  packages/php-wasm/universal/src/lib/write-files.ts
  packages/php-wasm/web/src/lib/web-php-endpoint.ts
  packages/playground/blueprints/src/lib/steps/define-wp-config-consts.spec.ts
  packages/playground/blueprints/src/lib/steps/enable-multisite.spec.ts
  packages/playground/blueprints/src/lib/steps/wp-cli.spec.ts
  packages/playground/cli/src/cli.ts
  packages/playground/cli/src/download.ts
  packages/playground/cli/src/setup-php.ts
  packages/playground/cli/src/setup-wp.ts
  packages/playground/common/src/index.ts
  packages/playground/remote/src/lib/worker-thread.ts
  packages/playground/remote/src/lib/worker-utils.ts
  packages/playground/wordpress-builds/src/sqlite-database-integration/get-sqlite-database-plugin-details.ts
  packages/playground/wordpress/src/boot.ts
  packages/playground/wordpress/src/index.ts
Labels: [Type] Enhancement, [Package][@wp-playground] WordPress, [Feature] Boot Flow

#1461 Website: Stop disabling cache for non-root index.html files
  packages/playground/website-deployment/apply-update.sh
  packages/playground/website-deployment/custom-redirects-lib.php
Labels: [Type] Bug, [Aspect] Website, [Package][@wp-playground] Website

#1462 Fix Puzzle API env variables
  packages/playground/website/public/puzzle.php
Labels: [Type] Marketing

#1460 Prevent editor pairing from failing if it runs multiple times
  packages/playground/remote/service-worker.ts
Labels: [Type] Bug, [Aspect] Service Worker

#1464 Blueprints: Remove support for the "request" step
  packages/playground/blueprints/src/lib/compile.ts
Labels: [Type] Enhancement, [Package][@wp-playground] Blueprints

#1468 Move Filesystem methods to a static FSHelpers class
  packages/php-wasm/universal/src/lib/fs-helpers.ts
  packages/php-wasm/universal/src/lib/index.ts
  packages/php-wasm/universal/src/lib/php-worker.ts
  packages/php-wasm/universal/src/lib/php.ts
  packages/php-wasm/universal/src/lib/rethrow-file-system-error.ts
  packages/php-wasm/universal/src/lib/universal-php.ts
Labels: [Type] Enhancement, [Feature] OPFS, [Package][@php-wasm] Universal

#1472 Support mutliple sites when using browser storage
  packages/docs/site/docs/08-query-api/01-index.md
  packages/playground/client/src/index.ts
  packages/playground/remote/src/lib/boot-playground-remote.ts
  packages/playground/remote/src/lib/worker-thread.ts
  packages/playground/remote/src/lib/worker-utils.ts
  packages/playground/website/README.md
  packages/playground/website/cypress/e2e/query-api.cy.ts
  packages/playground/website/src/components/playground-viewport/index.tsx
  packages/playground/website/src/lib/hooks.ts
  packages/playground/website/src/main.tsx
  packages/playground/wordpress-builds/src/sqlite-database-integration/get-sqlite-database-plugin-details.ts
Labels: [Type] Enhancement, [Aspect] Browser, [Aspect] Website, [Aspect] Filesystem
