Repository WordPress/wordpress-playground, pull requests merged in 2024-11, with the labels that each got.

#1955 [WordPress build] Only build the latest patch version of WordPress
  .github/workflows/refresh-wordpress-major-and-beta.yml
  packages/playground/wordpress-builds/build/build.js
Labels: [Type] Bug

#1983 [CLI] Set debug constants during boot
  packages/playground/cli/src/cli.ts
Labels: [Type] Enhancement, [Package][@wp-playground] CLI

#1985 [CLI] Fix login argument
  packages/playground/cli/src/cli.ts
Labels: [Type] Bug, [Package][@wp-playground] CLI

#1978 [Service Worker] Support redirects to relative URLs in Safari
  packages/php-wasm/node-polyfills/src/index.ts
  packages/php-wasm/node-polyfills/src/lib/url.ts
  packages/php-wasm/universal/src/lib/php-request-handler.ts
  packages/php-wasm/web-service-worker/src/utils.ts
  packages/playground/wordpress/src/index.ts
Labels: [Type] Bug, [Aspect] Service Worker

#1945 [Query API] Use the exact redirect URL provided in the ?url= query param
  packages/playground/remote/src/lib/boot-playground-remote.ts
  packages/playground/website/playwright/e2e/query-api.spec.ts
  packages/playground/website/src/lib/state/redux/slice-clients.ts
  packages/playground/wordpress/src/index.ts
Labels: [Type] Bug, [Package][@wp-playground] Blueprints, [Aspect] Website

#2003 [Data Liberation] wp-admin importer page
  packages/php-wasm/compile/php/Dockerfile
  packages/playground/data-liberation/import-screen.js
  packages/playground/data-liberation/plugin.php
  packages/playground/data-liberation/src/import/WP_Stream_Importer.php
  packages/playground/data-liberation/src/wxr/WP_WXR_Reader.php
  packages/playground/data-liberation/tests/import/blueprint-import.json
Labels: [Type] Enhancement, [Aspect] Data Liberation

#1987 [Blueprints] setSiteLanguage step – download the latest RC translations for Nightly and Beta builds of WordPress
  packages/playground/blueprints/src/lib/steps/set-site-language.spec.ts
  packages/playground/blueprints/src/lib/steps/set-site-language.ts
  packages/playground/website/playwright/e2e/blueprints.spec.ts
  packages/playground/website/playwright/e2e/query-api.spec.ts
  packages/playground/wordpress/src/version-detect.ts
Labels: [Type] Bug, [Package][@wp-playground] Blueprints

#2014 Fix path of PR preview URL in production
  packages/playground/website/src/github/preview-pr/form.tsx
  packages/playground/website/src/github/preview-pr/modal.tsx
Labels: [Feature] PR Previewer, [Package][@wp-playground] Website

#2015 Support submitting PR preview modal with ENTER key
  packages/playground/website/src/github/preview-pr/form.tsx
Labels: [Type] Bug, [Type] UI / UX / User Experience, [Feature] PR Previewer, [Package][@wp-playground] Website

#2016 E2E: Disable a flaky deployment test
  packages/playground/website/playwright/e2e/deployment.spec.ts
Labels: [Type] Enhancement, Tests

#2017 Blueprints: Use the major WordPress version to download RC/beta translations
  packages/playground/blueprints/src/lib/steps/set-site-language.spec.ts
  packages/playground/blueprints/src/lib/steps/set-site-language.ts
Labels: [Type] Bug, [Package][@wp-playground] Blueprints

#2021 Restore basic element styles for modal dialog content
  packages/playground/website/src/components/modal/style.module.css
Labels: [Type] Bug, [Package][@wp-playground] Website

#2012 [Data Liberation] Add WXR import CLI script
  packages/playground/data-liberation/bin/import/blueprint-import-wxr.json
  packages/playground/data-liberation/bin/import/import-wxr.sh
  packages/playground/data-liberation/bootstrap.php
  packages/playground/data-liberation/phpunit.xml
  packages/playground/data-liberation/plugin.php
  packages/playground/data-liberation/project.json
  packages/playground/data-liberation/src/functions.php
  packages/playground/data-liberation/src/import/WP_Attachment_Downloader.php
  packages/playground/data-liberation/src/import/WP_Stream_Importer.php
  packages/playground/data-liberation/tests/WPStreamImporterTests.php
  packages/playground/data-liberation/tests/import/blueprint-import.json
  packages/playground/data-liberation/tests/import/run.sh
Labels: [Type] Enhancement, [Aspect] Data Liberation

#2028 Networking: Preserve the content-type header when fetch()-ing
  packages/playground/remote/src/lib/setup-fetch-network-transport.ts
  packages/playground/remote/src/test/setup-fetch-network-transport.spec.ts
Labels: [Type] Bug, [Aspect] Networking

#2033 Add installPlugin support for single plugin files
  packages/playground/blueprints/public/blueprint-schema-validator.js
  packages/playground/blueprints/public/blueprint-schema.json
  packages/playground/blueprints/src/lib/steps/install-plugin.spec.ts
  packages/playground/blueprints/src/lib/steps/install-plugin.ts
Labels: [Type] Enhancement, [Feature] Blueprints Builder

#2039 [Web] Re-enable wp-cron
  packages/playground/remote/src/lib/playground-mu-plugin/playground-includes/wp_http_fetch.php
  packages/playground/remote/src/lib/setup-fetch-network-transport.ts
Labels: [Type] Enhancement, [Aspect] Website
