Repository WordPress/wordpress-playground, pull requests merged in 2024-08, with the labels that each got.

#1629 Add support for loading wpCli without running blueprint steps
  README.md
  packages/docs/site/docs/09-blueprints-api/03-data-format.md
  packages/php-wasm/web-service-worker/tsconfig.lib.json
  packages/playground/blueprints/public/blueprint-schema-validator.js
  packages/playground/blueprints/public/blueprint-schema.json
  packages/playground/blueprints/src/lib/blueprint.ts
  packages/playground/blueprints/src/lib/compile.spec.ts
  packages/playground/blueprints/src/lib/compile.ts
  packages/playground/blueprints/src/lib/steps/wp-cli.ts
  packages/playground/client/src/index.ts
  packages/playground/website/src/lib/resolve-blueprint.ts
Labels: [Package][@wp-playground] Blueprints, [Feature] Boot Flow

#1660 Suppress unavoidable Deprecated notices - Networking
  packages/playground/wordpress/src/index.ts
Labels: [Type] Bug, [Type] Enhancement, [Package][@wp-playground] WordPress

#1666 Website UI: Explain the Logs modal
  packages/playground/website/src/components/log-modal/index.tsx
  packages/playground/website/src/components/log-modal/style.module.css
Labels: [Type] Enhancement, [Type] UI / UX / User Experience, [Aspect] Website, [Package][@wp-playground] Website

#1671 Docs: Redirect from /docs to https://wordpress.github.io/wordpress-playground
  packages/playground/website-deployment/custom-redirects-lib.php
Labels: [Type] Documentation, [Type] Enhancement

#1613 Add max-len rule
  .eslintrc.json
  package-lock.json
  package.json
  packages/php-wasm/cli/src/main.ts
  packages/php-wasm/fs-journal/src/lib/fs-journal.ts
  packages/php-wasm/logger/src/lib/collectors/collect-service-worker-metrics.ts
  packages/php-wasm/logger/src/lib/collectors/collect-window-errors.ts
  packages/php-wasm/logger/src/lib/logger.ts
  packages/php-wasm/node/src/lib/networking/outbound-ws-to-tcp-proxy.ts
  packages/php-wasm/progress/src/lib/progress-tracker.ts
  packages/php-wasm/universal/src/lib/emscripten-types.ts
  packages/php-wasm/universal/src/lib/load-php-runtime.ts
  packages/php-wasm/universal/src/lib/php-process-manager.ts
  packages/php-wasm/universal/src/lib/php-request-handler.ts
  packages/php-wasm/universal/src/lib/php.ts
  packages/php-wasm/util/src/lib/paths.ts
  packages/php-wasm/util/src/lib/split-shell-command.ts
  packages/php-wasm/web-service-worker/src/initialize-service-worker.ts
  packages/php-wasm/web/src/lib/api.ts
  packages/php-wasm/web/src/lib/register-service-worker.ts
  packages/php-wasm/web/src/lib/setup-post-message-relay.ts
  packages/php-wasm/web/vite.config.ts
  packages/playground/blueprints/src/lib/blueprint.ts
  packages/playground/blueprints/src/lib/compile.ts
  packages/playground/blueprints/src/lib/resources.ts
  packages/playground/blueprints/src/lib/steps/activate-plugin.ts
  packages/playground/blueprints/src/lib/steps/import-theme-starter-content.spec.ts
  packages/playground/blueprints/src/lib/steps/install-asset.ts
  packages/playground/blueprints/src/lib/steps/request.ts
  packages/playground/blueprints/src/lib/steps/reset-data.ts
  packages/playground/blueprints/src/lib/steps/run-php-with-options.ts
  packages/playground/blueprints/src/lib/steps/run-php.ts
  packages/playground/blueprints/src/lib/steps/set-site-language.ts
  packages/playground/blueprints/src/lib/steps/wp-cli.ts
  packages/playground/blueprints/src/lib/steps/zip-wp-content.ts
  packages/playground/blueprints/src/lib/utils/flatten-directory.ts
  packages/playground/cli/src/cli.ts
  packages/playground/cli/src/download.ts
  packages/playground/client/src/index.ts
  packages/playground/client/vite.config.ts
  packages/playground/remote/service-worker.ts
  packages/playground/remote/src/lib/boot-playground-remote.ts
  packages/playground/remote/src/lib/offline-mode-cache.ts
  packages/playground/remote/src/lib/worker-thread.ts
  packages/playground/remote/vite.config.ts
  packages/playground/storage/src/lib/github.ts
  packages/playground/website/cypress/e2e/query-api.cy.ts
  packages/playground/website/cypress/e2e/website-ui.cy.ts
  packages/playground/website/demos/terminal-component.tsx
  packages/playground/website/src/components/error-report-modal/index.tsx
  packages/playground/website/src/components/mount-markdown-directory-modal/index.tsx
  packages/playground/website/src/components/playground-configuration-group/index.tsx
  packages/playground/website/src/lib/make-blueprint.tsx
  packages/playground/website/src/main.tsx
  packages/playground/website/vite.config.ts
  packages/playground/wordpress-builds/src/sqlite-database-integration/get-sqlite-database-plugin-details.ts
  packages/playground/wordpress-builds/vite.config.ts
  packages/playground/wordpress/src/index.ts
  packages/playground/wordpress/vite.config.ts
Labels: [Priority] Low, [Type] Developer Experience, [Focus] Developer Tools

#1648 Offline mode e2e tests
  package-lock.json
  package.json
  packages/playground/remote/src/lib/offline-mode-cache.ts
  packages/playground/website/README.md
  packages/playground/website/cypress/e2e/offline.cy.ts
  packages/playground/website/project.json
Labels: [Aspect] Networking, Tests

#1661 Add site manager view and sidebar
  CHANGELOG.md
  packages/docs/site/docs/17-changelog.md
  packages/playground/website/public/site-manager-background.svg
  packages/playground/website/src/components/browser-chrome/index.tsx
  packages/playground/website/src/components/browser-chrome/style.module.css
  packages/playground/website/src/components/error-report-modal/index.tsx
  packages/playground/website/src/components/open-site-manager-button/index.tsx
  packages/playground/website/src/components/open-site-manager-button/style.module.css
  packages/playground/website/src/components/playground-viewport/index.tsx
  packages/playground/website/src/components/site-manager/icons.tsx
  packages/playground/website/src/components/site-manager/index.tsx
  packages/playground/website/src/components/site-manager/site-manager-sidebar/index.tsx
  packages/playground/website/src/components/site-manager/site-manager-sidebar/style.module.css
  packages/playground/website/src/components/site-manager/style.module.css
  packages/playground/website/src/components/site-view/site-view.tsx
  packages/playground/website/src/components/site-view/style.module.css
  packages/playground/website/src/lib/use-boot-playground.ts
  packages/playground/website/src/main.tsx
  packages/playground/website/src/style.module.css
Labels: [Aspect] Website, [Package][@wp-playground] Storage

#1676 Fix site manager button styles
  packages/playground/website/src/components/open-site-manager-button/index.tsx
  packages/playground/website/src/components/open-site-manager-button/style.module.css
Labels: [Type] Bug, [Aspect] Website

#1680 Add sites from the site manager
  packages/playground/website/src/components/site-manager/add-site-button/index.tsx
  packages/playground/website/src/components/site-manager/add-site-button/style.module.css
  packages/playground/website/src/components/site-manager/site-manager-sidebar/index.tsx
  packages/playground/website/src/components/site-manager/style.module.css
  packages/playground/website/src/lib/use-boot-playground.ts
Labels: [Aspect] Website, [Package][@wp-playground] Storage

#1681 Website: Add nice redirects for the new docs site
  packages/playground/website-deployment/custom-redirects-lib.php
Labels: [Type] Enhancement, [Aspect] Website

#1685 Avoid Blueprint schema formatting changes by build
  packages/playground/blueprints/bin/generate-schema.js
Labels: [Type] Bug, [Type] Developer Experience

#1691 Avoid GH board automation permissions error
  packages/meta/bin/project_board_automation.php
Labels: [Type] Bug, [Type] Repo / Project Management

#1669 A boot() method to explicitly initialize the PHP worker
  CHANGELOG.md
  packages/docs/site/docs/main/changelog.md
  packages/php-wasm/web/src/lib/directory-handle-mount.ts
  packages/php-wasm/web/src/lib/index.ts
  packages/php-wasm/web/src/lib/register-service-worker.ts
  packages/php-wasm/web/src/lib/worker-thread/spawn-php-worker-thread.ts
  packages/playground/client/src/index.ts
  packages/playground/remote/src/lib/boot-playground-remote.ts
  packages/playground/remote/src/lib/index.ts
  packages/playground/remote/src/lib/opfs/bind-opfs.ts
  packages/playground/remote/src/lib/opfs/types.ts
  packages/playground/remote/src/lib/playground-client.ts
  packages/playground/remote/src/lib/worker-thread.ts
  packages/playground/remote/src/lib/worker-utils.ts
  packages/playground/storage/src/index.ts
  packages/playground/storage/src/lib/browser-fs.ts
  packages/playground/storage/tsconfig.lib.json
  packages/playground/website/cypress/e2e/query-api.cy.ts
  packages/playground/website/cypress/e2e/website-ui.cy.ts
  packages/playground/website/src/components/mount-markdown-directory-modal/index.tsx
  packages/playground/website/src/components/playground-configuration-group/index.tsx
  packages/playground/website/src/components/playground-configuration-group/reload-with-new-configuration.ts
  packages/playground/website/src/components/playground-configuration-group/start-over-button.tsx
  packages/playground/website/src/components/playground-configuration-group/sync-local-files-button.tsx
  packages/playground/website/src/components/site-manager/add-site-button/index.tsx
  packages/playground/website/src/components/site-manager/site-manager-sidebar/style.module.css
  packages/playground/website/src/components/site-view/site-view.tsx
  packages/playground/website/src/components/toolbar-buttons/reset-site.tsx
  packages/playground/website/src/github/github-oauth-guard/index.tsx
  packages/playground/website/src/lib/markdown-directory-handle.ts
  packages/playground/website/src/lib/redux-store.ts
  packages/playground/website/src/lib/use-boot-playground.ts
  packages/playground/website/src/main.tsx
  packages/playground/wordpress-builds/src/index.ts
  packages/playground/wordpress-builds/src/sqlite-database-integration/get-sqlite-database-plugin-details.ts
  packages/playground/wordpress/src/boot.ts
  packages/playground/wordpress/src/test/version-detect.spec.ts
Labels: [Type] Enhancement, [Feature] Boot Flow

#1692 Refresh sqlite-database-integration from develop branch
  packages/playground/wordpress-builds/build/refresh-sqlite-integration-plugin.js
Labels: [Type] Bug, [Type] Repo / Project Management

#1690 Docs: Fix links to proper pages
  packages/docs/site/docs/developers/06-apis/01-index.md
  packages/docs/site/docs/main/intro.md
Labels: [Type] Documentation, [Type] Developer Documentation

#1695 Fix sqlite-database-integration rename fatal
  packages/playground/wordpress/src/index.ts
Labels: [Type] Bug, [Feature] Boot Flow

#1693 Fix builder redirect
  packages/playground/website-deployment/custom-redirects-lib.php
  packages/playground/website/builder/index.php
Labels: [Type] Bug, [Package][@wp-playground] Website

#1698 Make the site switcher work again
  packages/playground/website/src/components/playground-configuration-group/index.tsx
  packages/playground/website/src/components/site-manager/index.tsx
  packages/playground/website/src/components/site-manager/site-manager-sidebar/index.tsx
  packages/playground/website/src/lib/redux-store.ts
  packages/playground/website/src/lib/use-boot-playground.ts
Labels: [Type] Bug, [Package][@wp-playground] Website

#1679 WebApp Redesign: Interact with sites list via redux
  packages/playground/website/public/wordpress.html
  packages/playground/website/src/components/site-manager/add-site-button/index.tsx
  packages/playground/website/src/components/site-manager/site-manager-sidebar/index.tsx
  packages/playground/website/src/lib/redux-store.ts
  packages/playground/website/src/lib/site-storage-metadata-worker.ts
  packages/playground/website/src/lib/site-storage.ts
  packages/playground/wordpress-builds/src/sqlite-database-integration/get-sqlite-database-plugin-details.ts
  packages/playground/wordpress/src/index.ts
Labels: [Type] Enhancement, [Package][@wp-playground] Website

#1700 Remove Playground branding from site list
  packages/playground/website/src/components/site-manager/site-manager-sidebar/index.tsx
  packages/playground/website/src/components/site-manager/style.module.css
Labels: [Type] Bug, [Aspect] Branding

#1696 Website deployment: Fix builder redirect
  packages/playground/website-deployment/README.md
  packages/playground/website-deployment/apply-update.sh
  packages/playground/website-deployment/custom-redirects-lib.php
  packages/playground/website/vite.config.ts
Labels: [Type] Bug, [Aspect] Website, [Package][@wp-playground] Website

#1711 @php-wasm/util: Publish TypeScript types
  packages/php-wasm/util/vite.config.ts
Labels: [Type] Bug, [Type] Repo / Project Management, [Package][@php-wasm] Util

#1713 @php-wasm/node: Publish index.d.ts
  packages/php-wasm/node/project.json
Labels: [Type] Bug, [Package][@php-wasm] Node

#1705 Allow specifying a WordPres/WordPress branch and pulling from GitHub.
  packages/playground/website/public/plugin-proxy.php
  packages/playground/wordpress/src/index.ts
Labels: [Type] Enhancement

#1714 Fix: Exit http server on php exit
  packages/php-wasm/node/src/lib/networking/with-networking.ts
  packages/php-wasm/node/src/test/php-networking.spec.ts
  packages/php-wasm/universal/src/lib/index.ts
  packages/php-wasm/universal/src/lib/load-php-runtime.ts
Labels: [Type] Bug, [Package][@php-wasm] Node
