Repository WordPress/wordpress-playground, pull requests merged in 2024-07, with the labels that each got.

#1559 Meta: GitHub-sourced Mindmap
  package.json
  packages/meta/src/mindmap/v1/fetch-mindmap-data.js
  packages/meta/src/mindmap/v1/index.html
  packages/meta/src/mindmap/v1/script.js
  packages/meta/src/mindmap/v1/style.css
  packages/meta/src/mindmap/v2/fetch-mindmap-data.js
  packages/meta/src/mindmap/v2/index.html
  packages/meta/src/project_board_automation/GitHubApi.php
Labels: [Type] Enhancement, [Type] Repo / Project Management

#1551 Add GitHub development instructions
  packages/playground/website/README.md
Labels: [Type] Documentation, [Type] Developer Experience

#1569 Importing regression fix – support old exported Playground ZIPs
  packages/playground/blueprints/src/lib/utils/wp-content-files-excluded-from-exports.ts
Labels: [Type] Bug, [Package][@wp-playground] Blueprints, [Feature] Import Export

#1510 Update the Blueprint data format doc
  packages/docs/site/docs/09-blueprints-api/03-data-format.md
Labels: [Type] Documentation

#1581 Use NPM for publishing packages instead of Lerna
  .github/workflows/publish-npm-packages.yml
  package.json
  packages/docs/site/docs/11-architecture/01-index.md
  packages/meta/bin/publish-packages.sh
  packages/playground/website/package.json
Labels: [Type] Enhancement, [Type] Repo / Project Management

#1582 Revert "Use NPM for publishing packages instead of Lerna "
  .github/workflows/publish-npm-packages.yml
  package.json
  packages/docs/site/docs/11-architecture/01-index.md
  packages/meta/bin/publish-packages.sh
  packages/playground/website/package.json
Labels: [Type] Enhancement, [Type] Repo / Project Management

#1542 Autopublish npm packages every week
  .github/workflows/publish-npm-packages.yml
Labels: [Type] Project

#1584 Build: Treat all dependencies of php-wasm/node as external
  package-lock.json
  package.json
  packages/php-wasm/node/esbuild.js
  packages/php-wasm/node/project.json
Labels: [Type] Bug, [Type] Repo / Project Management, [Package][@php-wasm] Node

#1585 php-wasm/node: Ship as ESM and CJS
  packages/php-wasm/node/build.js
  packages/php-wasm/node/esbuild.js
  packages/php-wasm/node/package.json
  packages/php-wasm/node/project.json
Labels: [Type] Bug, [Priority] High, [Package][@php-wasm] Node

#1588 Remove Puzzle app from the Playground website
  packages/playground/website-deployment/custom-redirects-lib.php
  packages/playground/website/vite.config.ts
Labels: [Type] Marketing

#1586 Vite build: Mark all imported modules as external to avoid bundling them with released packages.
  packages/php-wasm/fs-journal/vite.config.ts
  packages/php-wasm/logger/vite.config.ts
  packages/php-wasm/node-polyfills/vite.config.ts
  packages/php-wasm/node/vite.config.ts
  packages/php-wasm/progress/vite.config.ts
  packages/php-wasm/scopes/vite.config.ts
  packages/php-wasm/stream-compression/vite.config.ts
  packages/php-wasm/universal/vite.config.ts
  packages/php-wasm/util/vite.config.ts
  packages/php-wasm/web/vite.config.ts
  packages/playground/blueprints/public/blueprint-schema.json
  packages/playground/blueprints/vite.config.ts
  packages/playground/storage/vite.config.ts
  packages/playground/sync/vite.config.ts
  packages/playground/wordpress-builds/vite.config.ts
  packages/playground/wordpress/package.json
  packages/playground/wordpress/vite.config.ts
  packages/vite-extensions/vite-external-modules.ts
Labels: [Type] Bug, [Type] Repo / Project Management

#1589 Build: Use regular expressions to mark packages as external
  packages/vite-extensions/vite-external-modules.ts
Labels: [Type] Bug, [Type] Repo / Project Management

#1590 Build: Source external deps from package.json
  packages/php-wasm/fs-journal/package.json
  packages/php-wasm/fs-journal/project.json
  packages/php-wasm/logger/project.json
  packages/php-wasm/node-polyfills/package.json
  packages/php-wasm/node-polyfills/project.json
  packages/php-wasm/stream-compression/package.json
  packages/php-wasm/stream-compression/project.json
  packages/php-wasm/universal/package.json
  packages/php-wasm/universal/project.json
  packages/php-wasm/util/package.json
  packages/php-wasm/util/project.json
  packages/playground/common/project.json
  packages/playground/storage/package.json
  packages/playground/storage/project.json
  packages/playground/wordpress-builds/package.json
  packages/playground/wordpress-builds/project.json
  packages/playground/wordpress/package.json
  packages/playground/wordpress/project.json
  packages/vite-extensions/vite-external-modules.ts
Labels: [Type] Bug, [Type] Repo / Project Management

#1591 Build: Polyfill __dirname in php-wam/node ESM via banner option
  packages/php-wasm/node/build.js
Labels: [Type] Bug, [Type] Repo / Project Management

#1592 Remove the unused isSupportedWordPressVersion export
  packages/playground/wordpress/src/index.ts
  packages/playground/wordpress/src/version-detect.ts
Labels: [Type] Enhancement, [Package][@wp-playground] WordPress

#1574 Set web worker startup options with messages instead of query strings
  packages/php-wasm/web/src/lib/worker-thread/spawn-php-worker-thread.ts
  packages/playground/remote/src/lib/worker-utils.ts
Labels: [Type] Enhancement, Breaking change, [Package][@wp-playground] Remote

#1556 Add Blueprint 101 to Documentation
  packages/docs/site/docs/09-blueprints-api/blueprint-101/01-what-are-blueprints-what-you-can-do-with-them.md
  packages/docs/site/docs/09-blueprints-api/blueprint-101/02-how-to-load-run-blueprints.md
  packages/docs/site/docs/09-blueprints-api/blueprint-101/03-build-your-first-blueprint.md
  packages/docs/site/docs/09-blueprints-api/blueprint-101/04-troubleshoot-debug-blueprints.md
  packages/docs/site/docs/09-blueprints-api/blueprint-101/assets/installed-adventurer-theme.png
  packages/docs/site/docs/09-blueprints-api/blueprint-101/assets/installed-custom-plugin.png
  packages/docs/site/docs/09-blueprints-api/blueprint-101/assets/schema-autocompletion.png
  packages/docs/site/docs/09-blueprints-api/blueprint-101/index.md
Labels: [Type] Documentation

#1594 Blueprints: Mark shorthand properties as stable, not deprecated
  packages/playground/blueprints/public/blueprint-schema.json
  packages/playground/blueprints/src/lib/blueprint.ts
Labels: [Type] Enhancement, [Package][@wp-playground] Blueprints

#1538 Blueprints: Add setSiteLanguage step to change the language
  packages/docs/site/docs/08-query-api/01-index.md
  packages/docs/site/docs/09-blueprints-api/03-data-format.md
  packages/playground/blueprints/public/blueprint-schema.json
  packages/playground/blueprints/src/lib/steps/handlers.ts
  packages/playground/blueprints/src/lib/steps/index.ts
  packages/playground/blueprints/src/lib/steps/set-site-language.ts
  packages/playground/website/README.md
  packages/playground/website/src/lib/make-blueprint.tsx
  packages/playground/website/src/lib/resolve-blueprint.ts
Labels: [Type] Enhancement, [Package][@wp-playground] Blueprints, [Aspect] WordPress

#1546 PHP CORS Proxy
  packages/playground/php-cors-proxy/README.md
  packages/playground/php-cors-proxy/dev.sh
  packages/playground/php-cors-proxy/package.json
  packages/playground/php-cors-proxy/phpunit.xml
  packages/playground/php-cors-proxy/project.json
  packages/playground/php-cors-proxy/proxy-functions.php
  packages/playground/php-cors-proxy/proxy.php
  packages/playground/php-cors-proxy/test-watch.sh
  packages/playground/php-cors-proxy/test.sh
  packages/playground/php-cors-proxy/tests/ProxyFunctionsTests.php
  packages/playground/php-cors-proxy/tests/bootstrap.php
Labels: [Type] Enhancement, [Aspect] Website

#1573 Generate a list of assets to cache for offline support
  packages/playground/website/vite.config.ts
  packages/vite-extensions/vite-list-assets-required-for-offline-mode.ts
Labels: [Type] Enhancement, [Aspect] Website, [Package][@wp-playground] Website

#1606 Register service worker before spawning the worker thread
  packages/php-wasm/web/src/lib/index.ts
  packages/php-wasm/web/src/lib/register-service-worker.ts
  packages/php-wasm/web/src/lib/worker-thread/spawn-php-worker-thread.ts
  packages/playground/remote/src/lib/boot-playground-remote.ts
  packages/playground/remote/src/lib/worker-thread.ts
  packages/playground/remote/src/lib/worker-utils.ts
Labels: [Type] Enhancement, [Feature] Boot Flow

#1607 Disable website features that don't work while offline
  packages/playground/website/src/components/offline-notice/index.tsx
  packages/playground/website/src/components/offline-notice/style.module.css
  packages/playground/website/src/components/playground-configuration-group/form.tsx
  packages/playground/website/src/components/toolbar-buttons/github-export-menu-item.tsx
  packages/playground/website/src/components/toolbar-buttons/github-import-menu-item.tsx
  packages/playground/website/src/components/toolbar-buttons/report-error.tsx
  packages/playground/website/src/lib/redux-store.ts
  packages/playground/website/src/main.tsx
Labels: [Aspect] Website, [Package][@wp-playground] Website

#1614 Fix recursive calls to backfillStaticFilesRemovedFromMinifiedBuild
  packages/playground/remote/src/lib/boot-playground-remote.ts
Labels: [Type] Bug, [Feature] Boot Flow

#1593 Build: Ship the default TypeScript .d.ts declaration files, not rollups
  packages/php-wasm/fs-journal/project.json
  packages/php-wasm/node/project.json
  packages/php-wasm/stream-compression/project.json
  packages/php-wasm/universal/project.json
  packages/php-wasm/util/project.json
  packages/php-wasm/web/project.json
  packages/playground/blueprints/bin/generate-schema.js
  packages/playground/blueprints/project.json
  packages/playground/common/project.json
  packages/playground/storage/project.json
  packages/playground/wordpress-builds/project.json
  packages/playground/wordpress/project.json
Labels: [Type] Bug, [Type] Repo / Project Management

#1620 Fix joinPaths root edge case
  packages/php-wasm/util/src/lib/paths.spec.ts
  packages/php-wasm/util/src/lib/paths.ts
Labels: [Type] Bug, [Package][@php-wasm] Util

#1615 Fix manifest.json URLs
  packages/playground/website/manifest.json
  packages/playground/website/manifest.production.json
  packages/playground/website/project.json
  packages/playground/website/vite.config.ts
  packages/vite-extensions/vite-manifest.ts
Labels: [Aspect] Browser, [Aspect] Website, [Package][@wp-playground] Website

#1626 Disable PHP 7.0 and 7.1 version switcher E2E tests
  packages/playground/website/cypress/e2e/website-ui.cy.ts
Labels: Tests

#1633 Remove old, unused website deployment workflow
  .github/workflows/deploy-website.yml
Labels: [Aspect] Website

#1539 Route requests more like a normal web server
  packages/php-wasm/node/src/test/php-request-handler.spec.ts
  packages/php-wasm/node/src/test/php.spec.ts
  packages/php-wasm/universal/src/lib/fs-helpers.ts
  packages/php-wasm/universal/src/lib/index.ts
  packages/php-wasm/universal/src/lib/php-request-handler.ts
  packages/php-wasm/universal/src/lib/php-worker.ts
  packages/php-wasm/universal/src/lib/php.ts
  packages/php-wasm/web-service-worker/src/initialize-service-worker.ts
  packages/playground/blueprints/src/lib/steps/login.spec.ts
  packages/playground/remote/service-worker.ts
  packages/playground/remote/src/lib/worker-thread.ts
  packages/playground/website/cypress/e2e/remote-assets.cy.ts
  packages/playground/wordpress/src/boot.ts
  packages/playground/wordpress/src/index.ts
  packages/playground/wordpress/src/test/version-detect.spec.ts
Labels: [Type] Bug, [Type] Enhancement, [Package][@php-wasm] Web, [Package][@php-wasm] Universal

#1637 Stop publishing @wp-playground/wordpress-builds package
  packages/playground/wordpress-builds/package.json
Labels: [Type] Bug, [Package][@wp-playground] CLI, [Package][@wp-playground] WordPress Builds

#1639 Make sure NPM packages declare dependencies
  packages/playground/blueprints/project.json
  packages/playground/client/project.json
Labels: [Type] Bug, [Type] Developer Experience, [Focus] Developer Tools

#1640 Add missing blueprints library dep
  package.json
Labels: [Type] Bug, [Type] Developer Experience, [Package][@wp-playground] Blueprints

#1628 Rotate PHP runtime after runtime crash
  packages/php-wasm/node/src/test/rotate-php-runtime.spec.ts
  packages/php-wasm/universal/src/lib/rotate-php-runtime.ts
Labels: [Type] Enhancement, [Package][@php-wasm] Universal

#1643 Support offline mode after the first Playground page load
  packages/playground/blueprints/public/blueprint-schema.json
  packages/playground/client/vite.config.ts
  packages/playground/remote/service-worker.ts
  packages/playground/remote/src/lib/boot-playground-remote.ts
  packages/playground/remote/src/lib/offline-mode-cache.ts
  packages/playground/remote/src/lib/playground-client.ts
  packages/playground/remote/src/lib/worker-thread.ts
Labels: [Type] Enhancement, [Aspect] Offline Mode

#1535 Cache Playground assets to enable offline support
  README.md
  packages/php-wasm/web-service-worker/src/initialize-service-worker.ts
  packages/php-wasm/web-service-worker/tsconfig.lib.json
  packages/php-wasm/web/src/lib/register-service-worker.ts
  packages/playground/client/vite.config.ts
  packages/playground/remote/service-worker.ts
  packages/playground/remote/src/lib/boot-playground-remote.ts
  packages/playground/remote/src/lib/offline-mode-cache.ts
  packages/playground/remote/src/lib/playground-client.ts
  packages/playground/remote/src/lib/worker-thread.ts
  packages/vite-extensions/vite-list-assets-required-for-offline-mode.ts
Labels: [Type] Enhancement, [Aspect] Networking, [Aspect] Service Worker, [Aspect] Website

#1646 Throw error when PHP run() receives no code to run
  packages/php-wasm/node/src/test/php.spec.ts
  packages/php-wasm/universal/src/lib/php.ts
Labels: [Type] Bug, [Type] Developer Experience, [Package][@php-wasm] Universal

#1649 Precompile Ajv Blueprint validator to avoid CSP issues
  packages/playground/blueprints/.eslintrc.json
  packages/playground/blueprints/bin/generate-schema.js
  packages/playground/blueprints/public/blueprint-schema-validator.d.ts
  packages/playground/blueprints/public/blueprint-schema-validator.js
  packages/playground/blueprints/public/schema-readme.md
  packages/playground/blueprints/src/lib/compile.ts
Labels: [Type] Bug, [Aspect] Browser, [Package][@wp-playground] Blueprints

#1657 Reinstantiate Changelog generation in GitHub CI
  .github/workflows/update-changelog.yml
  CHANGELOG.md
Labels: [Type] Bug, [Type] Repo / Project Management

#1658 Blueprints: Add resetData step to documentation.
  packages/playground/blueprints/src/lib/steps/reset-data.ts
Labels: [Type] Documentation, [Type] Enhancement
