Repository WordPress/wordpress-playground, pull requests merged in 2024-12, with the labels that each got.

#2027 Blueprints: Resolve the latest WordPress version from the API instead of assuming it's the same as the last minified build
  .github/workflows/ci.yml
  packages/playground/blueprints/src/lib/steps/set-site-language.spec.ts
  packages/playground/blueprints/src/lib/steps/set-site-language.ts
  packages/playground/blueprints/tsconfig.spec.json
  packages/playground/cli/src/cli.ts
  packages/playground/cli/src/download.ts
  packages/playground/common/src/create-memoized-fetch.ts
  packages/playground/common/src/index.ts
  packages/playground/common/src/test/create-memoized-fetch.spec.ts
  packages/playground/remote/src/lib/worker-thread.ts
  packages/playground/remote/tsconfig.lib.json
  packages/playground/remote/tsconfig.spec.json
  packages/playground/website/playwright/e2e/blueprints.spec.ts
  packages/playground/wordpress/src/index.ts
Labels: [Type] Bug, [Package][@wp-playground] Blueprints

#2041 Add zaerl to GitHub workflows actors
  .github/workflows/build-website.yml
  .github/workflows/publish-npm-packages.yml
  .github/workflows/refresh-sqlite-integration.yml
  .github/workflows/refresh-wordpress-major-and-beta.yml
  .github/workflows/refresh-wordpress-nightly.yml
  .github/workflows/update-changelog.yml
Labels: [Feature] GitHub integration

#2022 Add deploy workflow for standalone CORS proxy
  .github/workflows/deploy-cors-proxy.yml
  packages/playground/php-cors-proxy-deployment/apply-update.sh
  packages/playground/php-cors-proxy-deployment/cors-proxy-config.php
  packages/playground/php-cors-proxy-deployment/cors-proxy-rate-limiting-table.sql
Labels: [Package][@wp-playground] CORS Proxy

#2049 Fix CORS proxy deploy workflow
  .github/workflows/deploy-cors-proxy.yml
  packages/playground/php-cors-proxy-deployment/apply-update.sh
Labels: [Type] Bug, [Aspect] Website, [Package][@wp-playground] CORS Proxy

#2044 [Website] Remove duplicate "Saved Playgrounds" label
  packages/playground/website/playwright/e2e/website-ui.spec.ts
  packages/playground/website/src/components/site-manager/sidebar/index.tsx
Labels: [Type] Bug, [Aspect] Website, [Package][@wp-playground] Website

#2023 Restore CORS support to CORS proxy
  packages/playground/php-cors-proxy/cors-proxy-functions.php
  packages/playground/php-cors-proxy/cors-proxy.php
Labels: [Package][@wp-playground] CORS Proxy

#2060 [Networking] Decrypt TLS 1.2 alert messages
  packages/php-wasm/web/src/lib/tls/1_2/connection.ts
Labels: [Type] Bug, [Aspect] Networking

#2059 Support users choosing how to handle URLs for sites that do not exist
  packages/docs/site/docs/developers/06-apis/query-api/01-index.md
  packages/playground/website/src/components/ensure-playground-site/ensure-playground-site-is-selected.tsx
  packages/playground/website/src/components/layout/index.tsx
  packages/playground/website/src/components/missing-site-modal/index.tsx
  packages/playground/website/src/components/site-manager/site-persist-button/index.tsx
  packages/playground/website/src/lib/state/redux/persist-temporary-site.ts
  packages/playground/website/src/lib/state/redux/slice-sites.ts
Labels: [Type] Enhancement

#2062 [Data Liberation] Sync WP_HTML API with WordPress 6.7.1 (and add a new test)
  packages/playground/data-liberation/src/wordpress-core-html-api/class-wp-html-decoder.php
  packages/playground/data-liberation/src/wordpress-core-html-api/class-wp-html-processor.php
  packages/playground/data-liberation/tests/WPBlockMarkupUrlProcessorTests.php
Labels: [Aspect] Data Liberation

#2063 Shorten and simplify path to CORS proxy
  packages/playground/php-cors-proxy-deployment/__wp__/index.php
  packages/playground/php-cors-proxy-deployment/apply-update.sh
  packages/playground/php-cors-proxy/cors-proxy-functions.php
  packages/playground/php-cors-proxy/cors-proxy.php
  packages/playground/php-cors-proxy/tests/ProxyFunctionsTests.php
Labels: [Type] Enhancement, [Package][@wp-playground] CORS Proxy

#2071 Temporary: Skip more CI-only deployment test failures
  packages/playground/website/playwright/e2e/deployment.spec.ts
Labels: [Type] Bug, Tests

#2072 [Website] Bugfix: Delist data-liberation-core.phar from the preloaded offline mode assets
  packages/vite-extensions/vite-list-assets-required-for-offline-mode.ts
Labels: [Type] Bug, [Aspect] Website, [Aspect] Offline Mode

#2073 [Meta] Remove GitHub Board Automation workflow
  .github/workflows/github-board-automation.yml
  packages/meta/bin/project_board_automation.php
  packages/meta/src/project_board_automation/GitHubApi.php
  packages/meta/src/project_board_automation/PlaygroundAutomationLogic.php
  packages/meta/src/project_board_automation/bootstrap.php
  packages/meta/src/project_board_automation/github_ids.php
  packages/meta/src/project_board_automation/reindex_github_ids.php
Labels: [Type] Enhancement, [Type] Repo / Project Management

#2007 Add "headers requiring opt-in" for pass-through
  packages/playground/php-cors-proxy/README.md
  packages/playground/php-cors-proxy/cors-proxy-functions.php
  packages/playground/php-cors-proxy/cors-proxy.php
  packages/playground/php-cors-proxy/tests/ProxyFunctionsTests.php
Labels: [Type] Enhancement, [Package][@wp-playground] CORS Proxy

#2074 [Webiste] Switch the CORS Proxy URL to wordpress-playground-cors-proxy.net
  packages/playground/website/vite.config.ts
Labels: [Aspect] Networking, [Package][@wp-playground] Website, [Package][@wp-playground] CORS Proxy

#2076 [Website] Enable CORS proxy for all fetches
  packages/php-wasm/web/src/lib/fetch-with-cors-proxy.ts
  packages/php-wasm/web/src/lib/index.ts
  packages/php-wasm/web/src/lib/tcp-over-fetch-websocket.ts
  packages/playground/blueprints/src/lib/resources.ts
  packages/playground/remote/src/lib/boot-playground-remote.ts
  packages/playground/remote/src/lib/setup-fetch-network-transport.ts
Labels: [Type] Enhancement, [Package][@wp-playground] CORS Proxy

#2077 [Cors Proxy] Support Transfer-Encoding: Chunked
  packages/playground/php-cors-proxy/cors-proxy.php
Labels: [Type] Enhancement, [Package][@wp-playground] CORS Proxy

#2081 Remove old PR preview HTML files and add redirects to new preview modals
  packages/playground/website-deployment/custom-redirects-lib.php
  packages/playground/website/demos/index.html
  packages/playground/website/public/gutenberg.css
  packages/playground/website/public/gutenberg.html
  packages/playground/website/public/previewer.css
  packages/playground/website/public/wordpress.html
  packages/playground/website/src/components/site-manager/sidebar/index.tsx
Labels: [Aspect] Website, [Package][@wp-playground] Website

#2089 Use transparent CORS proxy in Blueprint Builder
  packages/playground/website/builder/builder.html
  packages/playground/website/builder/builder.ts
  packages/playground/website/tsconfig.app.json
Labels: [Type] Bug, [Feature] Blueprints Builder

#2048 Add ESLint rule to avoid unintentional dependency on @wp-playgrounds/wordpress-builds
  .eslintrc.json
  package-lock.json
  package.json
  packages/meta/src/eslint-plugin-playground-dev/avoid-wordpress-builds-dependency.js
  packages/meta/src/eslint-plugin-playground-dev/index.js
  packages/meta/src/eslint-plugin-playground-dev/package.json
  packages/playground/remote/.eslintrc.json
Labels: [Type] Developer Experience

#2093 [Data Liberation] Move Markdown importer to a separate package
  packages/playground/data-liberation-markdown/src/WP_Markdown_Importer.php
  packages/playground/data-liberation-markdown/src/WP_Markdown_To_Blocks.php
  packages/playground/data-liberation-markdown/src/bootstrap.php
  packages/playground/data-liberation/bootstrap.php
  packages/playground/data-liberation/src/markdown-api/WP_Markdown_Directory_Tree_Reader.php
  packages/playground/data-liberation/src/markdown-api/WP_Markdown_HTML_Processor.php
Labels: [Type] Enhancement, [Aspect] Data Liberation

#2079 [Blueprints] Prevent WSOD when autologin is enabled and a plugin logs a notice
  packages/playground/website/playwright/e2e/blueprints.spec.ts
  packages/playground/wordpress/src/index.ts
Labels: [Type] Bug, [Package][@wp-playground] Blueprints

#2102 Add small comment about lazy init of WXR reader
  packages/playground/data-liberation/src/wxr/WP_WXR_Reader.php
Labels: [Aspect] Data Liberation
