Repository WordPress/wordpress-playground, pull requests merged in 2025-01, with the labels that each got.

#2065 Avoid login issue in deployment E2E tests
  packages/playground/website/playwright/e2e/deployment.spec.ts
  packages/playground/website/playwright/e2e/deployment.spec.ts-snapshots/website-old-chromium-linux.png
  packages/playground/website/playwright/e2e/deployment.spec.ts-snapshots/website-old-firefox-linux.png
  packages/playground/website/playwright/e2e/deployment.spec.ts-snapshots/website-old-webkit-linux.png
Labels: [Type] Bug, [Package][@wp-playground] Website

#2097 [Data Liberation] Add EPub to Blocks converter
  packages/playground/data-liberation/bootstrap.php
  packages/playground/data-liberation/src/block-markup/WP_HTML_To_Blocks.php
  packages/playground/data-liberation/src/entity-readers/WP_EPub_Entity_Reader.php
  packages/playground/data-liberation/src/entity-readers/WP_HTML_Entity_Reader.php
  packages/playground/data-liberation/src/xml-api/WP_XML_Processor.php
  packages/playground/data-liberation/tests/WPEPubEntityReaderTests.php
  packages/playground/data-liberation/tests/WPHTMLEntityReaderTests.php
  packages/playground/data-liberation/tests/WPHTMLToBlocksTests.php
  packages/playground/data-liberation/tests/WPXMLProcessorTests.php
  packages/playground/data-liberation/tests/fixtures/epub-entity-reader/childrens-literature.epub
  packages/playground/data-liberation/tests/fixtures/html-to-blocks/excerpt.output.html
Labels: [Type] Enhancement, [Aspect] Data Liberation

#2114 [CORS Proxy] Support chunked encoding when running in Apache/Nginx/etc
  packages/playground/php-cors-proxy/cors-proxy.php
Labels: [Type] Bug, [Package][@wp-playground] CORS Proxy

#2120 [Data Liberation] Recognize self-closing blocks in WP_Block_Markup_Processor
  packages/playground/data-liberation/src/block-markup/WP_Block_Markup_Processor.php
  packages/playground/data-liberation/tests/WPBlockMarkupProcessorTests.php
Labels: [Type] Enhancement, [Aspect] Data Liberation

#2119 [PHP] Restore /internal files and Filesystem mounts after hotswapPhpRuntime is called
  packages/php-wasm/node/src/lib/node-fs-mount.ts
  packages/php-wasm/node/src/test/rotate-php-runtime.spec.ts
  packages/php-wasm/universal/src/lib/php.ts
  packages/php-wasm/universal/src/lib/rotate-php-runtime.ts
Labels: [Type] Bug, [Package][@php-wasm] Web, [Package][@php-wasm] Node
