Repository WordPress/wordpress-playground, pull requests merged in 2025-10, with the labels that each got.

#2699 [Website] IDE-like PHP playground
  .eslintrc.json
  package-lock.json
  package.json
  packages/playground/build-config.ts
  packages/playground/components/e2e/playwright.config.ts
  packages/playground/components/e2e/tests/playground-file-picker.spec.ts
  packages/playground/components/playwright-file-picker.html
  packages/playground/components/project.json
  packages/playground/components/src/FilePickerControl/index.tsx
  packages/playground/components/src/FilePickerTree/index.tsx
  packages/playground/components/src/FilePickerTree/style.module.css
  packages/playground/components/src/demos/GitBrowserDemo.tsx
  packages/playground/components/src/e2e-harnesses/file-picker-tree-entry.tsx
  packages/playground/components/src/e2e-harnesses/file-picker-tree-harness.tsx
  packages/playground/components/src/index.ts
  packages/playground/website-extras/.eslintrc.json
  packages/playground/website-extras/.htaccess
  packages/playground/website-extras/README.md
  packages/playground/website-extras/beta-php-playground.html
  packages/playground/website-extras/package.json
  packages/playground/website-extras/project.json
  packages/playground/website-extras/src/components/address-bar/index.tsx
  packages/playground/website-extras/src/components/address-bar/style.module.css
  packages/playground/website-extras/src/components/spinner/index.tsx
  packages/playground/website-extras/src/components/spinner/style.module.css
  packages/playground/website-extras/src/php-playground/components/Controls.tsx
  packages/playground/website-extras/src/php-playground/components/EditorHost.tsx
  packages/playground/website-extras/src/php-playground/components/HelpModal.tsx
  packages/playground/website-extras/src/php-playground/components/Layout.module.css
  packages/playground/website-extras/src/php-playground/components/Layout.tsx
  packages/playground/website-extras/src/php-playground/components/PlaygroundManager.tsx
  packages/playground/website-extras/src/php-playground/components/file-explorer/FileExplorer.module.css
  packages/playground/website-extras/src/php-playground/components/file-explorer/FileExplorerPlaceholder.tsx
  packages/playground/website-extras/src/php-playground/components/file-explorer/FileExplorerSidebar.tsx
  packages/playground/website-extras/src/php-playground/components/terminal/Terminal.module.css
  packages/playground/website-extras/src/php-playground/components/terminal/Terminal.tsx
  packages/playground/website-extras/src/php-playground/components/terminal/TerminalPlaceholder.tsx
  packages/playground/website-extras/src/php-playground/constants.ts
  packages/playground/website-extras/src/php-playground/hooks.ts
  packages/playground/website-extras/src/php-playground/main.tsx
  packages/playground/website-extras/src/php-playground/runtime.ts
  packages/playground/website-extras/src/php-playground/store.ts
  packages/playground/website-extras/src/php-playground/url-state.ts
  packages/playground/website-extras/tsconfig.app.json
  packages/playground/website-extras/tsconfig.json
  packages/playground/website-extras/tsconfig.spec.json
  packages/playground/website-extras/vite.config.ts
  packages/playground/website-extras/vite.oauth.ts
  packages/playground/website/README.md
  packages/playground/website/project.json
  packages/playground/website/vite.config.ts
Labels: [Type] Enhancement, [Aspect] Website, Release Highlight

#2745 [Meta] Fix package-lock.json after dependabot
  .github/workflows/dependabot-lockfile.yml
  package.json
Labels: [Type] Enhancement, [Type] Repo / Project Management

#2730 Update tmp package to the latest version
  package-lock.json
  package.json
Labels: [Type] Enhancement
