Repository WordPress/wordpress-playground, pull requests merged in 2025-07, with the labels that each got.

#2310 Updating quick start guide
  packages/docs/site/docs/main/quick-start-guide.md
  packages/docs/site/static/img/open-site-manager.webp
  packages/docs/site/static/img/playground-settings-menu.webp
  packages/docs/site/static/img/site-manager-import-actions-menu.webp
  packages/docs/site/static/img/site-manager-menu.webp
Labels: [Type] Documentation

#2307 Adding Brazilian Portuguese Intro documentation
  packages/docs/site/docusaurus.config.js
  packages/docs/site/i18n/pt-BR/docusaurus-plugin-content-blog/options.json
  packages/docs/site/i18n/pt-BR/docusaurus-plugin-content-docs/current.json
  packages/docs/site/i18n/pt-BR/docusaurus-plugin-content-docs/current/main/intro.md
  packages/docs/site/i18n/pt-BR/docusaurus-plugin-content-docs/current/main/quick-start-guide.md
  packages/docs/site/i18n/pt-BR/docusaurus-theme-classic/footer.json
  packages/docs/site/i18n/pt-BR/docusaurus-theme-classic/navbar.json
Labels: [Type] Documentation, [Aspect] Internationalization (i18n)

#2314 [Web] Use null Response body when Playground responde with a null body status code
  packages/php-wasm/web-service-worker/src/utils.ts
Labels: [Type] Bug, [Aspect] Browser, [Aspect] Service Worker

#2322 Make fs-ext dependency optional
  package-lock.json
  package.json
  packages/php-wasm/node/build.js
  packages/php-wasm/node/src/lib/file-lock-manager-for-node.ts
  packages/playground/cli/src/run-cli.ts
  packages/playground/cli/vite.config.ts
Labels: [Type] Bug, [Package][@php-wasm] Node, [Package][@wp-playground] CLI

#2319 Replace bun with node in `local-package-repository` script
  tools/scripts/local-package-repository.sh
Labels: [Type] Developer Experience, [Focus] Developer Tools

#2305 Add Japanese translations to Getting started with Blueprints
  packages/docs/site/i18n/ja/docusaurus-plugin-content-docs/current/blueprints/01-index.md
Labels: [Type] Documentation, [Aspect] Internationalization (i18n)

#2330 Add Japanese translations to Using Blueprints
  packages/docs/site/i18n/ja/docusaurus-plugin-content-docs/current/blueprints/02-using-blueprints.md
Labels: [Type] Documentation, [Aspect] Internationalization (i18n)

#2323 Add --internal-cookie-store option for Playground CLI
  packages/playground/cli/src/run-cli.ts
  packages/playground/cli/src/worker-thread.ts
Labels: [Type] Enhancement, [Package][@wp-playground] CLI

#2345 Updating slack channel from #meta-playground to #playground
  packages/docs/site/docs/blueprints/07-json-api-and-function-api.md
  packages/docs/site/docs/main/contributing/contributor-day.md
  packages/docs/site/docs/main/intro.md
  packages/docs/site/docusaurus.config.js
  packages/docs/site/i18n/es/docusaurus-plugin-content-docs/current/main/intro.md
  packages/docs/site/i18n/es/docusaurus-theme-classic/footer.json
  packages/docs/site/i18n/fr/docusaurus-plugin-content-docs/current/main/intro.md
  packages/docs/site/i18n/fr/docusaurus-theme-classic/footer.json
  packages/docs/site/i18n/ja/docusaurus-plugin-content-docs/current/main/contributing/contributor-day.md
  packages/docs/site/i18n/ja/docusaurus-plugin-content-docs/current/main/intro.md
  packages/docs/site/i18n/ja/docusaurus-theme-classic/footer.json
  packages/docs/site/i18n/pt-BR/docusaurus-plugin-content-docs/current/main/intro.md
  packages/docs/site/i18n/pt-BR/docusaurus-theme-classic/footer.json
Labels: [Type] Documentation

#2363 [php-wasm/universal] Try require() before dynamic imprt in comlink-sync.ts
  packages/php-wasm/universal/src/lib/comlink-sync.ts
Labels: [Type] Bug, [Package][@php-wasm] Universal

#2362 [Playground CLI] Move mounting code to mount.ts
  packages/playground/cli/src/cli-auto-mount.ts
  packages/playground/cli/src/mount.ts
  packages/playground/cli/src/resolve-blueprint.ts
  packages/playground/cli/src/run-cli.ts
Labels: [Type] Enhancement, [Package][@wp-playground] CLI

#2360 [Playground CLI] Consolidate auto mounting logic
  packages/playground/blueprints/src/lib/compile.ts
  packages/playground/cli/src/mounts.spec.ts
  packages/playground/cli/src/mounts.ts
  packages/playground/cli/src/run-cli.ts
Labels: [Type] Enhancement, [Package][@wp-playground] CLI

#2354 Adding video content in Japanese to resources page
  packages/docs/site/docs/main/resources.md
Labels: [Type] Documentation

#2337 [Documentation] Adding Playground CLI page and removing wp-now references
  README.md
  packages/docs/site/docs/developers/05-local-development/01-wp-now.md
  packages/docs/site/docs/developers/05-local-development/04-wp-playground-cli.md
  packages/docs/site/docs/developers/05-local-development/intro.md
  packages/docs/site/docs/main/about/build.md
  packages/docs/site/docs/main/contributing/contributor-day.md
  packages/docs/site/docs/main/guides/for-plugin-developers.md
  packages/docs/site/docs/main/guides/for-theme-developers.md
  packages/docs/site/sidebars.js
  packages/docs/site/static/img/developers/npx-wp-playground-server.gif
Labels: [Type] Documentation

#2371 Make PHP 8.3 the default version
  packages/playground/blueprints/src/lib/steps/run-php.spec.ts
  packages/playground/blueprints/src/lib/steps/run-sql.spec.ts
  packages/playground/blueprints/src/lib/steps/wp-cli.spec.ts
  packages/playground/blueprints/src/lib/steps/write-files.spec.ts
  packages/playground/cli/src/worker-thread.ts
  packages/playground/common/src/index.ts
  packages/playground/remote/src/lib/worker-thread.ts
  packages/playground/website/cypress/e2e/query-api.cy.ts
  packages/playground/website/playwright/e2e/query-api.spec.ts
  packages/playground/website/src/components/site-manager/site-settings-form/unconnected-site-settings-form.tsx
  packages/playground/website/src/lib/state/url/resolve-blueprint-from-url.ts
Labels: [Type] Enhancement, [Package][@php-wasm] CLI, [Aspect] Website, [Package][@wp-playground] CLI, Release Highlight

#2377 Allow the WP update and changelog workflows to commit to trunk again
  .github/workflows/refresh-wordpress-major-and-beta.yml
  .github/workflows/refresh-wordpress-nightly.yml
  .github/workflows/update-changelog.yml
Labels: [Type] Bug, [Package][@wp-playground] WordPress Builds

#2378 Deploy public web app after WP major/beta update
  .github/workflows/refresh-wordpress-major-and-beta.yml
Labels: [Aspect] Website, [Package][@wp-playground] WordPress Builds

#2379 [PHP-wasm Node] Remove unused node creation code from createNodeFsMountHandler
  packages/php-wasm/node/src/lib/node-fs-mount.ts
Labels: [Type] Bug, [Aspect] Filesystem, [Package][@php-wasm] Node

#2401 [Playground CLI] Improve error reporting
  packages/playground/cli/src/cli.ts
  packages/playground/cli/src/run-cli.ts
Labels: [Type] Enhancement, [Package][@wp-playground] CLI

#2344 CLI: Fix --login option and "landingPage" Blueprint property
  .github/workflows/ci.yml
  packages/playground/cli/src/run-cli.ts
  packages/playground/cli/tests/test-running-unbuilt-cli.sh
  packages/playground/test-built-npm-packages/commonjs-and-jest/tests/wp.spec.ts
  packages/playground/test-built-npm-packages/es-modules-and-vitest/tests/wp.spec.ts
Labels: [Type] Bug, [Package][@wp-playground] CLI

#2406 [Blueprints] Rewrite paths in the wp-cli step. Improve error reporting.
  packages/playground/blueprints/src/lib/steps/wp-cli.ts
  packages/playground/cli/src/run-cli.ts
Labels: [Type] Enhancement, [Package][@wp-playground] Blueprints, [Package][@wp-playground] CLI

#2402 [ xdebug ] Bridge DBGP session with CDP server
  CHANGELOG.md
  package-lock.json
  package.json
  packages/docs/site/docs/main/changelog.md
  packages/php-wasm/xdebug-bridge/.eslintrc.json
  packages/php-wasm/xdebug-bridge/README.md
  packages/php-wasm/xdebug-bridge/package.json
  packages/php-wasm/xdebug-bridge/project.json
  packages/php-wasm/xdebug-bridge/public/xdebug-bridge.js
  packages/php-wasm/xdebug-bridge/src/cli.ts
  packages/php-wasm/xdebug-bridge/src/index.ts
  packages/php-wasm/xdebug-bridge/src/lib/cdp-server.ts
  packages/php-wasm/xdebug-bridge/src/lib/dbgp-session.ts
  packages/php-wasm/xdebug-bridge/src/lib/index.ts
  packages/php-wasm/xdebug-bridge/src/lib/run-cli.ts
  packages/php-wasm/xdebug-bridge/src/lib/start-bridge.ts
  packages/php-wasm/xdebug-bridge/src/lib/xdebug-cdp-bridge.ts
  packages/php-wasm/xdebug-bridge/src/xdebug-bridge.ts
  packages/php-wasm/xdebug-bridge/tsconfig.spec.json
  packages/php-wasm/xdebug-bridge/vite.config.ts
Labels: [Type] Enhancement, [Aspect] Browser, [Feature] PHP.wasm, [Type] Developer Experience, [Focus] Developer Tools, [Aspect] Node.js

#2407 [Comlink] Throw the original error in the error handler
  packages/php-wasm/universal/src/lib/api.ts
Labels: [Type] Enhancement, [Type] Developer Experience

#2411 [ xdebug ] Add `--experimental-devtools` option in Playground CLI
  packages/php-wasm/xdebug-bridge/src/lib/start-bridge.ts
  packages/php-wasm/xdebug-bridge/src/lib/xdebug-cdp-bridge.ts
  packages/playground/cli/src/run-cli.ts
Labels: [Type] Enhancement, [Aspect] Browser, [Type] Developer Experience, [Focus] Developer Tools, [Package][@wp-playground] CLI, Release Highlight, XDebug

#2422 [Xdebug Bridge] Correct error related to unresolved promises in bridge
  packages/php-wasm/xdebug-bridge/src/lib/start-bridge.ts
  packages/php-wasm/xdebug-bridge/src/lib/xdebug-cdp-bridge.ts
Labels: [Type] Bug, XDebug

#2425 Skip flaky e2e tests in Firefox and Webkit
  packages/playground/website/playwright/e2e/blueprints.spec.ts
Labels: [Type] Enhancement, Tests, [Type] Repo / Project Management

#2426 Distribute @wp-playground/client without any package.json dependencies
  .github/workflows/ci.yml
  packages/nx-extensions/src/executors/package-json/executor.ts
  packages/playground/client/package.json
Labels: [Type] Enhancement, [Package][@wp-playground] Client
