Repository WordPress/wordpress-playground, pull requests merged in 2025-02, with the labels that each got.

#2155 Fix scp error in web app deployment
  .github/workflows/build-website.yml
Labels: [Type] Bug, [Aspect] Website

#2157 [Fix] Zip spec compliance for exported backup file
  packages/playground/blueprints/src/lib/steps/zip-wp-content.ts
Labels: [Type] Bug, [Feature] Import Export

#2156 Ensure all NPM packages have readmes included in their builds
  packages/php-wasm/cli/project.json
  packages/php-wasm/progress/project.json
  packages/php-wasm/scopes/project.json
  packages/php-wasm/web-service-worker/project.json
  packages/playground/blueprints/project.json
  packages/playground/cli/project.json
  packages/playground/client/project.json
  packages/playground/components/project.json
  packages/playground/remote/project.json
  packages/playground/sync/project.json
Labels: [Type] Bug, [Type] Documentation, [Type] Developer Experience, [Type] Developer Documentation

#2159 Stop adding source maps to offline assets list (#68)
  packages/vite-extensions/vite-list-assets-required-for-offline-mode.ts
Labels: [Type] Bug

#2160 Attempt to fix docs site deployment
  .github/workflows/ci.yml
Labels: [Type] Bug, [Type] Documentation

#2161 Update deploy-pages action to v4
  .github/workflows/ci.yml
Labels: [Type] Bug, [Type] Documentation
