Repository WordPress/wordpress-playground, pull requests merged in 2025-08, with the labels that each got.

#2457 Updating Docusaurus version from 3.7 to 3.8
  package-lock.json
  package.json
Labels: [Type] Documentation

#2441 [ CLI ] Rename CLI binaries in `@php-wasm/cli` and `@wp-playground/cli`
  packages/php-wasm/cli/package.json
  packages/playground/cli/package.json
Labels: [Type] Bug, [Aspect] Node.js, [Package][@php-wasm] CLI, [Package][@wp-playground] CLI

#2445 Re-enable Playground CLI tests
  .github/workflows/ci.yml
  packages/playground/blueprints/public/blueprint-schema-validator.js
  packages/playground/blueprints/public/blueprint-schema.json
  packages/playground/blueprints/src/lib/steps/run-php.ts
  packages/playground/cli/project.json
  packages/playground/cli/src/blueprints-v1/blueprints-v1-handler.ts
  packages/playground/cli/src/blueprints-v2/blueprints-v2-handler.ts
  packages/playground/cli/src/mounts.ts
  packages/playground/cli/tests/run-cli.spec.ts
  packages/playground/cli/vite.config.ts
  packages/playground/test-built-npm-packages/commonjs-and-jest/tests/wp.spec.ts
  packages/playground/test-built-npm-packages/es-modules-and-vitest/tests/wp.spec.ts
Labels: [Type] Bug, Tests, [Package][@wp-playground] CLI

#2351 [Docs] Adding Resources, Web instance, and guides pages on Brazilian Portuguese
  packages/docs/site/i18n/pt-BR/docusaurus-plugin-content-docs/current/main/guides/for-plugin-developers.md
  packages/docs/site/i18n/pt-BR/docusaurus-plugin-content-docs/current/main/guides/for-theme-developers.md
  packages/docs/site/i18n/pt-BR/docusaurus-plugin-content-docs/current/main/guides/index.md
  packages/docs/site/i18n/pt-BR/docusaurus-plugin-content-docs/current/main/guides/providing-content-for-your-demo.md
  packages/docs/site/i18n/pt-BR/docusaurus-plugin-content-docs/current/main/guides/wordpress-native-ios-app.md
  packages/docs/site/i18n/pt-BR/docusaurus-plugin-content-docs/current/main/resources.md
  packages/docs/site/i18n/pt-BR/docusaurus-plugin-content-docs/current/main/web-instance.md
Labels: [Type] Documentation, [Type] Enhancement

#2463 [Website] Add PHP Playground
  packages/playground/website/public/php-playground.html
Labels: [Type] Enhancement, [Type] Developer Experience, [Aspect] Website, [Package][@wp-playground] Website

#2458 Suppress PHP warnings when pre-fetching WordPress updates
  packages/playground/remote/src/lib/wordpress-fetch-network-transport.ts
Labels: [Type] Bug, [Aspect] Browser, [Aspect] Website, [Package][@wp-playground] Website

#2470 [Blueprints] Fallback to URL-based file name when fetching remote ZIP files
  packages/playground/blueprints/src/lib/resources.ts
Labels: [Type] Bug, [Package][@wp-playground] Blueprints

#2469 [Browser] Do not use the Buffer class in web browsers
  packages/php-wasm/util/src/lib/writable-polyfill.ts
Labels: [Type] Bug, [Aspect] Browser, [Package][@php-wasm] Util

#2444 Fix resolving mounted symlinks in secondary PHP instances
  packages/php-wasm/node/src/lib/load-runtime.ts
  packages/playground/cli/src/run-cli.ts
  packages/playground/cli/tests/run-cli.spec.ts
  packages/playground/wordpress/src/boot.ts
Labels: [Type] Bug, [Package][@php-wasm] Node, [Package][@wp-playground] CLI

#2472 [PHP Playground] Select WordPress version
  packages/playground/website/public/php-playground.html
Labels: [Type] Enhancement, [Type] UI / UX / User Experience

#2467 [WordPress] Support auto-login with customize.php as a landing page
  packages/php-wasm/universal/src/lib/php-request-handler.ts
  packages/php-wasm/universal/src/lib/urls.ts
  packages/playground/blueprints/src/lib/compile.ts
  packages/playground/website/playwright/e2e/blueprints.spec.ts
  packages/playground/wordpress/src/index.ts
Labels: [Type] Bug, [Package][@wp-playground] Blueprints

#2476 Tagalog: Translations of Blueprints docs page
  packages/docs/site/i18n/tl/docusaurus-plugin-content-docs/current/blueprints/intro.md
Labels: [Type] Documentation, [Aspect] Internationalization (i18n)

#2505 Re-enable and fix native file locking tests
  packages/php-wasm/node/src/test/file-lock-manager-for-node.spec.ts
Labels: [Type] Bug, Tests, [Package][@php-wasm] Node

#2503 Translating fragments docs and adding Contributor badge page
  packages/docs/site/i18n/pt-BR/_fragments/_api_list.mdx
  packages/docs/site/i18n/pt-BR/_fragments/_playground_wp_net_may_stop_working.md
  packages/docs/site/i18n/pt-BR/_fragments/_this_is_query_api.md
  packages/docs/site/i18n/pt-BR/_fragments/_work_in_progress.md
  packages/docs/site/i18n/pt-BR/docusaurus-plugin-content-docs/current/main/about/build.md
  packages/docs/site/i18n/pt-BR/docusaurus-plugin-content-docs/current/main/about/test.md
  packages/docs/site/i18n/pt-BR/docusaurus-plugin-content-docs/current/main/contributing/contributor-badge.md
  packages/docs/site/i18n/pt-BR/docusaurus-plugin-content-docs/current/main/contributing/translations.md
Labels: [Type] Documentation, [Aspect] Internationalization (i18n)

#2514 Fix: "referrences" should be "references"
  packages/docs/site/docs/blueprints/tutorial/03-build-your-first-blueprint.md
Labels: [Type] Documentation

#2511 Add Japanese translations to Blueprints 101 and What are Blueprints?
  packages/docs/site/i18n/ja/docusaurus-plugin-content-docs/current/blueprints/tutorial/01-what-are-blueprints-what-you-can-do-with-them.md
  packages/docs/site/i18n/ja/docusaurus-plugin-content-docs/current/blueprints/tutorial/index.md
Labels: [Type] Documentation, [Aspect] Internationalization (i18n)

#2495 [Blueprints] Use the local worker in Builder in development mode
  packages/playground/client/src/index.ts
  packages/playground/client/tsconfig.json
  packages/playground/client/tsconfig.lib.json
  packages/playground/php-cors-proxy/cors-proxy-functions.php
  packages/playground/website/builder/builder.ts
Labels: [Type] Developer Experience, [Focus] Developer Tools, [Package][@wp-playground] Blueprints, [Feature] Blueprints Builder

#2534 Updating Translation Documentation Page
  packages/docs/site/docs/main/contributing/translations.md
  packages/docs/site/static/img/contributing/language-switcher-docs.webp
Labels: [Type] Documentation

#2507 Added Gujarati Translation for coding-standards.md file
  packages/docs/site/i18n/gu/docusaurus-plugin-content-docs/current/main/contributing/coding-standards.md
Labels: [Type] Documentation, [Aspect] Internationalization (i18n)

#2525 Playground CLI: Support --auto-mount=path option
  packages/playground/cli/src/mounts.ts
  packages/playground/cli/src/run-cli.ts
  packages/playground/cli/tests/run-cli.spec.ts
Labels: [Type] Enhancement, [Package][@wp-playground] CLI

#2409 [XDebug Bridge] Fetch all array keys when inspecting an array
  packages/php-wasm/xdebug-bridge/project.json
  packages/php-wasm/xdebug-bridge/src/lib/cdp-server.ts
  packages/php-wasm/xdebug-bridge/src/lib/dbgp-session.ts
  packages/php-wasm/xdebug-bridge/src/lib/xdebug-cdp-bridge.ts
  packages/php-wasm/xdebug-bridge/src/tests/cdp-server.spec.ts
  packages/php-wasm/xdebug-bridge/src/tests/dbgp-session.spec.ts
  packages/php-wasm/xdebug-bridge/src/tests/fixtures/array.php
  packages/php-wasm/xdebug-bridge/src/tests/fixtures/test.php
  packages/php-wasm/xdebug-bridge/src/tests/mocker.ts
  packages/php-wasm/xdebug-bridge/src/tests/run-cli.spec.ts
  packages/php-wasm/xdebug-bridge/src/tests/start-bridge.spec.ts
  packages/php-wasm/xdebug-bridge/src/tests/xdebug-cdp-bridge.spec.ts
  packages/php-wasm/xdebug-bridge/tests/mock-test.spec.ts
  packages/php-wasm/xdebug-bridge/tsconfig.json
  packages/php-wasm/xdebug-bridge/vite.config.ts
Labels: [Type] Enhancement, [Package][@php-wasm] CLI, [Package][@wp-playground] CLI, XDebug

#2555 [Web] tolerate empty e.target in addTargetBlankToExternalLinks
  packages/playground/remote/src/lib/playground-mu-plugin/0-playground.php
Labels: [Type] Bug, [Aspect] Browser

#2436 [php-wasm-logger] Filter logs by severity in Logger and assign severity based on verbosity argument in CLIs
  CHANGELOG.md
  packages/docs/site/docs/developers/05-local-development/04-wp-playground-cli.md
  packages/docs/site/docs/main/changelog.md
  packages/docs/site/i18n/gu/docusaurus-plugin-content-docs/current/main/contributing/contributor-badge.md
  packages/docs/site/i18n/gu/docusaurus-plugin-content-docs/current/main/contributing/index.md
  packages/php-wasm/logger/project.json
  packages/php-wasm/logger/src/lib/collectors/collect-php-logs.ts
  packages/php-wasm/logger/src/lib/collectors/collect-window-errors.ts
  packages/php-wasm/logger/src/lib/handlers/log-event.ts
  packages/php-wasm/logger/src/lib/handlers/log-to-console.ts
  packages/php-wasm/logger/src/lib/handlers/log-to-memory.ts
  packages/php-wasm/logger/src/lib/logger.ts
  packages/php-wasm/logger/src/test/logger.spec.ts
  packages/php-wasm/xdebug-bridge/README.md
  packages/php-wasm/xdebug-bridge/src/lib/cdp-server.ts
  packages/php-wasm/xdebug-bridge/src/lib/dbgp-session.ts
  packages/php-wasm/xdebug-bridge/src/lib/run-cli.ts
  packages/php-wasm/xdebug-bridge/src/lib/start-bridge.ts
  packages/php-wasm/xdebug-bridge/src/lib/xdebug-cdp-bridge.ts
  packages/php-wasm/xdebug-bridge/src/tests/dbgp-session.spec.ts
  packages/php-wasm/xdebug-bridge/src/tests/mocker.ts
  packages/php-wasm/xdebug-bridge/src/tests/run-cli.spec.ts
  packages/php-wasm/xdebug-bridge/src/tests/start-bridge.spec.ts
  packages/playground/cli/README.md
  packages/playground/cli/src/blueprints-v1/blueprints-v1-handler.ts
  packages/playground/cli/src/run-cli.ts
  packages/playground/cli/tests/run-cli.spec.ts
  packages/playground/test-built-npm-packages/es-modules-and-vitest/tests/wp.spec.ts
  tools/scripts/local-package-repository.sh
Labels: [Type] Enhancement, [Package][@php-wasm] Logger, [Package][@wp-playground] CLI, XDebug

#2519 Playground CLI: Wire up execution modes for Blueprints v2
  packages/playground/cli/src/mounts.ts
  packages/playground/cli/src/run-cli.ts
  packages/playground/cli/tests/run-cli.spec.ts
  packages/playground/cli/tsconfig.spec.json
Labels: [Type] Bug, [Package][@wp-playground] CLI

#2567 Use unique tmp.zip filename in unzipFile() to avoid conflicts in async calls
  packages/php-wasm/node/project.json
  packages/php-wasm/node/src/test/unzip-file.spec.ts
  packages/playground/common/src/index.ts
Labels: [Type] Bug, [Package][@php-wasm] Node

#2569 [WordPress][CLI] Allow requesting internal URLs via http_request_host_is_external
  packages/playground/remote/src/lib/playground-mu-plugin/0-playground.php
  packages/playground/wordpress/src/index.ts
  packages/playground/wordpress/src/test/http-request-host-is-external.spec.ts
Labels: [Type] Bug, [Aspect] Networking, [Package][@php-wasm] Node

#2486 [Website] Renaming stored Playgrounds
  packages/playground/website/playwright/e2e/website-ui.spec.ts
  packages/playground/website/src/components/layout/index.tsx
  packages/playground/website/src/components/modal/modal-buttons.tsx
  packages/playground/website/src/components/rename-site-modal/index.tsx
  packages/playground/website/src/components/site-manager/site-info-panel/index.tsx
Labels: [Type] Enhancement, [Feature] OPFS, [Aspect] Website
