Repository WordPress/wordpress-playground, pull requests merged in 2025-09, with the labels that each got.

#2574 Added Gujarati Translation for intro-devs.md file
  packages/docs/site/i18n/gu/docusaurus-plugin-content-docs/current/developers/intro-devs.md
Labels: [Type] Documentation, [Aspect] Internationalization (i18n)

#2576 Added Gujarati Translation for Index.md File
  packages/docs/site/i18n/gu/docusaurus-plugin-content-docs/current/main/guides/index.md
Labels: [Type] Documentation, [Aspect] Internationalization (i18n)

#2573 Updating wp versions blueprints
  packages/docs/site/docs/blueprints/03-data-format.md
Labels: [Type] Documentation, [Aspect] Internationalization (i18n)

#2583 Adding runCLI section to the Playground CLI page
  packages/docs/site/docs/developers/05-local-development/04-wp-playground-cli.md
Labels: [Type] Documentation

#2577 Added Gujarati Translation for JSON API and Function API File
  packages/docs/site/i18n/gu/docusaurus-plugin-content-docs/current/blueprints/07-json-api-and-function-api.md
Labels: [Type] Documentation, [Aspect] Internationalization (i18n)

#2588 [PHP] Rotate the spawn handler in hotSwapPHPRuntime()
  packages/php-wasm/node/src/test/rotate-php-runtime.spec.ts
  packages/php-wasm/universal/src/lib/php.ts
Labels: [Type] Bug, [Feature] PHP.wasm, [Package][@php-wasm] Universal

#2594 Move runBlueprintV2 to the blueprints package
  packages/playground/blueprints/src/index.ts
  packages/playground/blueprints/src/lib/v2/blueprint-v2-declaration.ts
  packages/playground/blueprints/src/lib/v2/run-blueprint-v2.ts
  packages/playground/cli/src/blueprints-v2/worker-thread-v2.ts
  packages/playground/cli/tests/blueprints-v2.spec.ts
  packages/playground/cli/tsconfig.lib.json
Labels: [Package][@wp-playground] Blueprints

#2593 Adding reference to multiple theme URL parameter
  packages/docs/site/docs/developers/06-apis/query-api/01-index.md
  packages/docs/site/docs/main/quick-start-guide.md
Labels: [Type] Documentation

#2566 [XDebug Bridge] Highlight syntax of php scripts from mime type in Devtools
  packages/php-wasm/xdebug-bridge/src/lib/xdebug-cdp-bridge.ts
  packages/php-wasm/xdebug-bridge/src/tests/xdebug-cdp-bridge.spec.ts
Labels: [Type] Enhancement, [Package][@php-wasm] CLI, [Package][@wp-playground] CLI, XDebug

#2499 Adding more internal links between pages
  packages/docs/site/docs/developers/23-architecture/12-browser-service-workers.md
  packages/docs/site/docs/developers/23-architecture/18-host-your-own-playground.md
  packages/docs/site/docs/developers/24-limitations/01-index.md
  packages/docs/site/docs/main/contributing/code.md
  packages/docs/site/docs/main/contributing/coding-standards.md
  packages/docs/site/docs/main/contributing/contributor-day.md
  packages/docs/site/docs/main/contributing/documentation.md
  packages/docs/site/docs/main/contributing/index.md
  packages/docs/site/docs/main/guides/index.md
  packages/docs/site/docs/main/guides/providing-content-for-your-demo.md
  packages/docs/site/docs/main/quick-start-guide.md
Labels: [Type] Documentation

#2553 Updating runCLI demo at wp-playground/cli README file
  packages/playground/cli/README.md
Labels: [Type] Documentation

#2571 Add structured issue templates for bugs, enhancements, and documentation
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-enhancement.yml
  .github/ISSUE_TEMPLATE/3-documentation-improvement.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: [Type] Enhancement

#2595 [Website] Apply base URLs to relative redirection URLs
  packages/php-wasm/web-service-worker/src/utils.ts
Labels: [Type] Enhancement, [Package][@wp-playground] Website

#2596 [Website] A specific error when a GitHub artifact is not found
  packages/playground/remote/src/lib/worker-thread.ts
  packages/playground/website/public/plugin-proxy.php
  packages/playground/website/src/components/playground-viewport/index.tsx
  packages/playground/website/src/components/playground-viewport/style.module.css
  packages/playground/website/src/lib/state/redux/boot-site-client.ts
  packages/playground/website/src/lib/state/redux/slice-ui.ts
Labels: [Type] Enhancement, [Type] UI / UX / User Experience, [Aspect] Website, [Package][@wp-playground] Website

#2599 Added Gujarati Translation for Native Ios App
  packages/docs/site/i18n/gu/docusaurus-plugin-content-docs/current/main/guides/wordpress-native-ios-app.md
Labels: [Type] Documentation, [Aspect] Internationalization (i18n)

#2572 [Translations] Adding local environment section to pt-BR
  packages/docs/site/i18n/pt-BR/docusaurus-plugin-content-docs/current/developers/05-local-development/01-wp-now.md
  packages/docs/site/i18n/pt-BR/docusaurus-plugin-content-docs/current/developers/05-local-development/02-vscode-extension.md
  packages/docs/site/i18n/pt-BR/docusaurus-plugin-content-docs/current/developers/05-local-development/03-php-wasm-node.md
  packages/docs/site/i18n/pt-BR/docusaurus-plugin-content-docs/current/developers/05-local-development/04-wp-playground-cli.md
  packages/docs/site/i18n/pt-BR/docusaurus-plugin-content-docs/current/developers/05-local-development/_category_.json
  packages/docs/site/i18n/pt-BR/docusaurus-plugin-content-docs/current/developers/05-local-development/intro.md
Labels: [Type] Documentation, [Aspect] Internationalization (i18n)

#2606 Added Gujarati Translation for Code.md File
  packages/docs/site/i18n/gu/docusaurus-plugin-content-docs/current/main/contributing/code.md
Labels: [Type] Documentation, [Aspect] Internationalization (i18n)

#2640 [Blueprints v1] Use the wordpress-importer plugin for the importWxr step
  packages/playground/blueprints/src/lib/compile.ts
  packages/playground/blueprints/src/lib/steps/fixtures/import-tt5-subset-of-demo-blueprint-playgroundcontent.xml
  packages/playground/blueprints/src/lib/steps/fixtures/import-wxr-base-url-rewriting.xml
  packages/playground/blueprints/src/lib/steps/fixtures/import-wxr-comprehensive.xml
  packages/playground/blueprints/src/lib/steps/import-wxr.spec.ts
  packages/playground/blueprints/src/lib/steps/import-wxr.ts
  packages/playground/website-deployment/custom-redirects-lib.php
  packages/playground/website/.htaccess
  packages/playground/website/public/wordpress-importer.zip
Labels: [Type] Enhancement, [Package][@wp-playground] Blueprints, Needs backporting to Blueprints v2

#2644 [Blueprints] Move Blueprints v1-specific files to v1 subdirectory
  packages/playground/blueprints/src/index.ts
  packages/playground/blueprints/src/lib/resolve-remote-blueprint.ts
  packages/playground/blueprints/src/lib/steps/import-wxr.spec.ts
  packages/playground/blueprints/src/lib/steps/index.ts
  packages/playground/blueprints/src/lib/steps/install-plugin.ts
  packages/playground/blueprints/src/lib/steps/install-theme.ts
  packages/playground/blueprints/src/lib/steps/wp-cli.ts
  packages/playground/blueprints/src/lib/steps/write-files.ts
  packages/playground/blueprints/src/lib/v1/compile.spec.ts
  packages/playground/blueprints/src/lib/v1/compile.ts
  packages/playground/blueprints/src/lib/v1/resources.spec.ts
  packages/playground/blueprints/src/lib/v1/resources.ts
  packages/playground/blueprints/src/lib/v1/types.ts
  packages/playground/blueprints/src/lib/v2/blueprint-v2-declaration.ts
  packages/playground/client/tsconfig.lib.json
Labels: [Type] Enhancement, [Package][@wp-playground] Blueprints

#2645 [Blueprints] Rename BlueprintDeclaration to BlueprintV1Declaration
  packages/playground/blueprints/bin/generate-schema.js
  packages/playground/blueprints/public/blueprint-schema-validator.js
  packages/playground/blueprints/public/blueprint-schema.json
  packages/playground/blueprints/src/index.ts
  packages/playground/blueprints/src/lib/v1/compile.ts
  packages/playground/blueprints/src/lib/v1/types.ts
  packages/playground/blueprints/src/lib/v2/blueprint-v2-declaration.ts
  packages/playground/cli/src/blueprints-v1/blueprints-v1-handler.ts
  packages/playground/cli/src/run-cli.ts
  packages/playground/website/src/components/error-report-modal/index.tsx
  packages/playground/website/src/components/layout/index.tsx
  packages/playground/website/src/github/preview-pr/form.tsx
  packages/playground/website/src/lib/site-metadata.ts
  packages/playground/website/src/lib/state/url/resolve-blueprint-from-url.ts
Labels: [Type] Enhancement, [Package][@wp-playground] Blueprints

#2628 [i18n] Tagalog translations for using blueprints page
  packages/docs/site/i18n/tl/docusaurus-plugin-content-docs/current/blueprints/02-using-blueprints.md
Labels: [Type] Documentation, [Aspect] Internationalization (i18n)

#2649 [Blueprints] Log step names without parsing
  packages/playground/blueprints/src/lib/v1/compile.ts
  packages/playground/client/src/index.ts
  packages/playground/website/src/lib/state/redux/boot-site-client.ts
Labels: [Type] Enhancement, [Package][@wp-playground] Blueprints, [Package][@wp-playground] Website, [Package][@wp-playground] Client

#2652 [Website] Split Playground remote initialization logic into Blueprint-version specific workers
  packages/playground/remote/src/lib/boot-playground-remote.ts
  packages/playground/remote/src/lib/playground-client.ts
  packages/playground/remote/src/lib/playground-worker-endpoint-blueprints-v1.ts
  packages/playground/remote/src/lib/playground-worker-endpoint.ts
  packages/playground/remote/src/lib/worker-thread.ts
Labels: [Type] Enhancement, [Package][@wp-playground] Blueprints

#2654 [Website] Isolate resolveBlueprintFromURL() calls
  packages/playground/website/src/components/ensure-playground-site/ensure-playground-site-is-selected.tsx
  packages/playground/website/src/components/site-manager/sidebar/index.tsx
  packages/playground/website/src/components/site-manager/site-persist-button/index.tsx
  packages/playground/website/src/components/site-manager/storage-type/index.tsx
  packages/playground/website/src/lib/site-metadata.ts
  packages/playground/website/src/lib/state/opfs/opfs-site-storage.ts
  packages/playground/website/src/lib/state/redux/persist-temporary-site.ts
  packages/playground/website/src/lib/state/redux/slice-sites.ts
  packages/playground/website/src/lib/state/url/resolve-blueprint-from-url.ts
Labels: [Package][@wp-playground] Blueprints, [Aspect] Website, [Package][@wp-playground] Remote

#2672 [Blueprints] Separate computing the runtime configuration from compiling a Blueprint
  packages/playground/blueprints/src/index.ts
  packages/playground/blueprints/src/lib/reflection.ts
  packages/playground/blueprints/src/lib/resolve-runtime-configuration.ts
  packages/playground/blueprints/src/lib/types.ts
  packages/playground/cli/src/blueprints-v1/blueprints-v1-handler.ts
  packages/playground/client/src/blueprints-v1-handler.ts
  packages/playground/website/src/lib/state/redux/slice-sites.ts
Labels: [Type] Enhancement, [Package][@wp-playground] Website, Has cleanup items

#2679 [Website] Disable curl_share_init by default (to make Composer work)
  packages/playground/remote/src/lib/playground-worker-endpoint.ts
Labels: [Type] Enhancement, [Aspect] Networking, [Package][@wp-playground] Website

#2681 [CLI] Polyfill the Buffer class without making it an empty object in CLI
  packages/playground/storage/src/lib/git-sparse-checkout.ts
  packages/playground/test-built-npm-packages/es-modules-and-vitest/tests/wp.spec.ts
Labels: [Type] Bug, [Package][@wp-playground] Storage, [Package][@wp-playground] CLI

#2682 Playground CLI: Log unhandled rejections and stop them from crashing workers
  packages/playground/cli/src/blueprints-v1/worker-thread-v1.ts
  packages/playground/cli/src/blueprints-v2/worker-thread-v2.ts
Labels: [Type] Bug, [Package][@wp-playground] CLI

#2698 CORS proxy: Fix custom origin validation during deployment
  .github/workflows/deploy-cors-proxy.yml
Labels: [Type] Bug, [Package][@wp-playground] CORS Proxy

#2701 [PHP] Add "ls" and "pwd" CLI commands
  packages/php-wasm/node/src/test/php.spec.ts
  packages/php-wasm/universal/src/lib/php.ts
  packages/php-wasm/universal/src/lib/sandboxed-spawn-handler-factory.ts
Labels: [Type] Enhancement, [Package][@php-wasm] CLI, [Package][@php-wasm] Web, [Package][@php-wasm] Node

#2704 Preserve chroot across all worker-managed PHP instances
  packages/php-wasm/node/project.json
  packages/php-wasm/node/src/test/php-worker.spec.ts
  packages/php-wasm/universal/src/lib/php-worker.ts
Labels: [Feature] PHP.wasm, [Package][@php-wasm] Universal
