Repository WordPress/wordpress-playground, pull requests merged in 2025-06, with the labels that each got.

#2230 Fix doc deployment
  .github/workflows/ci.yml
Labels: [Type] Bug, [Type] Documentation, [Type] Developer Experience, [Type] Developer Documentation

#2229 [Playground CLI] Fix mount path parsing to support Windows paths #131
  packages/playground/cli/src/cli-auto-mount.ts
  packages/playground/cli/src/cli.ts
  packages/playground/cli/src/mount.ts
  packages/playground/cli/src/run-cli.ts
  packages/playground/test-built-npm-packages/commonjs-and-jest/tests/wp.spec.ts
  packages/playground/test-built-npm-packages/es-modules-and-vitest/tests/wp.spec.ts
Labels: [Type] Bug, [Package][@wp-playground] CLI

#2258 PHP CLI – Ensure the PHP_BINARY constant is set to the PHP-WASM binary
  packages/php-wasm/cli/src/main.ts
Labels: [Package][@php-wasm] CLI, [Package][@php-wasm] Node

#2268 Blueprints: Tolerate relative paths
  packages/playground/blueprints/src/lib/steps/cp.spec.ts
  packages/playground/blueprints/src/lib/steps/cp.ts
  packages/playground/blueprints/src/lib/steps/mkdir.spec.ts
  packages/playground/blueprints/src/lib/steps/mkdir.ts
  packages/playground/blueprints/src/lib/steps/mv.spec.ts
  packages/playground/blueprints/src/lib/steps/mv.ts
  packages/playground/blueprints/src/lib/steps/rm.spec.ts
  packages/playground/blueprints/src/lib/steps/rm.ts
  packages/playground/blueprints/src/lib/steps/rmdir.spec.ts
  packages/playground/blueprints/src/lib/steps/rmdir.ts
  packages/playground/blueprints/src/lib/steps/run-php.spec.ts
  packages/playground/blueprints/src/lib/steps/run-php.ts
  packages/playground/blueprints/src/lib/steps/write-file.spec.ts
  packages/playground/blueprints/src/lib/steps/write-file.ts
  packages/playground/blueprints/src/lib/steps/write-files.ts
Labels: [Type] Enhancement, [Type] Developer Experience, [Package][@wp-playground] Blueprints

#2273 [WordPress] Split bootWordPress and bootRequestHandler
  packages/playground/wordpress/src/boot.ts
  packages/playground/wordpress/src/index.ts
Labels: [Aspect] WordPress, [Feature] Boot Flow

#2275 Blueprints – ship v2 runner with the Blueprints package
  packages/playground/blueprints/public/blueprints.phar
  packages/playground/blueprints/src/lib/v2.spec.ts
  packages/playground/blueprints/src/lib/v2.ts
  packages/playground/blueprints/vite.config.ts
Labels: [Type] Enhancement, [Package][@wp-playground] Blueprints

#2280 Correct inline docs for isExitCode return type
  packages/php-wasm/universal/src/lib/is-exit-code.ts
Labels: [Type] Bug, [Type] Documentation, [Type] Developer Documentation

#2225 [Website] Update the fake address bar via setInterval()
  packages/playground/remote/src/lib/boot-playground-remote.ts
Labels: [Type] Bug, [Aspect] Website

#2300 PHP Node: Only consider NODEFS to be a shared filesystem
  packages/php-wasm/compile/php/phpwasm-emscripten-library-file-locking-for-node.js
  packages/php-wasm/node/jspi/php_7_2.js
  packages/php-wasm/node/jspi/php_7_3.js
  packages/php-wasm/node/jspi/php_7_4.js
  packages/php-wasm/node/jspi/php_8_0.js
  packages/php-wasm/node/jspi/php_8_1.js
  packages/php-wasm/node/jspi/php_8_2.js
  packages/php-wasm/node/jspi/php_8_3.js
  packages/php-wasm/node/jspi/php_8_4.js
Labels: [Type] Bug, [Package][@php-wasm] Node
